Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2019-04, with the labels that each got.

#166 Update dependencies (4/1/19)
  Gopkg.lock
  Gopkg.toml
  WORKSPACE
  vendor/sigs.k8s.io/cluster-api/CONTRIBUTING.md
  vendor/sigs.k8s.io/cluster-api/Dockerfile
  vendor/sigs.k8s.io/cluster-api/Makefile
  vendor/sigs.k8s.io/cluster-api/README.md
  vendor/sigs.k8s.io/cluster-api/WORKSPACE
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/README.md
  vendor/sigs.k8s.io/cluster-api/cmd/manager/main.go
  vendor/sigs.k8s.io/cluster-api/config/crds/cluster_v1alpha1_machine.yaml
  vendor/sigs.k8s.io/cluster-api/config/crds/cluster_v1alpha1_machinedeployment.yaml
  vendor/sigs.k8s.io/cluster-api/config/crds/cluster_v1alpha1_machineset.yaml
  vendor/sigs.k8s.io/cluster-api/config/default/manager_image_patch.yaml
  vendor/sigs.k8s.io/cluster-api/config/rbac/rbac_role.yaml
  vendor/sigs.k8s.io/cluster-api/docs/book/SUMMARY.md
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/cluster_controller.md
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_cluster_reconciliation.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_cluster_reconciliation.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_machine_controller_reconciliation.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_machine_controller_reconciliation.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_machine_deletion_block.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_machine_deletion_block.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_machinedeployment_reconciliation.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_machinedeployment_reconciliation.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_machineset_reconciliation.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_machineset_reconciliation.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_node_reconciliation.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/activity_node_reconciliation.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/sequence_cluster_creation.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/sequence_cluster_creation.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/sequence_cluster_deletion.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/sequence_cluster_deletion.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/sequence_machine_creation.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/sequence_machine_creation.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/sequence_machine_deletion.drawio
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/images/sequence_machine_deletion.svg
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/machine_controller.md
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/machinedeployment_controller.md
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/machineset_controller.md
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/node_controller.md
  vendor/sigs.k8s.io/cluster-api/docs/book/provider_implementations/register_schemes.md
  vendor/sigs.k8s.io/cluster-api/pkg/apis/cluster/v1alpha1/machine_types.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/cluster/v1alpha1/machineset_types.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machine/controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machinedeployment/controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machineset/controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machineset/delete_policy.go
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, release-note, sig/azure, size/L

#162 Fix kubernetes version for node startup script
  .gitignore
  cmd/clusterctl/examples/azure/generate-yaml.sh
  cmd/clusterctl/examples/azure/machines.yaml.template
  pkg/cloud/azure/services/config/startupscript.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/S

#170 Add node role
  .gitignore
  pkg/cloud/azure/services/config/node.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/XS

#158 Add design diagram and notes on code, for easier development
  docs/README.md
  docs/design.jpg
  docs/design.md
  docs/design.xml
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/azure, size/M

#173 Fix incorrect internalLB deletion name
  pkg/cloud/azure/actuators/cluster/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/azure, size/XS

#176 Fix frontproxy ca cert
  pkg/cloud/azure/services/config/controlplane.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/XS

#179 fix: align comments to behavior
  pkg/cloud/azure/services/internalloadbalancers/internalloadbalancers.go
  pkg/cloud/azure/services/publicips/publicips.go
  pkg/cloud/azure/services/publicloadbalancers/publicloadbalancers.go
  pkg/cloud/azure/services/routetables/routetables.go
  pkg/cloud/azure/services/securitygroups/securitygroups.go
  pkg/cloud/azure/services/subnets/subnets.go
  pkg/cloud/azure/services/virtualmachineextensions/virtualmachineextensions.go
  pkg/cloud/azure/services/virtualmachines/virtualmachines.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/azure, size/M

#180 Update Service interface to use Reconcile/Delete methods
  Makefile
  pkg/cloud/azure/actuators/cluster/actuator_test.go
  pkg/cloud/azure/actuators/cluster/reconciler.go
  pkg/cloud/azure/actuators/machine/actuator_test.go
  pkg/cloud/azure/actuators/machine/reconciler.go
  pkg/cloud/azure/fake_interfaces.go
  pkg/cloud/azure/interfaces.go
  pkg/cloud/azure/services/availabilityzones/availabilityzones.go
  pkg/cloud/azure/services/availabilityzones/service.go
  pkg/cloud/azure/services/certificates/certificates.go
  pkg/cloud/azure/services/certificates/certificates_test.go
  pkg/cloud/azure/services/certificates/service.go
  pkg/cloud/azure/services/config/startupscript.go
  pkg/cloud/azure/services/groups/groups.go
  pkg/cloud/azure/services/groups/service.go
  pkg/cloud/azure/services/internalloadbalancers/internalloadbalancers.go
  pkg/cloud/azure/services/internalloadbalancers/service.go
  pkg/cloud/azure/services/networkinterfaces/networkinterfaces.go
  pkg/cloud/azure/services/networkinterfaces/service.go
  pkg/cloud/azure/services/publicips/publicips.go
  pkg/cloud/azure/services/publicips/service.go
  pkg/cloud/azure/services/publicloadbalancers/publicloadbalancers.go
  pkg/cloud/azure/services/publicloadbalancers/service.go
  pkg/cloud/azure/services/routetables/routetables.go
  pkg/cloud/azure/services/routetables/service.go
  pkg/cloud/azure/services/securitygroups/securitygroups.go
  pkg/cloud/azure/services/securitygroups/service.go
  pkg/cloud/azure/services/subnets/service.go
  pkg/cloud/azure/services/subnets/subnets.go
  pkg/cloud/azure/services/virtualmachineextensions/service.go
  pkg/cloud/azure/services/virtualmachineextensions/virtualmachineextensions.go
  pkg/cloud/azure/services/virtualmachines/service.go
  pkg/cloud/azure/services/virtualmachines/virtualmachines.go
  pkg/cloud/azure/services/virtualnetworks/service.go
  pkg/cloud/azure/services/virtualnetworks/virtualnetworks.go
Labels: approved, cncf-cla: yes, kind/design, lgtm, priority/important-soon, release-note, sig/azure, size/XXL

#181 Use Canal (flannel + Calico policy) as CNI
  cmd/clusterctl/examples/azure/addons.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/azure, size/XL

#185 s/BUILD/BUILD.bazel
  cmd/clusterctl/BUILD.bazel
  cmd/versioninfo/BUILD.bazel
  hack/BUILD.bazel
  pkg/apis/BUILD.bazel
  pkg/apis/azureprovider/BUILD.bazel
  pkg/apis/azureprovider/v1alpha1/BUILD.bazel
  pkg/cloud/azure/services/availabilityzones/mock_availabilityzones/BUILD.bazel
  pkg/cloud/azure/services/certificates/BUILD.bazel
  pkg/cloud/azure/services/groups/mock_groups/BUILD.bazel
  pkg/cloud/azure/services/internalloadbalancers/mock_internalloadbalancers/BUILD.bazel
  pkg/cloud/azure/services/networkinterfaces/mock_networkinterfaces/BUILD.bazel
  pkg/cloud/azure/services/publicips/mock_publicips/BUILD.bazel
  pkg/cloud/azure/services/publicloadbalancers/mock_publicloadbalancers/BUILD.bazel
  pkg/cloud/azure/services/routetables/mock_routetables/BUILD.bazel
  pkg/cloud/azure/services/securitygroups/mock_securitygroups/BUILD.bazel
  pkg/cloud/azure/services/subnets/mock_subnets/BUILD.bazel
  pkg/cloud/azure/services/virtualmachineextensions/mock_virtualmachineextensions/BUILD.bazel
  pkg/cloud/azure/services/virtualmachines/mock_virtualmachines/BUILD.bazel
  pkg/cloud/azure/services/virtualnetworks/mock_virtualnetworks/BUILD.bazel
  pkg/cloudtest/BUILD.bazel
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/azure, size/XS

#186 Fix containerd checksum
  pkg/cloud/azure/services/config/BUILD.bazel
  pkg/cloud/azure/services/config/containerdChecksum_test.go
  pkg/cloud/azure/services/config/startupscript.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/scheme/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/constants/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/features/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/images/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/phases/bootstraptoken/node/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/phases/certs/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/phases/kubeconfig/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/apiclient/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/kubeconfig/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/pkiutil/BUILD.bazel
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/pubkeypin/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/pubkeypin/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/apis/core/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/BUILD
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/features/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/config/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/kubelet/types/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/proxy/apis/config/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/registry/core/service/allocator/BUILD
  vendor/k8s.io/kubernetes/pkg/registry/core/service/allocator/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/registry/core/service/ipallocator/BUILD
  vendor/k8s.io/kubernetes/pkg/registry/core/service/ipallocator/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/version/BUILD
  vendor/k8s.io/kubernetes/pkg/version/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/build/BUILD
Labels: approved, cncf-cla: yes, lgtm, priority/critical-urgent, release-note, sig/apps, sig/azure, size/XL

#187 Review #186
  pkg/cloud/azure/services/config/BUILD.bazel
  pkg/cloud/azure/services/config/startupscript_test.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/scheme/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/constants/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/features/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/images/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/phases/bootstraptoken/node/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/phases/certs/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/phases/kubeconfig/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/apiclient/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/kubeconfig/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/pkiutil/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/pubkeypin/BUILD
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/pubkeypin/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/apis/core/BUILD
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/BUILD
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/features/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/config/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/types/BUILD
  vendor/k8s.io/kubernetes/pkg/proxy/apis/config/BUILD
  vendor/k8s.io/kubernetes/pkg/registry/core/service/allocator/BUILD
  vendor/k8s.io/kubernetes/pkg/registry/core/service/allocator/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/registry/core/service/ipallocator/BUILD
  vendor/k8s.io/kubernetes/pkg/registry/core/service/ipallocator/BUILD.bazel
  vendor/k8s.io/kubernetes/pkg/version/BUILD
  vendor/k8s.io/kubernetes/pkg/version/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/build/BUILD
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/apps, sig/azure, size/XL

#202 fix: delete OS disk when deleting VM
  Makefile
  pkg/cloud/azure/actuators/machine/BUILD.bazel
  pkg/cloud/azure/actuators/machine/actuator_test.go
  pkg/cloud/azure/actuators/machine/reconciler.go
  pkg/cloud/azure/defaults.go
  pkg/cloud/azure/services/disks/BUILD.bazel
  pkg/cloud/azure/services/disks/disks.go
  pkg/cloud/azure/services/disks/mock_disks/BUILD.bazel
  pkg/cloud/azure/services/disks/mock_disks/disks_mock.go
  pkg/cloud/azure/services/disks/service.go
  pkg/cloud/azure/services/virtualmachines/virtualmachines.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/azure, size/L
