Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2019-12, with the labels that each got.

#341 🏃Add unit tests for machine tags functionality
  controllers/azuremachine_tags_unit_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#342 Update default SKU ID naming format
  cloud/defaults.go
  cloud/defaults_test.go
  controllers/azuremachine_reconciler.go
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#339 v1alpha2 e2e initial work
  Makefile
  go.mod
  go.sum
  go.vendor
  hack/ensure-kind.sh
  hack/ensure-kustomize.sh
  scripts/ci-e2e.sh
  test/e2e/auth/creds.go
  test/e2e/azure_suite_test.go
  test/e2e/azure_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/framework/clean_up.go
  test/e2e/framework/convenience.go
  test/e2e/framework/doc.go
  test/e2e/framework/exec/command.go
  test/e2e/framework/interfaces.go
  test/e2e/framework/management/kind/mgmt.go
  test/e2e/framework/types.go
  test/e2e/generators/cabpk.go
  test/e2e/generators/capi.go
  test/e2e/generators/capz.go
  test/e2e/kustomization.yaml
  test/e2e/one_node_cluster_test.go
  test/e2e/util/kind/setup.go
  test/integration/metacluster_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XXL

#343 adding links
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#353 ✨Add tilt provider to work with cluster-api tiltfile
  .dockerignore
  .gitignore
  docs/development.md
  tilt-provider.json
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M
