Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2019-03, with the labels that each got.

#96 Adds Bazel code to generate necessary RBAC rules during a build
  Makefile
  README.md
  build/controller_gen.bzl
  cmd/clusterctl/examples/azure/BUILD
  config/BUILD.bazel
  config/default/BUILD.bazel
  config/default/kustomization.yaml
  config/default/rbac_role_binding_patch.yaml
  config/manager/BUILD.bazel
  config/rbac/rbac_role.yaml
  vendor/sigs.k8s.io/cluster-api/config/rbac/rbac_role_binding.yaml
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/L

#117 docs: Add documentation on the release process
  RELEASE.md
  docs/release-notes-template.md
  docs/releasing.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, sig/azure, size/L

#99 Update configurations and package logic to enable builds from master
  cmd/clusterctl/examples/azure/addons.yaml
  cmd/clusterctl/examples/azure/addons.yaml.template
  cmd/clusterctl/examples/azure/machines.yaml.template
  cmd/clusterctl/examples/azure/machines_no_node.yaml.template
  config/crds/azureprovider_v1alpha1_azureclusterproviderstatus.yaml
  config/rbac/rbac_role.yaml
  pkg/apis/azureprovider/v1alpha1/types.go
  pkg/apis/azureprovider/v1alpha1/zz_generated.deepcopy.go
  pkg/cloud/azure/actuators/machine/actuator.go
  pkg/cloud/azure/services/compute/disks.go
  pkg/cloud/azure/services/compute/virtualmachines.go
  pkg/cloud/azure/services/config/controlplane.go
  pkg/cloud/azure/services/config/node.go
  pkg/cloud/azure/services/network/BUILD.bazel
  pkg/cloud/azure/services/network/interfaces.go
  pkg/cloud/azure/services/network/loadbalancer.go
  pkg/cloud/azure/services/network/network.go
  pkg/cloud/azure/services/network/publicipaddress.go
  pkg/cloud/azure/services/network/securitygroups.go
  pkg/cloud/azure/services/network/virtualnetworks.go
  pkg/cloud/azure/services/resources/deployments.go
  pkg/cloud/azure/services/resources/groups.go
  pkg/cloud/azure/services/resources/template/deployment-template.json
  pkg/deployer/BUILD.bazel
  pkg/deployer/deployer.go
  pkg/tokens/tokens.go
  vendor/sigs.k8s.io/cluster-api/config/rbac/rbac_role_binding.yaml
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/XXL

#120 lint: Update golangci-lint and fix gocyclo issues reported by golangci- lint
  .golangci.yml
  WORKSPACE
  pkg/cloud/azure/services/compute/virtualmachines.go
  scripts/ci-bazel-lint.sh
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/L

#121 Additional golangci-lint updates and lint fixes
  .golangci.yml
  WORKSPACE
  pkg/cloud/azure/actuators/machine/actuator.go
  pkg/cloud/azure/services/network/loadbalancer.go
  pkg/tokens/tokens.go
  scripts/ci-bazel-lint.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/azure, size/M

#124 Update public IP creation/reconcile
  pkg/cloud/azure/actuators/machine/actuator.go
  pkg/cloud/azure/services/network/interfaces.go
  pkg/cloud/azure/services/network/publicipaddress.go
  pkg/deployer/deployer.go
Labels: approved, cncf-cla: yes, lgtm, priority/critical-urgent, release-note, sig/azure, size/M

#126 clean up bazel workspace dependencies
  WORKSPACE
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/azure, size/S

#128 docs: Add support policy and update release doc
  README.md
  docs/releasing.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/azure, size/M

#132 Bump dependencies (3/11/19)
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/github.com/Azure/go-autorest/autorest/client.go
  vendor/github.com/Azure/go-autorest/autorest/version.go
  vendor/sigs.k8s.io/cluster-api/Gopkg.lock
  vendor/sigs.k8s.io/cluster-api/Makefile
  vendor/sigs.k8s.io/cluster-api/WORKSPACE
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/clusterclient/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/clusterdeployer.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/cmd/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/cmd/alpha_phase_pivot.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/cmd/delete_cluster.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/phases/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/phases/applymachines.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/phases/pivot.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/testdata/delete-cluster-no-args-invalid-flag.golden
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/testdata/delete-cluster-no-args.golden
  vendor/sigs.k8s.io/cluster-api/config/default/manager_image_patch.yaml
  vendor/sigs.k8s.io/cluster-api/config/rbac/rbac_role.yaml
  vendor/sigs.k8s.io/cluster-api/docs/book/provider_implementations/register_schemes.md
  vendor/sigs.k8s.io/cluster-api/docs/developer/releasing.md
  vendor/sigs.k8s.io/cluster-api/hack/verify-bazel.sh
  vendor/sigs.k8s.io/cluster-api/hack/verify_clientset.sh
  vendor/sigs.k8s.io/cluster-api/pkg/apis/cluster/common/consts.go
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machine/controller.go
  vendor/sigs.k8s.io/cluster-api/pkg/errors/machines.go
  vendor/sigs.k8s.io/cluster-api/scripts/ci-integration.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/azure, size/XXL

#133 Update cluster-api dependency
  Gopkg.lock
  Gopkg.toml
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/azure, size/S

#134 apis: Update types descriptions
  config/crds/azureprovider_v1alpha1_azureclusterproviderspec.yaml
  config/crds/azureprovider_v1alpha1_azureclusterproviderstatus.yaml
  config/crds/azureprovider_v1alpha1_azuremachineproviderstatus.yaml
  pkg/apis/azureprovider/v1alpha1/azureclusterproviderconfig_types.go
  pkg/apis/azureprovider/v1alpha1/azuremachineproviderconfig_types.go
  pkg/apis/azureprovider/v1alpha1/azuremachineproviderstatus_types.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/azure, size/L

#143 Update dependencies (3/23/19)
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-12-01/network/BUILD.bazel
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-12-01/network/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-12-01/network/peerexpressroutecircuitconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-12-01/network/webapplicationfirewallpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/token.go
  vendor/github.com/Azure/go-autorest/autorest/version.go
  vendor/sigs.k8s.io/cluster-api/.github/ISSUE_TEMPLATE/bug_report.md
  vendor/sigs.k8s.io/cluster-api/.github/ISSUE_TEMPLATE/feature_request.md
  vendor/sigs.k8s.io/cluster-api/Gopkg.lock
  vendor/sigs.k8s.io/cluster-api/README.md
  vendor/sigs.k8s.io/cluster-api/architecture.png
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/bootstrap/kind/kind.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/bootstrap/minikube/minikube.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/clusterdeployer/clusterdeployer.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/cmd/alpha_phase_get_kubeconfig.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/cmd/create_cluster.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/phases/getkubeconfig.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/testdata/create-cluster-no-args-invalid-flag.golden
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/testdata/create-cluster-no-args.golden
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/architecture.md
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/architecture.png
  vendor/sigs.k8s.io/cluster-api/docs/book/common_code/architecture.svg
  vendor/sigs.k8s.io/cluster-api/pkg/controller/machine/controller.go
  vendor/sigs.k8s.io/cluster-api/scripts/fetch_ext_bins.sh
  vendor/sigs.k8s.io/cluster-api/test/integration/cluster/BUILD.bazel
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, release-note-none, sig/azure, size/XXL

#146 Update OWNERS
  OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, release-note-none, sig/azure, size/M

#147 Remove hardcoded values from virtual machines, respect values from ma…
  pkg/cloud/azure/actuators/machine/actuator.go
  pkg/cloud/azure/defaults.go
  pkg/cloud/azure/services/virtualmachines/BUILD.bazel
  pkg/cloud/azure/services/virtualmachines/virtualmachines.go
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/M

#145 fix: Restructure machine actuator for unittests, and add unittests
  Gopkg.lock
  pkg/apis/azureprovider/v1alpha1/azuremachineproviderconfig_types.go
  pkg/apis/azureprovider/v1alpha1/types.go
  pkg/apis/azureprovider/v1alpha1/zz_generated.deepcopy.go
  pkg/cloud/azure/actuators/machine/BUILD.bazel
  pkg/cloud/azure/actuators/machine/actuator.go
  pkg/cloud/azure/actuators/machine/actuator_test.go
  pkg/cloud/azure/actuators/machine/reconciler.go
  pkg/cloud/azure/fake_interfaces.go
  pkg/cloud/azure/services/config/BUILD.bazel
  pkg/cloud/azure/services/config/controlplane.go
  pkg/cloud/azure/services/config/node.go
  pkg/cloud/azure/services/config/startupscript.go
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/XXL

#149 fix: Generate consistent names for Azure resources
  config/crds/azureprovider_v1alpha1_azuremachineproviderspec.yaml
  pkg/cloud/azure/actuators/clients.go
  pkg/cloud/azure/actuators/cluster/actuator_test.go
  pkg/cloud/azure/actuators/cluster/reconciler.go
  pkg/cloud/azure/actuators/machine/reconciler.go
  pkg/cloud/azure/defaults.go
  pkg/cloud/azure/services/config/startupscript.go
  pkg/cloud/azure/services/internalloadbalancers/internalloadbalancers.go
  pkg/cloud/azure/services/networkinterfaces/networkinterfaces.go
  pkg/cloud/azure/services/subnets/subnets.go
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, release-note-none, sig/azure, size/L

#150 Release commit: v0.1.0
  Makefile
  cmd/clusterctl/examples/azure/generate-yaml.sh
  cmd/release/main.go
  docs/releasing.md
Labels: approved, cncf-cla: yes, lgtm, priority/critical-urgent, release-note-none, sig/azure, size/S

#152 Enable deadcode linter
  .golangci.yml
Labels: approved, cncf-cla: yes, lgtm, priority/important-longterm, release-note-none, sig/azure, size/XS

#156 docs(getting-started): Add md5sum dep
  docs/getting-started.md
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/azure, size/XS

#159 fix: Increase mem limits, use Ubuntu 18.04, install kubernetes-cni 0.6.0
  cmd/clusterctl/examples/azure/machines.yaml.template
  config/manager/manager.yaml
  pkg/cloud/azure/actuators/cluster/reconciler.go
  pkg/cloud/azure/services/config/controlplane.go
  pkg/cloud/azure/services/config/node.go
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/S

#161 remove tariq1890 from the list of maintainers
  OWNERS_ALIASES
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/azure, size/XS

#155 fix: Support Availability Zones based on regions, automatically known…
  pkg/cloud/azure/actuators/cluster/actuator_test.go
  pkg/cloud/azure/actuators/machine/BUILD.bazel
  pkg/cloud/azure/actuators/machine/actuator_test.go
  pkg/cloud/azure/actuators/machine/reconciler.go
  pkg/cloud/azure/converters/vm.go
  pkg/cloud/azure/services/availabilityzones/BUILD.bazel
  pkg/cloud/azure/services/availabilityzones/availabilityzones.go
  pkg/cloud/azure/services/availabilityzones/service.go
  pkg/cloud/azure/services/internalloadbalancers/internalloadbalancers.go
  pkg/cloud/azure/services/publicips/publicips.go
  pkg/cloud/azure/services/publicloadbalancers/publicloadbalancers.go
  pkg/cloud/azure/services/virtualmachines/virtualmachines.go
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/XL

#163 Update OWNERS (add juan-lee and serbrech as reviewers)
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/azure, size/XS

#164 Update to Kubernetes 1.13.5 (CVE mitigation)
  WORKSPACE
  cmd/clusterctl/examples/azure/machines.yaml.template
Labels: approved, cncf-cla: yes, lgtm, priority/critical-urgent, release-note, sig/azure, size/S
