Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2019-07, with the labels that each got.

#237 Add mock dependencies in tools.go
  Makefile
  WORKSPACE
  hack/BUILD.bazel
  hack/tools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/computeapi/BUILD.bazel
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/computeapi/interfaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-12-01/network/networkapi/BUILD.bazel
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-12-01/network/networkapi/interfaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/resourcesapi/BUILD.bazel
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/resourcesapi/interfaces.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/XXL

#238 Added check in generate-yaml.sh that verifies the Azure EnvVars are set
  cmd/clusterctl/examples/azure/generate-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/XS

#239 Added check in generate-yaml.sh that verifies the Azure EnvVars are set
  cmd/clusterctl/examples/azure/generate-yaml.sh
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/XS

#240 Update Cluster API to v0.1.7
  config/crds/azureprovider_v1alpha1_azureclusterproviderspec.yaml
  go.mod
  go.sum
  hack/update-vendor.sh
  vendor/github.com/gobuffalo/envy/shoulders.md
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/.github/ISSUE_TEMPLATE/bug_report.md
  vendor/sigs.k8s.io/cluster-api/.github/ISSUE_TEMPLATE/feature_request.md
  vendor/sigs.k8s.io/cluster-api/.github/PULL_REQUEST_TEMPLATE.md
  vendor/sigs.k8s.io/cluster-api/.gitignore
  vendor/sigs.k8s.io/cluster-api/.golangci.yml
  vendor/sigs.k8s.io/cluster-api/Makefile
  vendor/sigs.k8s.io/cluster-api/config/default/manager_image_patch.yaml
  vendor/sigs.k8s.io/cluster-api/pkg/controller/noderef/noderef_controller.go
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/L

#241 config: Update cri-containerd to v1.2.7
  .gitignore
  Makefile
  pkg/cloud/azure/services/config/startupscript.go
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/L

#242 capi: Update CAPI to v0.1.8
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/docs/book/npm-shrinkwrap.json
  vendor/sigs.k8s.io/cluster-api/docs/book/package-lock.json
  vendor/sigs.k8s.io/cluster-api/pkg/controller/cluster/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/pkg/controller/cluster/cluster_controller.go
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/azure, size/M

#243 HA Clusters: phase 0
  WORKSPACE
  cmd/clusterctl/examples/azure/BUILD.bazel
  cmd/clusterctl/examples/azure/controlplane-machine.yaml.template
  cmd/clusterctl/examples/azure/controlplane-machines-ha.yaml.template
  cmd/clusterctl/examples/azure/generate-yaml.sh
  cmd/clusterctl/examples/azure/machine-deployment.yaml.template
  pkg/cloud/azure/actuators/machine/actuator_test.go
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/azure, size/L

#230 Update bazel workspace (7/4/19)
  BUILD.bazel
  WORKSPACE
  pkg/cloud/azure/services/subnets/subnets.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/azure, size/M

#245 HA: Add logic for NAT rule selection
  pkg/cloud/azure/actuators/BUILD.bazel
  pkg/cloud/azure/actuators/control_plane_lock.go
  pkg/cloud/azure/actuators/machine/actuator.go
  pkg/cloud/azure/actuators/machine/reconciler.go
  pkg/cloud/azure/services/networkinterfaces/networkinterfaces.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/azure, size/M

#246 Remove SSH private key material from AzureMachineProviderSpec
  cmd/clusterctl/examples/azure/controlplane-machine.yaml.template
  cmd/clusterctl/examples/azure/controlplane-machines-ha.yaml.template
  cmd/clusterctl/examples/azure/generate-yaml.sh
  cmd/clusterctl/examples/azure/machine-deployment.yaml.template
  cmd/clusterctl/examples/azure/machines.yaml.template
  config/crds/azureprovider_v1alpha1_azuremachineproviderspec.yaml
  pkg/apis/azureprovider/v1alpha1/azuremachineproviderconfig_types.go
  test/e2e/azure_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/azure, size/S

#249 Update repo documentation and dependencies
  WORKSPACE
  cmd/clusterctl/examples/azure/BUILD.bazel
  cmd/clusterctl/examples/azure/machine-deployment.yaml.template
  docs/BUILD.bazel
  docs/development.md
  docs/getting-started.md
  docs/manifests.md
  docs/releasing.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/azure, size/L

#250 Fix secret list RBAC for deletions
  config/rbac/rbac_role.yaml
  pkg/cloud/azure/actuators/machine/actuator.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/XS

#251 Update OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/azure, size/XS

#252 Update CAPI to v0.1.8
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/Makefile
  vendor/sigs.k8s.io/cluster-api/config/default/manager_image_patch.yaml
  vendor/sigs.k8s.io/cluster-api/netlify.toml
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, release-note-none, sig/azure, size/S

#253 Fixes cluster-delete in Makefile
  Makefile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/azure, size/XS
