Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2019-06, with the labels that each got.

#210 Update Kubernetes version to 1.14.3
  WORKSPACE
  cmd/clusterctl/examples/azure/generate-yaml.sh
  pkg/cloud/azure/actuators/machine/actuator_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/azure, size/XS

#213 Add GetControlPlaneMachines function
  pkg/cloud/azure/actuators/machine/actuator.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/azure, size/S

#215 bumped version of go as well as kind directions and added make
  docs/development.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/azure, size/XS

#217 Update CAPI to v0.1.3
  Gopkg.lock
  Gopkg.toml
  vendor/sigs.k8s.io/cluster-api/Makefile
  vendor/sigs.k8s.io/cluster-api/config/default/manager_image_patch.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/azure, size/S

#218 Small fixup of getting-started.md
  docs/getting-started.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/XS

#219 Setting Dockerfile FROM 1.12 instead of 1.12.1
  Dockerfile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/XS

#220 updated link to the k8s bot page
  README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/azure, size/XS

#223 fix(availabilityzones): iterate all AZ, consider location/AZ restrictions
  pkg/cloud/azure/services/availabilityzones/availabilityzones.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/M

#226 fix: add retries to containerd download in custom script
  pkg/cloud/azure/services/config/controlplane.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/XS

#225 docs: add note about custom script logs to getting-started.md
  docs/getting-started.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/azure, size/XS

#227 update Bazel rules_go and bump go version
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/azure, size/XS

#229 fix: infinite loop bug in iteration over VM SKU
  pkg/cloud/azure/services/availabilityzones/availabilityzones.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/azure, size/XS

#168 Update to Kubernetes 1.15.0
  README.md
  WORKSPACE
  cmd/clusterctl/examples/azure/generate-yaml.sh
  docs/release-notes-template.md
  docs/releasing.md
  pkg/cloud/azure/actuators/machine/actuator_test.go
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, release-note, sig/azure, size/M
