Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-03, with the labels that each got.

#422 🏃 Update capi to v0.3.0-rc.2
  cloud/scope/cluster.go
  cloud/scope/machine.go
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  examples/generate.sh
  go.mod
  go.sum
  test/e2e/azure_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#425 🏃dependencies: update cluster-api to use v0.3.0-rc.3
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  examples/generate.sh
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/azure_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#421 🏃 [e2e] Consume CAPI's e2e framework
  go.sum
  test/e2e/azure_suite_test.go
  test/e2e/azure_test.go
  test/e2e/control_plane_cluster_test.go
  test/e2e/framework/clean_up.go
  test/e2e/framework/convenience.go
  test/e2e/framework/doc.go
  test/e2e/framework/exec/command.go
  test/e2e/framework/framework_flags.go
  test/e2e/framework/interfaces.go
  test/e2e/framework/management/kind/mgmt.go
  test/e2e/framework/types.go
  test/e2e/generators/cabpk.go
  test/e2e/generators/capi.go
  test/e2e/generators/capz.go
  test/e2e/resource_generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XL

#334 Make image parameters more user friendly
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/conversion_test.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azureimage_validation.go
  api/v1alpha3/azureimage_validation_test.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/azuremachine_webhook_test.go
  api/v1alpha3/decode.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/converters/image.go
  cloud/defaults.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/webhook/manifests.yaml
  config/webhook/webhookcainjection_patch.yaml
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  go.mod
  main.go
  test/e2e/resource_generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XXL

#430 🏃dependencies: update azure-sdk-for-go to v40.2.0 and go-autorest to v13.4.0
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#424 Remove examples and switch add cluster-template
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  api/v1alpha3/azuremachinetemplate_types.go
  cloud/services/publicloadbalancers/publicloadbalancers.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  docs/development.md
  examples/addons.yaml
  examples/cluster/cluster.yaml
  examples/cluster/kustomization.yaml
  examples/cluster/kustomizeconfig.yaml
  examples/controlplane/controlplane.yaml
  examples/controlplane/kustomizeconfig.yaml
  examples/generate.sh
  examples/machinedeployment/kustomization.yaml
  examples/machinedeployment/kustomizeconfig.yaml
  examples/machinedeployment/machinedeployment.yaml
  examples/provider-components/kustomization.yaml
  examples/provider-components/manager_tolerations_patch.yaml
  examples/wait-for-ready.sh
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  templates/cluster-template.yaml
  templates/kustomization.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#431 fix: add joinConfiguration to cluster template
  templates/cluster-template.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#432 fix: point to node resources in azure.json
  docs/topics/custom-vnet.md
  templates/cluster-template.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#434 docs: small fixes to development docs
  docs/development.md
  docs/manifests.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#437 add azure prefix in template to avoid clash across providers
  docs/development.md
  templates/cluster-template.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#438 🏃capi: update cluster-api to v0.3.0
  Makefile
  go.mod
  go.sum
  test/e2e/azure_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#441 fix: fix typo in certmanager config
  config/crd/patches/cainjection_in_azureclusters.yaml
  config/crd/patches/cainjection_in_azuremachines.yaml
  config/crd/patches/cainjection_in_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#443 fix: conversion webhook should not return an error
  api/v1alpha2/azuremachine_conversion.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#444 🏃change the APIServer health probe to HTTPS
  cloud/services/internalloadbalancers/internalloadbalancers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#429 🏃tests: Load SSH public key from file via env var AZURE_SSH_PUBLIC_KEY_FILE
  docs/development.md
  test/e2e/resource_generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#445 fix: change example OS disk size to 128GB
  templates/cluster-template.yaml
  test/e2e/resource_generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#455 📖 typos: fix typos
  docs/development.md
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#453 netinterfaces/test: add initial tests for network interfaces
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XL

#452 :book: update README to prep for v0.4.0 release
  README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#459 🏃Bump azure sdk
  cloud/converters/image.go
  cloud/converters/vm.go
  cloud/services/availabilityzones/availabilityzones.go
  cloud/services/availabilityzones/availabilityzones_test.go
  cloud/services/availabilityzones/client.go
  cloud/services/availabilityzones/mock_availabilityzones/availabilityzones_mock.go
  cloud/services/disks/client.go
  cloud/services/virtualmachineextensions/client.go
  cloud/services/virtualmachineextensions/mock_virtualmachineextensions/virtualmachineextensions_mock.go
  cloud/services/virtualmachineextensions/virtualmachineextensions.go
  cloud/services/virtualmachineextensions/virtualmachineextensions_test.go
  cloud/services/virtualmachines/client.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#451 🐛 make NAT Rules creation and deletion owned by network interfaces
  api/v1alpha2/types.go
  api/v1alpha3/types.go
  cloud/services/inboundnatrules/client.go
  cloud/services/inboundnatrules/mock_inboundnatrules/doc.go
  cloud/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  cloud/services/internalloadbalancers/client.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/networkinterfaces/service.go
  cloud/services/publicloadbalancers/publicloadbalancers.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#460 📖 Add office hours to README
  README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#461 :book: Update getting started link to build your own image
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#462 🏃api/tests: standardize gomega usage
  api/v1alpha2/conversion_test.go
  api/v1alpha2/tags_test.go
  api/v1alpha3/azureimage_validation_test.go
  api/v1alpha3/azuremachine_webhook_test.go
  api/v1alpha3/tags_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#463 cloud/tests: standardize gomega usage
  cloud/defaults_test.go
  cloud/services/availabilityzones/availabilityzones_test.go
  cloud/services/disks/disks_test.go
  cloud/services/groups/groups_test.go
  cloud/services/internalloadbalancers/internalloadbalancers_test.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/publicips/publicips_test.go
  cloud/services/publicloadbalancers/publicloadbalancers_test.go
  cloud/services/routetables/routetables_test.go
  cloud/services/securitygroups/securitygroups_test.go
  cloud/services/subnets/subnets_test.go
  cloud/services/virtualmachineextensions/virtualmachineextensions_test.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/services/virtualnetworks/virtualnetworks_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XL

#465 🏃controllers/tests: standardize gomega usage
  controllers/azurecluster_controller_test.go
  controllers/azuremachine_controller_test.go
  controllers/azuremachine_controller_unit_test.go
  controllers/azuremachine_reconciler_test.go
  controllers/azuremachine_tags_unit_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#466 ✨Add feature gate flag to CAPZ
  go.mod
  main.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#464 🏃 Update capi to v0.3.2
  .golangci.yml
  Makefile
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/development.md
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  main.go
  test/e2e/azure_suite_test.go
  test/e2e/resource_generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#468 New tilt instructions for developers
  Makefile
  docs/development.md
  hack/manual-testing.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#473 Update kustomizelinux link
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#476 Update to cluster-api version v0.3.3
  Makefile
  go.mod
  go.sum
  test/e2e/azure_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#477 🏃dependencies: bump azure sdk to v41.0.0
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS
