Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-11, with the labels that each got.

#1021 How to re-use mgmt cluster in e2e
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1005 Update E2E Kubernetes versions
  Tiltfile
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#1012 Add SecurityProfile.EncryptionAtHost parameter to enable host-based VM encryption
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_default_test.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/services/resourceskus/sku.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/types.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/api-change, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1020 E2e deployment logic refactor
  Makefile
  test/e2e/azure_lb.go
  test/e2e/azure_net_pol.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/job/job.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1024 📖 document required feature flags for aks
  docs/book/src/topics/managedcluster.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#974 Enable configurable API Server Load Balancer
  Makefile
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azurecluster_default.go
  api/v1alpha3/azurecluster_default_test.go
  api/v1alpha3/azurecluster_types.go
  api/v1alpha3/azurecluster_validation.go
  api/v1alpha3/azurecluster_validation_test.go
  api/v1alpha3/azurecluster_webhook.go
  api/v1alpha3/azurecluster_webhook_test.go
  api/v1alpha3/tags.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/converters/loadbalancers.go
  cloud/defaults.go
  cloud/interfaces.go
  cloud/mocks/service_mock.go
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/scope/managedcontrolplane.go
  cloud/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  cloud/services/loadbalancers/loadbalancers.go
  cloud/services/loadbalancers/loadbalancers_test.go
  cloud/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/publicips/publicips.go
  cloud/services/publicips/publicips_test.go
  cloud/services/routetables/mock_routetables/routetables_mock.go
  cloud/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  cloud/services/subnets/mock_subnets/subnets_mock.go
  cloud/services/subnets/subnets.go
  cloud/services/subnets/subnets_test.go
  cloud/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/azurecluster_controller.go
  controllers/azurecluster_reconciler.go
  docs/book/src/SUMMARY.md
  docs/book/src/topics/api-server-endpoint.md
  docs/book/src/topics/custom-vnet.md
  hack/debugging/kubectl-capz-ssh
  templates/cluster-template-private.yaml
  templates/flavors/private/kustomization.yaml
  templates/flavors/private/patches/ilb-iptables-cmd.yaml
  templates/flavors/private/patches/private-lb.yaml
  templates/test/cluster-template-prow-private.yaml
  templates/test/prow-private/cni-resource-set.yaml
  templates/test/prow-private/kustomization.yaml
  templates/test/prow-private/patches/cluster-cni.yaml
  templates/test/prow-private/patches/custom-vnet.yaml
  test/e2e/azure_privatecluster.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/api-change, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1026 🐛 fix e2e skip for local testing
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1022 💎 cleanup: VM and VNet spec no longer return arrays
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/scope/managedcontrolplane.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualmachines/service.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  cloud/services/virtualnetworks/service.go
  cloud/services/virtualnetworks/virtualnetworks.go
  cloud/services/virtualnetworks/virtualnetworks_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1030 export Azure_RESOURCE_GROUP for CSI driver tests
  scripts/ci-entrypoint.sh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1018 Add ci version conformance test in conformance test suite
  Makefile
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/prow-ci-version/kustomization.yaml
  templates/test/prow-ci-version/patches/azuremachine-marketplace-image.yaml
  templates/test/prow-ci-version/patches/ci-artifacts-script.yaml
  templates/test/prow-ci-version/patches/machine-pool.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
  test/e2e/data/kubetest/conformance-fast.yaml
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1038 hack/tools: update golangci-lint to use release v1.32.2
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1039 Prevent vm recreation if it was deleted outside of capz
  api/v1alpha3/types.go
  cloud/errors.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  controllers/azuremachine_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#1040 🔧 Tilt auto-detects local flavors from templates dir
  Tiltfile
  templates/flavors/README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#1043 Update prow creds parsing to include new multi tenancy SP
  hack/parse-prow-creds.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1044 Fix error handling when vm is deleted
  cloud/errors.go
  cloud/services/virtualmachines/virtualmachines.go
  controllers/azuremachine_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#1041 dependencies: update several deps
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  cloud/converters/image.go
  cloud/converters/vm.go
  cloud/converters/vmss.go
  cloud/converters/vmss_test.go
  cloud/services/disks/client.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/resourceskus/cache.go
  cloud/services/resourceskus/cache_test.go
  cloud/services/resourceskus/client.go
  cloud/services/resourceskus/mock_resourceskus/resourceskus_mock.go
  cloud/services/resourceskus/sku.go
  cloud/services/roleassignments/roleassignments_test.go
  cloud/services/scalesets/client.go
  cloud/services/scalesets/mock_scalesets/client_mock.go
  cloud/services/scalesets/scalesets.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/virtualmachines/client.go
  cloud/services/virtualmachines/mock_virtualmachines/client_mock.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  controllers/azurecluster_reconciler_test.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/L

#1033 ✨ Add support for private dns zones
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/converters/dns.go
  cloud/converters/dns_test.go
  cloud/defaults.go
  cloud/scope/cluster.go
  cloud/services/privatedns/client.go
  cloud/services/privatedns/mock_privatedns/client_mock.go
  cloud/services/privatedns/mock_privatedns/doc.go
  cloud/services/privatedns/mock_privatedns/privatedns_mock.go
  cloud/services/privatedns/privatedns.go
  cloud/services/privatedns/privatedns_test.go
  cloud/types.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  templates/cluster-template-private.yaml
  templates/flavors/private/kustomization.yaml
  templates/flavors/private/patches/apiserver-host-dns.yaml
  templates/flavors/private/patches/ilb-iptables-cmd.yaml
  templates/test/cluster-template-prow-private.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#991 🌱 Update CAPI to v0.3.11-rc.0 and Calico addon template to v3.16.3
  go.mod
  go.sum
  templates/addons/calico-ipv6.yaml
  templates/addons/calico.yaml
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1051 docs: Cleanup docs readme
  README.md
  docs/README.md
  docs/design.jpg
  docs/design.md
  docs/design.xml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/M

#1050 Increase wait for ingress-nginx controller timeout
  scripts/kind-with-registry.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1052 bump capi for v0.3.11 final
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#1046 🌱 update Kubernetes versions in e2e and docs
  Tiltfile
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/gpu.md
  docs/book/src/topics/machinepools.md
  docs/development.md
  hack/create-dev-cluster.sh
  templates/flavors/README.md
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/M

#1049 Remove failed provisioning VM deletion logic
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#1055 Parse identity parameter correctly in kubectl-capz-ssh
  hack/debugging/kubectl-capz-ssh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS
