Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-09, with the labels that each got.

#901 ✨ Enable VM boot diagnostics
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#917 🌱 remove extra spaces in MHC prow cluster template
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow.yaml
  templates/test/prow/mhc.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#914 Change AzureManagedCluster LoadBalancerSKU values to Uppercase
  cloud/services/managedclusters/managedclusters.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  controllers/helpers.go
  controllers/helpers_test.go
  docs/book/src/topics/machinepools.md
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-action-required, sig/cluster-lifecycle, size/S

#918 🌱 bump cluster-api to v0.3.9
  Makefile
  Tiltfile
  go.mod
  go.sum
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-clusterresourceset.yaml
  templates/test/cluster-template-prow.yaml
  templates/test/prow-clusterresourceset/kustomization.yaml
  templates/test/prow-clusterresourceset/resource-set.yaml
  templates/test/prow/cni-resource-set.yaml
  templates/test/prow/kustomization.yaml
  templates/test/prow/patches/cni-resource-set.yaml
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-adoption.yaml
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#919 📖 Update release documentation
  docs/releasing.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#922 💚 Enable ClusterResourceSet on conformance job
  scripts/ci-entrypoint.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#923 🔧 Use k8s_resource to move CRDs out of uncategorized in Tilt
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#926 🌱 cert-manager: update cert-manager to 0.16.1 to follow CAPI
  Makefile
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#924 📖 book: fix template examples link
  README.md
  docs/README.md
  docs/book/src/topics/external-cloud-provider.md
  docs/book/src/topics/machinepools.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#906 🌱 AzureManagedControlPlane: validate version in azure manager controlplane
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#928 🌱 add thirdpartyimage flag to marketplace images to be used when creating a VM
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha3/types.go
  cloud/scope/machine.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/topics/custom-images.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#930 🐛 fix custom image validation + docs
  api/v1alpha3/azuremachine_webhook.go
  docs/book/src/topics/custom-images.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#879 💎 simplify credential instantiation
  cloud/scope/clients.go
  cloud/scope/cluster.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#934 🔧 events for azurecluster_controller
  controllers/azurecluster_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#942 💚 increase wait time for machine upgrade used by the kcp upgrade e2e test
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#941 📖 add title icons list to PR template
  .github/pull_request_template.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#945 🌱 Bumping mdBook version to v0.4.3
  docs/book/install-and-build.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#933 Minor E2E fixes
  Makefile
  scripts/ci-e2e.sh
  templates/test/patches/cni-resource-set.yaml
  templates/test/patches/mhc.yaml
  templates/test/prow/kustomization.yaml
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#946 🐛 Fix system assigned identity template
  templates/cluster-template-system-assigned-identity.yaml
  templates/flavors/system-assigned-identity/patches/system-assigned-identity.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#939 💚 default e2e focus to Azure cluster create tests
  Makefile
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#949 🌱 Change default NSG rule priorities
  cloud/scope/cluster.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#950 💎 Remove unused AzureCluster bastion status field
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azurecluster_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#938 🚀 Fast delete cluster resource group when entire cluster is deleted
  cloud/errors.go
  cloud/services/groups/groups.go
  cloud/services/groups/groups_test.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  controllers/azuremachine_controller.go
  controllers/helpers.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#936 💚 log elapsed e2e spec time and Ginkgo node number
  test/e2e/azure_test.go
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#956 🐛 delete data disks when deleting azure machine
  cloud/scope/machine.go
  cloud/services/disks/disks_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#878 💚 log failed e2e resources and related events
  test/e2e/azure_lb.go
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#955 ✨ Exclude credentials from worker-nodes' azure.json
  controllers/helpers.go
  controllers/helpers_test.go
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
  templates/test/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#962 🌱 add a comment for pr authors to include a PR kind
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#947 🔧 Apply calico ClusterResourceSet to tilt and dev clusters
  Makefile
  Tiltfile
  templates/addons/calico-resource-set.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-ipv6.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/ipv6/patches/ipv6.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/prow-machine-pool/cni-resource-set.yaml
  templates/test/prow-machine-pool/kustomization.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#927 🌱 AzureMachinePool/AzureManagedControlPlane: generate ssh key when is not set
  api/v1alpha3/azuremachine_default.go
  docs/book/src/topics/ephemeral-os.md
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremachinepool_default.go
  exp/api/v1alpha3/azuremachinepool_default_test.go
  exp/api/v1alpha3/azuremachinepool_webhook.go
  exp/api/v1alpha3/azuremachinepool_webhook_test.go
  exp/api/v1alpha3/azuremanagedcontrolplane_default.go
  exp/api/v1alpha3/azuremanagedcontrolplane_default_test.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook_test.go
  templates/cluster-template-aks.yaml
  templates/cluster-template-machinepool.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-adoption.yaml
  util/ssh/ssh.go
  util/ssh/ssh_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#951 🐛 Skips creating secrets for machines cloned from AzureMachineTemplates
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machine_controller_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#965 Fix kcp adoption template azure.json secret key
  test/e2e/data/infrastructure-azure/cluster-template-kcp-adoption.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#969 Make thirdPartyImage optional
  api/v1alpha3/types.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS

#925 📖 book: add documentation regarding storage drivers
  docs/book/src/topics/external-cloud-provider.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#959 🐛 Make role assignment name deterministic
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_default.go
  api/v1alpha3/azuremachine_default_test.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook.go
  cloud/scope/machine.go
  cloud/services/roleassignments/roleassignments.go
  cloud/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L
