Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-12, with the labels that each got.

#1032 Handle terminal errors to prevent reconciliation failure loop
  cloud/errors.go
  cloud/services/scalesets/scalesets.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  controllers/azuremachine_controller.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1057 💚 check for cluster == nil before dumping logs and deleting
  test/e2e/common.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/flake, lgtm, release-note, sig/cluster-lifecycle, size/M

#1061 🔧 Update Docker image build
  Dockerfile
  Makefile
  Tiltfile
  cloudbuild.yaml
  hack/boilerplate/boilerplate.Dockerfile.txt
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#1059 update error statement to not show stacktrace in resource status
  cloud/scope/cluster.go
  cloud/scope/machine.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1063 adding securityGroupResourceGroup to generated azure.json
  controllers/helpers.go
  controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/L

#1065 📖 Simplify getting-started.md and remove broken links
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/M

#1062 feat: Add support for Azure Spot VMSS
  cloud/converters/spotinstances.go
  cloud/scope/machinepool.go
  cloud/services/scalesets/scalesets.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/types.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  docs/book/src/topics/spot-vms.md
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1071 Correcting reference to kops
  README.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1072 Removed 'Implementers' from office hours
  README.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1069 vmss: Use computer name and add it to the status
  cloud/converters/vmss.go
  cloud/converters/vmss_test.go
  cloud/scope/machinepool.go
  cloud/services/scalesets/scalesets_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  exp/api/v1alpha3/azuremachinepool_types.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/M

#1073 Move ncdc to emeritus status
  OWNERS
  OWNERS_ALIASES
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1078 Update CAPI to v0.3.12
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#1053 Refactor AzureMachineReconciler to inject AzuremachineService as dependency
  controllers/azuremachine_controller.go
  controllers/azuremachine_controller_test.go
  controllers/azuremachine_reconciler.go
  controllers/suite_test.go
  main.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#1080 Do not delete existing templates as part of flavor generation
  hack/gen-flavors.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle

#977 adding multi tenancy for controller using aad-pod-identity
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azurecluster_types.go
  api/v1alpha3/azureclusteridentity_types.go
  api/v1alpha3/azureclusteridentity_types_test.go
  api/v1alpha3/conditions_consts.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/scope/clients.go
  cloud/scope/cluster.go
  cloud/scope/identity.go
  cloud/services/disks/disks_test.go
  cloud/services/scalesets/scalesets_test.go
  config/aadpodidentity/aad-pod-identity-deployment.yaml
  config/aadpodidentity/kustomization.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureserviceprincipals.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuresystemassignedidentites.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureuserassignedidentites.yaml
  config/crd/kustomization.yaml
  config/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/azurecluster_controller.go
  controllers/azurecluster_reconciler_test.go
  controllers/azureidentity_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_controller_test.go
  controllers/helpers.go
  controllers/helpers_test.go
  docs/book/src/topics/multitenancy.md
  exp/controllers/azuremachinepool_controller.go
  go.mod
  go.sum
  main.go
  templates/cluster-template-multi-tenancy.yaml
  templates/flavors/multi-tenancy/azure-cluster-identity.yaml
  templates/flavors/multi-tenancy/kustomization.yaml
  templates/flavors/multi-tenancy/patches/azurecluster-identity-ref.yaml
  templates/test/cluster-template-prow-multi-tenancy.yaml
  templates/test/prow-multi-tenancy/cni-resource-set.yaml
  templates/test/prow-multi-tenancy/kustomization.yaml
  templates/test/prow-multi-tenancy/patches/cluster-cni.yaml
  test/e2e/azure_identity.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/e2e_suite_test.go
  util/identity/defaults.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1083 ensure imports stay organized
  .golangci.yml
  api/v1alpha3/azuremachine_default.go
  cloud/converters/dns_test.go
  cloud/converters/identity.go
  cloud/services/inboundnatrules/inboundnatrules.go
  cloud/services/privatedns/client.go
  cloud/services/privatedns/privatedns.go
  cloud/services/publicips/publicips.go
  cloud/services/tags/tags.go
  controllers/azurecluster_reconciler.go
  exp/api/v1alpha3/azuremachinepool_default.go
  exp/api/v1alpha3/azuremachinepool_webhook.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1070 debug/kubectl-capz-ssh: add AzureMachinePools option to ssh in the vmss nodes
  hack/debugging/Readme.md
  hack/debugging/kubectl-capz-ssh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1096 Add default log container for kubectl
  config/manager/manager.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1091 Add staticcheck to the .golangci.yml file
  .golangci.yml
  api/v1alpha3/azurecluster_webhook.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/azuremachinetemplate_webhook.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  exp/api/v1alpha3/azuremachinepool_webhook.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/S

#1092 Add errcheck to .golangci.yml and fix issues caused by errcheck rules
  .golangci.yml
  cloud/defaults.go
  cloud/defaults_test.go
  cloud/services/agentpools/client.go
  cloud/services/bastionhosts/client.go
  cloud/services/disks/client.go
  cloud/services/groups/client.go
  cloud/services/inboundnatrules/client.go
  cloud/services/loadbalancers/client.go
  cloud/services/managedclusters/client.go
  cloud/services/networkinterfaces/client.go
  cloud/services/privatedns/client.go
  cloud/services/publicips/client.go
  cloud/services/resourceskus/client.go
  cloud/services/roleassignments/client.go
  cloud/services/routetables/client.go
  cloud/services/routetables/routetables_test.go
  cloud/services/scalesets/client.go
  cloud/services/securitygroups/client.go
  cloud/services/subnets/client.go
  cloud/services/tags/client.go
  cloud/services/virtualmachines/client.go
  cloud/services/virtualnetworks/client.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/L

#1093 Add unused to .golangci.yml and fix issues caused by unused rules
  .golangci.yml
  exp/controllers/azuremachinepool_annotations.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#1076 Add bootstrap failure detection proposal
  docs/proposals/20201214-bootstrap-failure-detection.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/L

#1100 📖 Fix few typos in docs under /topics folder
  docs/book/src/topics/cloud-provider-config.md
  docs/book/src/topics/ephemeral-os.md
  docs/book/src/topics/gpu.md
  docs/book/src/topics/machinepools.md
  docs/book/src/topics/managedcluster.md
  docs/book/src/topics/multitenancy.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/S
