Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-10, with the labels that each got.

#963 🐛 Leave DNS name empty for outbound public ip
  cloud/services/publicips/publicips.go
  cloud/services/publicips/publicips_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#954 🌱 bump capi to v0.3.10
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-adoption.yaml
  test/e2e/data/infrastructure-azure/cluster-template-mhc.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#975 🌱 dependencies: update several dependencies
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/L

#972 📖 Add k8s 1.19 to readme support policy
  README.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#979 Remove the integration test
  Makefile
  scripts/ci-integration.sh
  test/integration/integration_suite_test.go
  test/integration/metacluster_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#967 Remove calico apply step from create cluster make target
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#816 separate route tables for node and control-plane
  api/v1alpha3/azurecluster_default.go
  api/v1alpha3/azurecluster_default_test.go
  cloud/interfaces.go
  cloud/mocks/service_mock.go
  cloud/scope/cluster.go
  cloud/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  cloud/services/disks/mock_disks/disks_mock.go
  cloud/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  cloud/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  cloud/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  cloud/services/publicips/mock_publicips/publicips_mock.go
  cloud/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  cloud/services/routetables/mock_routetables/routetables_mock.go
  cloud/services/routetables/routetables.go
  cloud/services/routetables/routetables_test.go
  cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  cloud/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  cloud/services/subnets/mock_subnets/subnets_mock.go
  cloud/services/tags/mock_tags/tags_mock.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  cloud/types.go
  controllers/azurecluster_reconciler.go
  controllers/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#985 Add conditions for deletion workflows
  cloud/scope/cluster.go
  cloud/scope/machine.go
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/M

#984 Add Network Describer interface
  cloud/interfaces.go
  cloud/mocks/service_mock.go
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  cloud/services/bastionhosts/service.go
  cloud/services/disks/disks_test.go
  cloud/services/disks/mock_disks/disks_mock.go
  cloud/services/groups/service.go
  cloud/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  cloud/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  cloud/services/loadbalancers/service.go
  cloud/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/networkinterfaces/service.go
  cloud/services/publicips/mock_publicips/publicips_mock.go
  cloud/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  cloud/services/routetables/mock_routetables/routetables_mock.go
  cloud/services/routetables/service.go
  cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  cloud/services/scalesets/service.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  cloud/services/securitygroups/service.go
  cloud/services/subnets/mock_subnets/subnets_mock.go
  cloud/services/subnets/service.go
  cloud/services/tags/mock_tags/tags_mock.go
  cloud/services/tags/service.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualmachines/service.go
  cloud/services/virtualnetworks/service.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_controller_test.go
  controllers/helpers.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_unit_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#989 Update AzureDisk SC volumeBindingMode to WaitForFirstConsumer
  templates/addons/storageclass-azure-disk.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/XS

#976 💚 collect workload cluster logs in e2e runs
  go.mod
  test/e2e/azure_logcollector.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L, status/in-progress

#995 add a capi webhook wait to fix kubectl apply error upon startup of tilt
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#980 Add disk DiskEncryptionSetParameters.ID option
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/api-change, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#993 🌱Use tilt cert_manager extension for CAPZ
  Tiltfile
  tilt_modules/cert_manager/README.md
  tilt_modules/cert_manager/Tiltfile
  tilt_modules/extensions.json
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/L

#983 add e2e tests for azuremachinepool
  Tiltfile
  cloud/converters/vmss.go
  cloud/scope/machinepool.go
  cloud/services/scalesets/client.go
  cloud/services/scalesets/mock_scalesets/client_mock.go
  cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  cloud/services/scalesets/service.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/helpers.go
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/azuremachinepool_webhook.go
  exp/api/v1alpha3/types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_controller.go
  main.go
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#986 Refactor conformance test to use CAPI Framework
  Makefile
  scripts/ci-conformance.sh
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
  test/e2e/data/kubetest/conformance.yaml
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1006 Add a capi webhook wait to fix kubectl apply error in make create-management-cluster
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1007 🌱Remove redundant length check for error in webhooks
  exp/api/v1alpha3/azuremachinepool_webhook.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1004 ✨ Add support for managed identity in machine pool
  api/v1alpha3/azuremachine_types.go
  cloud/converters/identity.go
  cloud/converters/identity_test.go
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/services/roleassignments/roleassignments.go
  cloud/services/roleassignments/roleassignments_test.go
  cloud/services/roleassignments/service.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/types.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/topics/identity.md
  exp/api/v1alpha3/azuremachinepool_default.go
  exp/api/v1alpha3/azuremachinepool_default_test.go
  exp/api/v1alpha3/azuremachinepool_test.go
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/azuremachinepool_webhook.go
  exp/api/v1alpha3/azuremachinepool_webhook_test.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_reconciler.go
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/flavors/README.md
  templates/flavors/machinepool-system-assigned-identity/kustomization.yaml
  templates/flavors/machinepool-system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/machinepool-user-assigned-identity/kustomization.yaml
  templates/flavors/machinepool-user-assigned-identity/patches/user-assigned-identity.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XXL

#988 💚 cluster should have healthy time synchronization
  test/e2e/azure_logcollector.go
  test/e2e/azure_test.go
  test/e2e/azure_timesync.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#978 ✨ Initial support for conditions for AzureMachinePool
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#1013 Cleanup disks service
  cloud/services/disks/client.go
  cloud/services/disks/disks.go
  cloud/services/disks/disks_test.go
  cloud/services/disks/mock_disks/client_mock.go
  cloud/services/disks/mock_disks/disks_mock.go
  cloud/services/disks/mock_disks/doc.go
  cloud/services/disks/service.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L
