Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-08, with the labels that each got.

#827 💎 Refactor VM service spec
  cloud/converters/vmss.go
  cloud/converters/vmss_test.go
  cloud/defaults.go
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/virtualmachineextensions/client.go
  cloud/services/virtualmachineextensions/mock_virtualmachineextensions/doc.go
  cloud/services/virtualmachineextensions/service.go
  cloud/services/virtualmachines/mock_virtualmachines/client_mock.go
  cloud/services/virtualmachines/mock_virtualmachines/doc.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualmachines/service.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/types.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  controllers/azuremachine_reconciler_test.go
  controllers/azuremachine_tags.go
  docs/topics/failure-domains.md
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#779 makefile: Add a make target to generate test coverage report
  .gitignore
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#809 🏃add draft of multi-tenancy proposal
  docs/proposals/20200720-single-controller-multitenancy.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XL

#853 🌱 dependencies: update several dependencies and cluster-api
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#850 ISSUE-844: Doc: update failure domains doc
  docs/topics/failure-domains.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#843 🐛 fix group, version, kind not being passed into util.ClusterToObjectsMapper
  cloud/services/loadbalancers/loadbalancers_test.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/securitygroups/securitygroups_test.go
  cloud/services/virtualmachines/virtualmachines_test.go
  controllers/azurecluster_controller.go
  controllers/azurecluster_controller_test.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_controller_test.go
  controllers/common_controller_test.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_test.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremanagedcluster_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremangedcontrolplane_controller.go
  exp/controllers/common_controller_test.go
  exp/controllers/suite_test.go
  internal/test/logentries/pause_events.go
  internal/test/matchers/gomega/matchers.go
  internal/test/matchers/gomega/matchers_test.go
  internal/test/matchers/gomock/matchers.go
  internal/test/record/logger.go
  internal/test/test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#848 🌱 Remove extra GET API calls for resource IDs
  cloud/defaults.go
  cloud/scope/machine.go
  cloud/services/loadbalancers/loadbalancers.go
  cloud/services/loadbalancers/loadbalancers_test.go
  cloud/services/loadbalancers/service.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/networkinterfaces/service.go
  cloud/services/subnets/service.go
  cloud/services/subnets/subnets.go
  cloud/services/subnets/subnets_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/types.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#863 🌱 manager: set the reconcileTimeout variable when initializing
  main.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#849 Configurable OS disk caching
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_default.go
  api/v1alpha3/azuremachine_default_test.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/azuremachine_webhook_test.go
  api/v1alpha3/types.go
  cloud/services/virtualmachines/virtualmachines.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/webhook/manifests.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/L

#852 🐛 fix ci-e2e CAPI test pivot cluster scenario
  .gitignore
  Makefile
  docs/development.md
  hack/ensure-acr-cleanup-schedule.sh
  hack/ensure-azcli.sh
  scripts/ci-e2e.sh
  scripts/fetch_ext_bins.sh
  test/e2e/capi_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#708 ✨ cloud/services: add bastion host service
  cloud/scope/machine.go
  cloud/services/bastionhosts/bastionhosts.go
  cloud/services/bastionhosts/bastionhosts_test.go
  cloud/services/bastionhosts/client.go
  cloud/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  cloud/services/bastionhosts/mocks_bastionhosts/client_mock.go
  cloud/services/bastionhosts/mocks_bastionhosts/doc.go
  cloud/services/bastionhosts/service.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/types.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL, ¯\_(ツ)_/¯

#873 🌱 fix typo in e2e config resource set exp variable
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#872 chore: make LOCAL_ONLY default and remove REGISTRY override
  docs/development.md
  scripts/ci-e2e.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#854 Add doc on using CAPZ for custom control plane components for testing upstream kubernetes
  docs/topics/kubernetes-developers.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#867 📖 update release process docs to match current steps
  docs/releasing.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#875 Update office hours time in README
  README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#862 azureManagedControlPlane webhooks
  cloud/services/managedclusters/managedclusters.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/webhook/manifests.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha3/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
  main.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-action-required, sig/cluster-lifecycle, size/L

#876 Allow the json secret to be created for control-plane machine
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machine_controller_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#882 🐛 Add Ready condition to list of owned conditions
  cloud/scope/cluster.go
  cloud/scope/machine.go
  controllers/azuremachine_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#881 🐛 fix incorrect owner references on azure json
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/helpers.go
  controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#860 💚 add debug output for e2e service and job failures
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#883 scripts: add script to run the test coverage
  scripts/ci-test-coverage.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#885 skip LB direct connect test temporarily
  go.mod
  go.sum
  test/e2e/azure_lb.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#887 update Kubernetes versions in e2e test and docs
  Tiltfile
  docs/development.md
  docs/topics/custom-images.md
  docs/topics/failure-domains.md
  docs/topics/kubernetes-developers.md
  docs/topics/machinepools.md
  hack/create-dev-cluster.sh
  templates/flavors/README.md
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/patches/control-plane-image-ci-version.yaml
  templates/test/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#851 Asserts control planes are spread across zones when possible
  test/e2e/azure_test.go
  test/e2e/data/availableZonesPerLocation.json
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XXL

#880 💎 add coverage reports
  .github/workflows/cover.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#884 cloud/vm/vmss: validate if vCPUs and Memory matched the minimum required
  api/v1alpha3/types.go
  cloud/services/resourceskus/sku.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#891 Add support for TerminateNotificationTimeout in machinepools
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  exp/api/v1alpha3/azuremachinepool_test.go
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/azuremachinepool_webhook.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#893 🐛 don't update network interface if it already exists
  cloud/services/bastionhosts/bastionhosts.go
  cloud/services/bastionhosts/bastionhosts_test.go
  cloud/services/disks/disks.go
  cloud/services/disks/disks_test.go
  cloud/services/inboundnatrules/inboundnatrules.go
  cloud/services/inboundnatrules/inboundnatrules_test.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/publicips/publicips.go
  cloud/services/publicips/publicips_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#900 🌱 [e2e] silence output from curl commands
  test/e2e/kubernetes/networkpolicy/networkpolicy.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#899 🌱 move e2e failure domains spec to its own file
  test/e2e/azure_failuredomains.go
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#888 Revert "skip LB direct connect test temporarily"
  go.mod
  go.sum
  test/e2e/azure_lb.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#890 📖 Create roadmap document
  docs/book/src/SUMMARY.md
  docs/book/src/roadmap.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#764 💚 add test to validate accelerated networking for VMs
  cloud/services/agentpools/agentpools_test.go
  test/e2e/azure_accelnet.go
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#869 💎 Refactor scale sets service spec
  cloud/fake_interfaces.go
  cloud/interfaces.go
  cloud/mocks/doc.go
  cloud/mocks/service_mock.go
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/services/loadbalancers/loadbalancers.go
  cloud/services/resourceskus/sku.go
  cloud/services/scalesets/mock_scalesets/client_mock.go
  cloud/services/scalesets/mock_scalesets/doc.go
  cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  cloud/services/scalesets/service.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/types.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  controllers/helpers.go
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/controllers/azuremachinepool_annotations.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremachinepool_reconciler.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  exp/controllers/helpers.go
  exp/controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#905 azuremachine: deprecate Location - to be removed in v1alpha4
  api/v1alpha3/azuremachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#907 🐛 update AZURE_SSH_PUBLIC_KEY variable to be AZURE_SSH_PUBLIC_KEY_B64
  Tiltfile
  api/v1alpha3/azuremachine_default_test.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook_test.go
  docs/book/src/topics/ephemeral-os.md
  docs/book/src/topics/managedcluster.md
  docs/development.md
  docs/troubleshooting.md
  hack/create-dev-cluster.sh
  scripts/ci-e2e.sh
  templates/cluster-template-aks.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-clusterresourceset.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-adoption.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#904 🌱 Add metadata.yaml for defining contracts
  Makefile
  docs/releasing.md
  metadata.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#910 🌱 Make AZURE_SSH_PUBLIC_KEY_B64 optional in example templates
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-clusterresourceset.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#911 🌱 golang: bump go version to 1.13.15
  Dockerfile
  Makefile
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#912 🌱 dependencies: update several dependencies
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#913 🌱 manager: add option to configure the leader election namespace
  main.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S
