Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-07, with the labels that each got.

#745 🐛 fix serverside validation for version in managed cluster
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#739 🌱 services: logging with scope logger to provide better context
  cloud/services/groups/groups.go
  cloud/services/internalloadbalancers/internalloadbalancers.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/publicloadbalancers/publicloadbalancers.go
  cloud/services/routetables/routetables.go
  cloud/services/scalesets/vmss.go
  cloud/services/securitygroups/securitygroups.go
  cloud/services/subnets/subnets.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualnetworks/virtualnetworks.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#748 🌱 cluster-api: update cluster-api dependencie to use v0.3.7-beta.0
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#742 💎 Refactor network interfaces scope to interface
  cloud/interfaces.go
  cloud/scope/machine.go
  cloud/services/networkinterfaces/mock_networkinterfaces/client_mock.go
  cloud/services/networkinterfaces/mock_networkinterfaces/doc.go
  cloud/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/networkinterfaces/service.go
  cloud/services/publicips/mock_publicips/publicips_mock.go
  cloud/services/publicips/publicips_test.go
  cloud/types.go
  controllers/azuremachine_controller_test.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#746 🔧 eliminate plain text creds for additional template files
  Makefile
  docs/development.md
  hack/create-dev-cluster.sh
  hack/log/redact.sh
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#747 🌱 cloud/publicips: add logger scope in public ip service
  cloud/services/publicips/mock_publicips/publicips_mock.go
  cloud/services/publicips/publicips.go
  cloud/services/publicips/publicips_test.go
  cloud/services/publicips/service.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#714 ✨ initial support for conditions for AzureCluster and AzureMachine
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azurecluster_types.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/conditions_consts.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_controller_test.go
  controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#752 🌱 dependencies: update some dependencies
  api/v1alpha3/azuremachine_validation.go
  cloud/converters/image.go
  cloud/converters/vm.go
  cloud/services/availabilityzones/availabilityzones.go
  cloud/services/availabilityzones/availabilityzones_test.go
  cloud/services/availabilityzones/client.go
  cloud/services/availabilityzones/mock_availabilityzones/availabilityzones_mock.go
  cloud/services/disks/client.go
  cloud/services/resourceskus/client.go
  cloud/services/resourceskus/mock_resourceskus/resourceskus_mock.go
  cloud/services/scalesets/client.go
  cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachineextensions/client.go
  cloud/services/virtualmachineextensions/mock_virtualmachineextensions/virtualmachineextensions_mock.go
  cloud/services/virtualmachines/client.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#753 🔧 combine AZURE_STANDARD_JSON_B64 and AZURE_VMSS_JSON_B64 into AZURE_JSON_B64
  docs/development.md
  hack/create-dev-cluster.sh
  hack/log/redact.sh
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/flavors/machinepool/patches/control-plane-azure-file.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
  templates/test/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/common.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#756 🐛 Delete OS disk when failed VM gets deleted
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#661 ✨ Move etcd data dir to a data disk
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_default.go
  api/v1alpha3/azuremachine_default_test.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/defaults.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/virtualmachines.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azuremachine_reconciler.go
  docs/topics/data-disks.md
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_controller.go
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#724 fix internallb subnet addressing
  cloud/services/internalloadbalancers/internalloadbalancers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#759 💎 cloud: Refactor Disks scope to interface
  cloud/interfaces.go
  cloud/scope/machine.go
  cloud/services/disks/disks.go
  cloud/services/disks/disks_test.go
  cloud/services/disks/mock_disks/client_mock.go
  cloud/services/disks/mock_disks/disks_mock.go
  cloud/services/disks/mock_disks/doc.go
  cloud/services/disks/service.go
  cloud/types.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#760 Add unit tests for internallb subnet addressing fix
  cloud/services/internalloadbalancers/internalloadbalancers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#762 🐛 use AZURE_VNET_NAME as vnetName in azure.json
  docs/development.md
  hack/create-dev-cluster.sh
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/flavors/system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/system-assigned-identity/system-assigned-identity-md.yaml
  templates/flavors/user-assigned-identity/user-assigned-identity-md.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#763 update cluster api version to v0.3.7-rc.0
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#758 AzureMachine should publish reconcile events to CR
  controllers/azuremachine_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/S

#751 🌱 cloud/services: add scoped log to delete function
  cloud/services/groups/groups.go
  cloud/services/internalloadbalancers/internalloadbalancers.go
  cloud/services/publicloadbalancers/publicloadbalancers.go
  cloud/services/routetables/routetables.go
  cloud/services/securitygroups/securitygroups.go
  cloud/services/subnets/subnets.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualnetworks/virtualnetworks.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#769 Fix typo in e2e test case spec
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#766 💎 cloud: Refactor Groups scope to interface
  cloud/services/groups/groups.go
  cloud/services/groups/groups_test.go
  cloud/services/groups/mock_groups/client_mock.go
  cloud/services/groups/mock_groups/doc.go
  cloud/services/groups/mock_groups/groups_mock.go
  cloud/services/groups/service.go
  controllers/azurecluster_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#740 💚 add e2e spec for workload service and LBs
  go.mod
  go.sum
  test/e2e/azure_lb.go
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#750 💎 Embed ClusterDescriber in MachineScope to remove the need for duplicate Getters
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/services/disks/disks_test.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/virtualmachines_test.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_controller_test.go
  controllers/azuremachine_reconciler_test.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_unit_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#774 update cluster api version to v0.3.7-rc.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#770 🌱 Promote devigned and nader-ziada to maintainers, add cpanato as reviewer
  OWNERS_ALIASES
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#781 :bug: add azure_json_b64 content to flavors
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#782 💎 rename feature_gate_machine_pool to exp_machine_pool to match capi
  Makefile
  docs/development.md
  scripts/ci-entrypoint.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#784 makefile: remove hack/tool path from make modules that is not used anymore
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#786 🔧 Fix default tilt variables assignment
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#788 🌱 update to capi dependency to v0.3.7
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#754 🐛 Add secondary network interface for node public IPs
  cloud/defaults.go
  cloud/scope/machine.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#787 🌱 Enable experimental features in e2e testing
  .tiltignore
  Makefile
  Tiltfile
  config/manager/manager.yaml
  config/manager/manager_auth_proxy_patch.yaml
  config/webhook/manager_webhook_patch.yaml
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#789 ⚠ add variable defaults to templates
  config/default/cloud_environment.yaml
  docs/development.md
  hack/create-dev-cluster.sh
  templates/cluster-template-aks.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-action-required, sig/cluster-lifecycle, size/M

#795 [e2e] Change ClusterResourceSet flag to match with CAPI flag
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#796 📖 Documentation updates
  docs/README.md
  docs/clusterctl.md
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#777 ✨ implement ephemeral os
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/services/resourceskus/client.go
  cloud/services/resourceskus/mock_resourceskus/resourceskus_mock.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/service.go
  cloud/services/virtualmachines/virtualmachines.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/topics/ephemeral-os.md
  exp/api/v1alpha3/zz_generated.deepcopy.go
  go.sum
  templates/cluster-template-ephemeral.yaml
  templates/flavors/ephemeral/kustomization.yaml
  templates/flavors/ephemeral/machine-deployment.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#792 💎 Refactor RouteTable service
  cloud/interfaces.go
  cloud/scope/cluster.go
  cloud/services/disks/mock_disks/disks_mock.go
  cloud/services/groups/mock_groups/groups_mock.go
  cloud/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  cloud/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  cloud/services/publicips/mock_publicips/publicips_mock.go
  cloud/services/routetables/mock_routetables/client_mock.go
  cloud/services/routetables/mock_routetables/doc.go
  cloud/services/routetables/mock_routetables/routetables_mock.go
  cloud/services/routetables/routetables.go
  cloud/services/routetables/routetables_test.go
  cloud/services/routetables/service.go
  cloud/types.go
  controllers/azurecluster_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#803 🐛 fix template default variables
  Makefile
  docs/development.md
  hack/create-dev-cluster.sh
  templates/cluster-template-aks.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#808 🔧 automatically change from a8m/envsubst to drone/envsubst
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#806 Fixes unit tests that didn't have parrallelism set up correctly
  api/v1alpha2/tags_test.go
  api/v1alpha3/tags_test.go
  cloud/services/disks/disks_test.go
  cloud/services/groups/groups_test.go
  cloud/services/loadbalancers/loadbalancers_test.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/publicips/publicips_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/L

#810 enable parallel unit tests
  cloud/services/agentpools/agentpools_test.go
  cloud/services/availabilityzones/availabilityzones_test.go
  cloud/services/routetables/routetables_test.go
  cloud/services/securitygroups/securitygroups_test.go
  cloud/services/subnets/subnets_test.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/services/virtualnetworks/virtualnetworks_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#800 Update Kubernetes versions in e2e test and docs
  Tiltfile
  docs/development.md
  docs/topics/failure-domains.md
  docs/topics/machinepools.md
  hack/create-dev-cluster.sh
  templates/flavors/README.md
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#721 💚 tests/e2e: testing network policies
  go.mod
  go.sum
  test/e2e/azure_net_pol.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/namespace/namespace.go
  test/e2e/kubernetes/networkpolicy/networkpolicy.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/workloads/policies/backend-policy-allow-egress-pod-label.yaml
  test/e2e/workloads/policies/backend-policy-allow-egress-pod-namespace-label.yaml
  test/e2e/workloads/policies/backend-policy-allow-ingress-pod-label.yaml
  test/e2e/workloads/policies/backend-policy-allow-ingress-pod-namespace-label.yaml
  test/e2e/workloads/policies/backend-policy-deny-egress.yaml
  test/e2e/workloads/policies/backend-policy-deny-ingress.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#768 💎 cloud: Refactor Subnets scope to interface
  cloud/interfaces.go
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/services/disks/mock_disks/disks_mock.go
  cloud/services/groups/mock_groups/groups_mock.go
  cloud/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  cloud/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  cloud/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  cloud/services/publicips/mock_publicips/publicips_mock.go
  cloud/services/routetables/mock_routetables/routetables_mock.go
  cloud/services/subnets/mock_subnets/client_mock.go
  cloud/services/subnets/mock_subnets/doc.go
  cloud/services/subnets/mock_subnets/subnets_mock.go
  cloud/services/subnets/service.go
  cloud/services/subnets/subnets.go
  cloud/services/subnets/subnets_test.go
  cloud/types.go
  controllers/azurecluster_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#813 Only look at Group and Kind when checking a reference
  controllers/helpers.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#799 🌱 e2e: rename tests to be more clear and set worker nodes
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#804 💎 add resource group defaulting
  api/v1alpha3/azurecluster_default.go
  api/v1alpha3/azurecluster_default_test.go
  api/v1alpha3/azurecluster_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#801 cloud: Refactor Virtual Networks scope to interface
  cloud/scope/cluster.go
  cloud/services/virtualnetworks/mock_virtualnetworks/client_mock.go
  cloud/services/virtualnetworks/mock_virtualnetworks/doc.go
  cloud/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  cloud/services/virtualnetworks/service.go
  cloud/services/virtualnetworks/virtualnetworks.go
  cloud/services/virtualnetworks/virtualnetworks_test.go
  cloud/types.go
  controllers/azurecluster_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#783 💎 refactor skus client
  cloud/scope/cluster.go
  cloud/services/availabilityzones/availabilityzones.go
  cloud/services/availabilityzones/availabilityzones_test.go
  cloud/services/availabilityzones/client.go
  cloud/services/availabilityzones/mock_availabilityzones/availabilityzones_mock.go
  cloud/services/availabilityzones/mock_availabilityzones/doc.go
  cloud/services/availabilityzones/service.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/networkinterfaces/service.go
  cloud/services/resourceskus/cache.go
  cloud/services/resourceskus/cache_test.go
  cloud/services/resourceskus/client.go
  cloud/services/resourceskus/mock_resourceskus/resourceskus_mock.go
  cloud/services/resourceskus/sku.go
  cloud/services/scalesets/service.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualmachines/service.go
  cloud/services/virtualmachines/virtualmachines.go
  controllers/azurecluster_reconciler.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  controllers/azuremachine_tags.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XXL

#811 💎 refactor role assignment service
  cloud/scope/machine.go
  cloud/services/roleassignments/mock_roleassignments/client_mock.go
  cloud/services/roleassignments/mock_roleassignments/doc.go
  cloud/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  cloud/services/roleassignments/roleassignments.go
  cloud/services/roleassignments/roleassignments_test.go
  cloud/services/roleassignments/service.go
  cloud/services/virtualmachines/service.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/types.go
  controllers/azuremachine_reconciler.go
  docs/topics/identity.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#823 :gem: dedupe tag reconciliation on machine pool
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#829 Handle large yaml files on linux in tilt config
  Tiltfile
  hack/kustomize-sub.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#835 🐛 sku api should use resourceType, not kind
  cloud/services/resourceskus/cache.go
  cloud/services/resourceskus/cache_test.go
  cloud/services/resourceskus/sku.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#833 fix: add useExperimentalRetryJoin: true to worker node spec
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/flavors/system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/system-assigned-identity/system-assigned-identity-md.yaml
  templates/flavors/user-assigned-identity/user-assigned-identity-md.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#818 🐛 normalize version in managed control plane
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  exp/controllers/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#838 📖 fix tiny typo in docs
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#839 fix: load kustomize_substitutions before envsubst
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#841 Fix issue with cluster paused map function
  controllers/azurecluster_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#845 scripts: Use ci/latest version marker for retrieving cross builds
  scripts/ci-entrypoint.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#837 🐛 use versioned image for log-dump-daemonset.yaml
  hack/log/log-dump-daemonset.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#802 ✨ automatically generate azure.json
  Tiltfile
  cloud/interfaces.go
  cloud/scope/clients.go
  cloud/scope/cluster.go
  cloud/scope/managedcontrolplane.go
  cloud/services/disks/mock_disks/disks_mock.go
  cloud/services/groups/mock_groups/groups_mock.go
  cloud/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  cloud/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  cloud/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  cloud/services/publicips/mock_publicips/publicips_mock.go
  cloud/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  cloud/services/routetables/mock_routetables/routetables_mock.go
  cloud/services/subnets/mock_subnets/subnets_mock.go
  cloud/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_reconciler.go
  controllers/helpers.go
  controllers/helpers_test.go
  docs/development.md
  docs/topics/cloud-provider-config.md
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremangedcontrolplane_controller.go
  go.sum
  hack/create-dev-cluster.sh
  main.go
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/ephemeral/kustomization.yaml
  templates/flavors/ephemeral/patches/ephemeral.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/flavors/machinepool/kustomization.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/flavors/machinepool/patches/control-plane-azure-file.yaml
  templates/flavors/system-assigned-identity/kustomization.yaml
  templates/flavors/system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/system-assigned-identity/system-assigned-identity-md.yaml
  templates/flavors/user-assigned-identity/kustomization.yaml
  templates/flavors/user-assigned-identity/patches/user-assigned-identity.yaml
  templates/flavors/user-assigned-identity/user-assigned-identity-md.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/common.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#828 Add validation on CLUSTER_NAME
  api/v1alpha3/azurecluster_default_test.go
  api/v1alpha3/azurecluster_validation.go
  api/v1alpha3/azurecluster_validation_test.go
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#798 🐛 fix AzureManagedCluster reconcile without a resource group
  Tiltfile
  cloud/scope/managedcontrolplane.go
  cloud/services/groups/mock_groups/groups_mock.go
  cloud/services/groups/service.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  exp/controllers/azuremanagedmachinepool_reconciler_test.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-action-required, sig/cluster-lifecycle, size/L

#830 💎 Refactor security groups service spec
  cloud/converters/rules.go
  cloud/scope/cluster.go
  cloud/services/loadbalancers/loadbalancers.go
  cloud/services/securitygroups/mock_securitygroups/client_mock.go
  cloud/services/securitygroups/mock_securitygroups/doc.go
  cloud/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  cloud/services/securitygroups/securitygroups.go
  cloud/services/securitygroups/securitygroups_test.go
  cloud/services/securitygroups/service.go
  cloud/types.go
  controllers/azurecluster_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL
