Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-04, with the labels that each got.

#471 Add script for running k8s conformance E2E
  Makefile
  docs/development.md
  hack/create-dev-cluster.sh
  hack/manual-testing.sh
  scripts/ci-conformance.sh
  templates/kustomization.yaml
  templates/kustomizeversions.yaml
  test/e2e/resource_generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#478 🏃e2e/tests: add option to configure some testing values
  Makefile
  go.mod
  go.sum
  test/e2e/azure_test.go
  test/e2e/resource_generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#496 Enable control plane retry join experimental feature in cluster template
  templates/cluster-template.yaml
  templates/kustomizeversions.yaml
  test/e2e/control_plane_cluster_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#498 fix typo in cluster template
  templates/cluster-template.yaml
  templates/kustomizeversions.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#499 Create Dev Cluster should fail if errors during execution
  hack/create-dev-cluster.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#501 Disable Auth Password
  cloud/services/virtualmachines/virtualmachines.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#495 Update Kubernetes version support policy
  README.md
  docs/development.md
  hack/create-dev-cluster.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#504 Add Calico CNI spec using VXLAN
  Makefile
  templates/addons/calico.yaml
  test/e2e/control_plane_cluster_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#509 fix: do not require REGISTRY in create-dev-cluster
  docs/development.md
  hack/create-dev-cluster.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#507 Fix conformance test script to allow building from k8s release
  docs/development.md
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#510 docs: update link to current cluster-api vendoring
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#511 Only print updating tags log if tags are changed and get updated
  controllers/azuremachine_tags.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#500 🏃 e2e testing cleanup
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  test/e2e/azure_suite_test.go
  test/e2e/utils/cleanup_e2e_resources.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#512 Add step to parse prow credentials in create cluster script
  hack/create-dev-cluster.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#513 Add tiltfile support focused for capz
  .gitignore
  Makefile
  Tiltfile
  docs/development.md
  scripts/kind-with-registry.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#516 fix unbound AZURE_CREDENTIALS var error
  hack/create-dev-cluster.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#517 docs: move creds before tilt for clarity; fix 404
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#518 update clusterctl docs
  docs/clusterctl.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#523 Fix development doc table of content
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/S

#525 Add timeout to dev requirements and add kustomize to hack/tools
  Makefile
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#526 Collect capz logs in conformance tests
  .gitignore
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#529 Add Azure tags to conformance resource groups
  scripts/ci-conformance.sh
  templates/ci-version.yaml
  templates/conformance-tags.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#531 dependency: Update hack/tools controller-tools to v0.2.8
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#527 External cloud provider
  docs/topics/external-cloud-provider.md
  templates/addons/cloud-controller-manager.yaml
  templates/addons/cloud-node-manager.yaml
  templates/cluster-template-external-cloud-provider.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#533 Change prow creds parsing to allow no new lines
  hack/create-dev-cluster.sh
  hack/parse-prow-creds.sh
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#536 Add UDP and TCP standard load balancer rule
  cloud/services/publicloadbalancers/publicloadbalancers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#538 [conformance] Don't fail if can't move ginkgo binary
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#545 chore: speed up tilt start and rebuild by a lot
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#546 chore: ignore all files in dockerignore by default
  .dockerignore
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#543 ✨ Add printer columns to AzureMachine and AzureCluster
  api/v1alpha3/azurecluster_types.go
  api/v1alpha3/azuremachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#547 🏃 allow for extra args in entrypoint
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#544 Improve VM provisioning State handling
  api/v1alpha3/types.go
  cloud/scope/machine.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#552 :running: fix typo in tiltfile
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#560 Fix typo in conformance template name
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#566 Move go generate to the end of the generate make target
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#567 :sparkles: add exp folder to prepare for aks/machinepool
  .dockerignore
  Makefile
  exp/PROJECT
  exp/README.md
  exp/api/v1alpha3/groupversion_info.go
  exp/controllers/.gitkeep
  exp/doc.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#555 🏃 Remove all TODOs in the codebase
  Makefile
  README.md
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/services/subnets/subnets.go
  cloud/services/virtualmachineextensions/virtualmachineextensions.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualnetworks/virtualnetworks.go
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  hack/tools/go.mod
  hack/tools/go.sum
  scripts/ci-conformance.sh
  test/e2e/generators/capi.go
  test/e2e/generators/capz.go
  test/integration/metacluster_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#569 [E2E] Remove capi, cabpk and kcp generators
  test/e2e/azure_suite_test.go
  test/e2e/generators/cabpk.go
  test/e2e/generators/capi.go
  test/e2e/generators/kcp.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#570 conformance: fix kubeadm version when using CI_VERSION
  scripts/ci-conformance.sh
  templates/test/cluster-template-conformance-ci-version.yaml
  templates/test/conformance-ci-version/patches/ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#568 Move AzureMachine SSHPublicKey validation to webhook
  api/v1alpha3/azuremachine_default.go
  api/v1alpha3/azuremachine_default_test.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/azuremachine_webhook_test.go
  cloud/services/virtualmachines/virtualmachines.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#571 conformance: fix kubectl path
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#573 Small fixes in Makefile and kind script
  Makefile
  scripts/kind-with-registry.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#574 docs: fix a link and some typos in developer doc
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#576 docs: fix kubectl link in getting started doc
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#585 Add devigned as reviewer
  OWNERS_ALIASES
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#565 ✨ add support for azure system assigned identities
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/azuremachinetemplate_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/types.go
  cloud/services/roleassignments/client.go
  cloud/services/roleassignments/mock_roleassignments/doc.go
  cloud/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  cloud/services/virtualmachines/service.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azuremachine_reconciler.go
  docs/getting-started.md
  docs/topics/identity.md
  templates/cluster-template-system-assigned-identity.yaml
  templates/flavors/system-assigned-identity/kustomization.yaml
  templates/flavors/system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/system-assigned-identity/system-assigned-identity-md.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#577 Update CAPI to v0.3.5
  Makefile
  Tiltfile
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/azure_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#581 Add workaround to find kubectl binary on MacOS
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS
