Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-05, with the labels that each got.

#587 🏃Update several dependencies
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#483 feat: implement AzureMachinePool
  Makefile
  Tiltfile
  api/v1alpha3/azureimage_validation.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_azuremachinepools.yaml
  config/crd/patches/webhook_in_azuremachinepools.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_tags.go
  controllers/azuremachine_tags_unit_test.go
  docs/development.md
  docs/topics/machinepools.md
  exp/PROJECT
  exp/README.md
  exp/api/v1alpha3/azuremachinepool_test.go
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/azuremachinepool_webhook.go
  exp/api/v1alpha3/types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/cloud/converters/vmss.go
  exp/cloud/converters/vmss_test.go
  exp/cloud/scope/machinepool.go
  exp/cloud/services/scalesets/client.go
  exp/cloud/services/scalesets/mock_scalesets/doc.go
  exp/cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  exp/cloud/services/scalesets/service.go
  exp/cloud/services/scalesets/vmss.go
  exp/cloud/services/scalesets/vmss_test.go
  exp/controllers/.gitkeep
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_test.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/suite_test.go
  exp/hack/boilerplate.go.txt
  go.mod
  internal/test/matchers/matchers.go
  internal/test/mock_log/doc.go
  internal/test/mock_log/log_mock.go
  main.go
  templates/cluster-template-machinepool.yaml
  templates/flavors/machinepool/kustomization.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#590 Fix 'gen-flavors.sh' to work on Ubuntu 18.04.2
  hack/gen-flavors.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#591 fix: log for AzureMachinePool specifies name as azureMachine
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#572 feat: add failure domain support
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/azuremachinetemplate_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azurecluster_types.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/services/availabilityzones/availabilityzones.go
  cloud/services/availabilityzones/availabilityzones_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azurecluster_reconciler.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  docs/topics/failure-domains.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#593 fix: with kind 0.8.1 make tilt-up will fail with imagepullbackoff
  scripts/kind-with-registry.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#583 Deploy clusters into multiple subscriptions from single CAPZ manager
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azurecluster_types.go
  cloud/scope/clients.go
  cloud/scope/cluster.go
  cloud/services/availabilityzones/availabilityzones_test.go
  cloud/services/disks/disks_test.go
  cloud/services/groups/groups_test.go
  cloud/services/internalloadbalancers/internalloadbalancers_test.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/publicips/publicips_test.go
  cloud/services/publicloadbalancers/publicloadbalancers_test.go
  cloud/services/routetables/routetables_test.go
  cloud/services/securitygroups/securitygroups_test.go
  cloud/services/subnets/subnets_test.go
  cloud/services/virtualmachineextensions/virtualmachineextensions_test.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/services/virtualnetworks/virtualnetworks_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  exp/cloud/services/scalesets/vmss_test.go
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/test/cluster-template-conformance-ci-version.yaml
  templates/test/cluster-template-conformance.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#596 cleanup: delete unused decodeRawExtension code
  api/v1alpha3/decode.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#599 Fix generated flavor templates ordering
  hack/gen-flavors.sh
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/test/cluster-template-conformance-ci-version.yaml
  templates/test/cluster-template-conformance.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#602 chore: move ./exp/cloud into ./cloud
  cloud/converters/vmss.go
  cloud/converters/vmss_test.go
  cloud/scope/machinepool.go
  cloud/services/scalesets/client.go
  cloud/services/scalesets/mock_scalesets/doc.go
  cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  cloud/services/scalesets/service.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#594 cleanup: remove unused VM extensions service
  cloud/services/virtualmachineextensions/virtualmachineextensions.go
  cloud/services/virtualmachineextensions/virtualmachineextensions_test.go
  cloud/services/virtualmachines/virtualmachines_test.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XL

#595 Remove conformance script MacOS workaround
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#597 cleanup: cleanup types.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#604 validate azure cluster vnet when people bring their own
  api/v1alpha3/azurecluster_validation.go
  api/v1alpha3/azurecluster_validation_test.go
  api/v1alpha3/azurecluster_webhook.go
  api/v1alpha3/azurecluster_webhook_test.go
  config/webhook/manifests.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XL

#592 Update NSG only if default rules are not present, or else skip the update
  cloud/services/securitygroups/client.go
  cloud/services/securitygroups/securitygroups.go
  cloud/services/securitygroups/securitygroups_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#610 🐛 Report lack of webhook side effects
  api/v1alpha3/azurecluster_webhook.go
  api/v1alpha3/azuremachine_webhook.go
  config/webhook/manifests.yaml
  exp/api/v1alpha3/azuremachinepool_webhook.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#621 🐛 fix webhooks
  api/v1alpha3/azurecluster_validation.go
  api/v1alpha3/azurecluster_webhook.go
  api/v1alpha3/azuremachine_default.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook.go
  config/webhook/manifests.yaml
  config/webhook/webhookcainjection_patch.yaml
  test/e2e/azure_suite_test.go
  test/e2e/azure_test.go
  test/e2e/resource_generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#626 🐛 fix: allow nil image in AzureMachine webhook validation
  api/v1alpha3/azureimage_validation.go
  api/v1alpha3/azureimage_validation_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#625 Update CAPI to v0.3.6
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/azure_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#619 chore: install via ephemeral go module rather than tools module
  Makefile
  controllers/azuremachine_reconciler.go
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  scripts/go_install.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XXL

#628 🐛 Remove errant space that broke "make tilt-up"
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#617 🏃extend ci-conformance.sh testing capability
  docs/development.md
  scripts/ci-entrypoint.sh
  templates/addons/storageclass-azure-disk.yaml
  templates/addons/storageclass-azure-file.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#616 ✨ Add support for user-assigned managed identities in AzureMachine
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/azuremachinetemplate_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_default_test.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/azuremachine_webhook_test.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azuremachine_reconciler.go
  docs/topics/identity.md
  templates/cluster-template-user-assigned-identity.yaml
  templates/flavors/user-assigned-identity/kustomization.yaml
  templates/flavors/user-assigned-identity/patches/user-assigned-identity.yaml
  templates/flavors/user-assigned-identity/user-assigned-identity-md.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#620 🏃 Add ci-apidiff job
  Makefile
  scripts/ci-apidiff.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#632 Update getting-started.md
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#630 Refactor: Move node public IP creation/deletion to NIC service
  cloud/defaults.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#633 📖 Add front-page link to flavors documentation
  README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#634 🏃 remove unused ci script and rename templates
  scripts/ci-conformance.sh
  scripts/ci-entrypoint.sh
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow.yaml
  templates/test/prow-ci-version/kustomization.yaml
  templates/test/prow-ci-version/patches/ci-version.yaml
  templates/test/prow/kustomization.yaml
  templates/test/prow/patches/tags.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#636 🐛 add ClusterRole and ClusterRoleBinding for Azure File
  templates/addons/azurefile-role.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#647 📖 clarify that either python 2.7 or 3.x is ok
  .gitignore
  docs/development.md
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate_test.py
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#642 Added namespace override to all kustomize files
  templates/cluster-template-aks.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/aks/kustomization.yaml
  templates/flavors/default/kustomization.yaml
  templates/flavors/external-cloud-provider/kustomization.yaml
  templates/flavors/machinepool/kustomization.yaml
  templates/flavors/system-assigned-identity/kustomization.yaml
  templates/flavors/user-assigned-identity/kustomization.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#650 🐛 Check all chained errors for 404
  cloud/errors.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#638 ✨ switch to clusterctl-based e2e framework
  .gitignore
  Makefile
  docs/development.md
  go.mod
  go.sum
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  test/e2e/auth/creds.go
  test/e2e/azure_suite_test.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/control_plane_cluster_test.go
  test/e2e/create_workload_cluster_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/generators/capz.go
  test/e2e/resource_generators.go
  test/e2e/utils/cleanup_e2e_resources.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#655 ✨Make machine providerID consistent with node
  api/v1alpha3/azuremachine_webhook_test.go
  api/v1alpha3/types.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azuremachine_controller.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#639 Adds version info to manager startup logs
  .dockerignore
  Makefile
  hack/version.sh
  main.go
  version/version.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L
