Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2020-06, with the labels that each got.

#643 🐛 Move subnets and vnet defaulting to AzureCluster mutating webhook
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azurecluster_default.go
  api/v1alpha3/azurecluster_default_test.go
  api/v1alpha3/azurecluster_validation.go
  api/v1alpha3/azurecluster_validation_test.go
  api/v1alpha3/azurecluster_webhook.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/defaults.go
  cloud/scope/cluster.go
  cloud/services/internalloadbalancers/internalloadbalancers.go
  cloud/services/subnets/subnets.go
  cloud/services/subnets/subnets_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/webhook/manifests.yaml
  config/webhook/webhookcainjection_patch.yaml
  controllers/azurecluster_reconciler.go
  controllers/azuremachine_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#665 ✨Add version to user-agent for Azure API calls
  cloud/defaults.go
  cloud/services/agentpools/client.go
  cloud/services/availabilityzones/client.go
  cloud/services/disks/client.go
  cloud/services/groups/client.go
  cloud/services/inboundnatrules/client.go
  cloud/services/internalloadbalancers/client.go
  cloud/services/managedclusters/client.go
  cloud/services/networkinterfaces/client.go
  cloud/services/publicips/client.go
  cloud/services/publicloadbalancers/client.go
  cloud/services/resourceskus/client.go
  cloud/services/roleassignments/client.go
  cloud/services/routetables/client.go
  cloud/services/scalesets/client.go
  cloud/services/securitygroups/client.go
  cloud/services/subnets/client.go
  cloud/services/virtualmachineextensions/client.go
  cloud/services/virtualmachines/client.go
  cloud/services/virtualnetworks/client.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#666 🏃 Add cluster-name to kubeadm controllerManager args
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#658 Adds validation for OS Disk spec
  api/v1alpha3/azuremachine_default_test.go
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/azuremachine_webhook_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#670 ✨ add diagnostic script for CI log collection
  hack/log/log-dump-daemonset.yaml
  hack/log/log-dump.sh
  hack/log/redact.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  test/e2e/common.go
  test/e2e/create_workload_cluster_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#673 ✨ Spin flavor clusters as tilt resources
  Tiltfile
  docs/development.md
  templates/flavors/README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#680 🐛 MachinePool template must have vmType vmss in control plane azure.json
  docs/topics/machinepools.md
  templates/cluster-template-machinepool.yaml
  templates/flavors/machinepool/kustomization.yaml
  templates/flavors/machinepool/patches/control-plane-azure-file.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#681 feat: tilt flavors with b64 secrets and default pub key
  .gitignore
  Tiltfile
  templates/flavors/README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#674 🐛 Fix nodes outbound connectivity with SLB
  api/v1alpha3/tags.go
  cloud/defaults.go
  cloud/services/groups/groups.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/publicloadbalancers/publicloadbalancers.go
  cloud/services/publicloadbalancers/publicloadbalancers_test.go
  cloud/services/scalesets/service.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/virtualnetworks/virtualnetworks.go
  controllers/azurecluster_reconciler.go
  controllers/azuremachine_reconciler.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#683 🐛 s/vm/vmss for MachinePool's azure.json
  hack/log/log-dump.sh
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/patches/control-plane-ci-version.yaml
  templates/test/patches/control-plane-image-ci-version.yaml
  templates/test/prow-ci-version/kustomization.yaml
  templates/test/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/prow-machine-pool-ci-version/kustomization.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#684 fix: vnet resource group to be AZURE_RESOURCE_GROUP
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/README.md
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/flavors/machinepool/patches/control-plane-azure-file.yaml
  templates/flavors/system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/system-assigned-identity/system-assigned-identity-md.yaml
  templates/flavors/user-assigned-identity/user-assigned-identity-md.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#687 🐛 do not use 'source' to call log dump script & fix 1.17 test failure
  hack/ensure-kind.sh
  scripts/ci-entrypoint.sh
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#693 Update PR template to assist reviewers
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#688 🌱 remove extra image validation in the Azure Machine controller
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#697 Remove serbrech from reviewers and add alexeldeib
  OWNERS_ALIASES
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#695 🐛 Use vmType "vmss" in every template to allow mixed mode
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/flavors/system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/system-assigned-identity/system-assigned-identity-md.yaml
  templates/flavors/user-assigned-identity/user-assigned-identity-md.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow.yaml
  templates/test/prow-ci-version/patches/machine-deployment-ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#689 [managedcluster] should check provisioning status before attempting changes
  cloud/services/agentpools/agentpools.go
  cloud/services/agentpools/agentpools_test.go
  cloud/services/agentpools/mock_agentpools/agentpools_mock.go
  cloud/services/agentpools/mock_agentpools/doc.go
  cloud/services/managedclusters/managedclusters.go
  cloud/services/managedclusters/managedclusters_test.go
  cloud/services/managedclusters/mock_managedclusters/doc.go
  cloud/services/managedclusters/mock_managedclusters/managedclusters_mock.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XL

#698 🌱 Change all example k8s versions and defaults to 1.18.3
  docs/development.md
  docs/topics/failure-domains.md
  docs/topics/machinepools.md
  hack/create-dev-cluster.sh
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#707 :book: small fix in CONTRIBUTING.md formatting
  CONTRIBUTING.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#711 makefile: update makefile verify-modules
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#710 deps: update several deps
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#709 💚 Add a bit more tests for agentpools and availabilityzones
  cloud/services/agentpools/agentpools.go
  cloud/services/agentpools/agentpools_test.go
  cloud/services/agentpools/mock_agentpools/doc.go
  cloud/services/availabilityzones/availabilityzones_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#713 💎 refactor most services into Reconcile/Delete pattern
  cloud/interfaces.go
  cloud/services/agentpools/agentpools.go
  cloud/services/agentpools/agentpools_test.go
  cloud/services/availabilityzones/availabilityzones.go
  cloud/services/disks/disks.go
  cloud/services/groups/groups.go
  cloud/services/groups/groups_test.go
  cloud/services/internalloadbalancers/internalloadbalancers.go
  cloud/services/internalloadbalancers/internalloadbalancers_test.go
  cloud/services/managedclusters/managedclusters.go
  cloud/services/networkinterfaces/networkinterfaces.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/publicips/publicips.go
  cloud/services/publicips/publicips_test.go
  cloud/services/publicloadbalancers/publicloadbalancers.go
  cloud/services/publicloadbalancers/publicloadbalancers_test.go
  cloud/services/routetables/routetables.go
  cloud/services/routetables/routetables_test.go
  cloud/services/scalesets/vmss.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/securitygroups/securitygroups.go
  cloud/services/subnets/subnets.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/services/virtualnetworks/virtualnetworks.go
  controllers/azurecluster_reconciler.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XXL

#686 📖 docs for managed cluster
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  docs/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
  templates/cluster-template-aks.yaml
  templates/flavors/aks/cluster-template.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#719 Fix route table reconciliation
  cloud/services/routetables/routetables.go
  cloud/services/routetables/routetables_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#722 🔧 Add AZURE_ENVIRONMENT to required Tilt keys
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-action-required, sig/cluster-lifecycle, size/XS

#701 💚 Run CAPI E2E specs in E2E
  Makefile
  scripts/ci-e2e.sh
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#640 Add notes on debugging cluster creation
  docs/development.md
  docs/troubleshooting.md
  hack/debugging/Readme.md
  hack/debugging/kubectl-capz-map
  hack/debugging/kubectl-capz-ssh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/L

#728 bump cluster api version to 0.3.7-alpha.0
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#730 :bug: Add resource group to the spec of the AzureMachinePool delete
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_unit_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#733 bug: replaced deprecated NewFakeClient with NewFakeClientWithScheme
  cloud/services/availabilityzones/availabilityzones_test.go
  cloud/services/disks/disks_test.go
  cloud/services/groups/groups_test.go
  cloud/services/internalloadbalancers/internalloadbalancers_test.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/publicips/publicips_test.go
  cloud/services/publicloadbalancers/publicloadbalancers_test.go
  cloud/services/routetables/routetables_test.go
  cloud/services/securitygroups/securitygroups_test.go
  cloud/services/subnets/subnets_test.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/services/virtualnetworks/virtualnetworks_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#727 🐛 Use node-subnet for AzureMachinePool VMSS
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#734 Fix conversion-gen not using --output-base=${root_dir}
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#559 Add support for Spot VMs
  api/v1alpha2/azuremachine_conversion.go
  api/v1alpha2/azuremachinetemplate_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azuremachine_reconciler.go
  docs/topics/spot-vms.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#735 ⚠️ Remove SecurityGroups from AzureCluster Status
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/scope/cluster.go
  cloud/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#736 🔧 install hack/tools when version has changed
  Makefile
  api/v1alpha2/zz_generated.conversion.go
  scripts/go_install.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#732 🐛 fix AzureCluster reconcile loop cycle
  Makefile
  cloud/services/subnets/subnets.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#741 💎 Remove use of deprecated cluster scope Name() in favor of ClusterName()
  cloud/scope/cluster.go
  cloud/services/groups/groups.go
  cloud/services/publicloadbalancers/publicloadbalancers.go
  cloud/services/routetables/routetables.go
  cloud/services/securitygroups/securitygroups.go
  cloud/services/subnets/subnets.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualnetworks/virtualnetworks.go
  controllers/azurecluster_reconciler.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#743 🌱 Update cluster-api OWNERS to match CAPI repo
  OWNERS_ALIASES
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#729 :bug: respect ingressRules specified in security group spec
  api/v1alpha2/azurecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/azurecluster_validation.go
  api/v1alpha3/azurecluster_validation_test.go
  api/v1alpha3/types.go
  cloud/services/securitygroups/securitygroups.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/azurecluster_reconciler.go
  docs/topics/custom-vnet.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#744 🌱 remove incorrect reference to master in managed machinepool types
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/azuremanagedmachinepool_types.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#738 🐛 tests: add missing mockCtrl.Finish()
  cloud/services/agentpools/agentpools_test.go
  cloud/services/availabilityzones/availabilityzones_test.go
  cloud/services/disks/disks_test.go
  cloud/services/groups/groups_test.go
  cloud/services/internalloadbalancers/internalloadbalancers_test.go
  cloud/services/managedclusters/managedclusters_test.go
  cloud/services/networkinterfaces/networkinterfaces_test.go
  cloud/services/publicips/publicips_test.go
  cloud/services/publicloadbalancers/publicloadbalancers_test.go
  cloud/services/routetables/routetables_test.go
  cloud/services/scalesets/vmss_test.go
  cloud/services/securitygroups/securitygroups_test.go
  cloud/services/subnets/subnets_test.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/services/virtualnetworks/virtualnetworks_test.go
  controllers/azurecluster_controller_test.go
  controllers/helpers_test.go
  exp/controllers/azuremachinepool_controller_unit_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#653 ⚒️ eliminate plain text credentials
  docs/development.md
  hack/create-dev-cluster.sh
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/flavors/machinepool/patches/control-plane-azure-file.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow.yaml
  test/e2e/azure_test.go
  test/e2e/common.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL
