Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-08, with the labels that each got.

#1460 Adding correlation IDs to reconcile loops
  controllers/azuremachine_controller.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
  util/tele/corr_id.go
  util/tele/tele.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1571 Remove accelerated networking test
  test/e2e/azure_accelnet.go
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1577 Fix nil reference in azuremachine conversion
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/conversion_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1582 cloud: Refactor managed cluster scope to interface
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/mock_managedclusters/client_mock.go
  azure/services/managedclusters/mock_managedclusters/doc.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  azure/services/managedclusters/service.go
  azure/types.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedcontrolplane_reconciler.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, release-note, approved, size/XXL, ok-to-test, lgtm, sig/cluster-lifecycle

#1579 Tiltfile should tolerate creds set in base 64 encoding
  Tiltfile
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1586 lowercase AzureManagedMachinePool providerID
  exp/controllers/azuremanagedmachinepool_reconciler.go
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1583 Update Calico to v3.19.2
  scripts/ci-e2e.sh
  templates/addons/calico-ipv6.yaml
  templates/addons/calico.yaml
  templates/cluster-template-private.yaml
  templates/flavors/private/kustomization.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-identity-from-env.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow-identity-from-env/cni-resource-set.yaml
  templates/test/ci/prow-identity-from-env/kustomization.yaml
  templates/test/ci/prow-identity-from-env/mhc.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/azure_selfhosted.go
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1514 Allow for using SP Identity directly embedded in a secret
  api/v1alpha4/types.go
  azure/scope/clients.go
  azure/scope/identity.go
  docs/book/src/topics/multitenancy.md
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1560 Azure active directory support for managedclusters
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  templates/cluster-template-aks-aad.yaml
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1593 Add alexeldeib to cluster-api-azure-maintainers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1602 cloud: Refactor managed machine pool
  azure/interfaces.go
  azure/mocks/service_mock.go
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/agentpools/service.go
  azure/types.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1594 Add mboersma to cluster-api-azure-reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1598 fix managed clusters custom VNet delete issue
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1600 Tilt requirements section added to docs
  docs/book/src/developers/development.md
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1603 Update Calico to v3.20.0
  templates/addons/calico-ipv6.yaml
  templates/addons/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-identity-from-env.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1611 Update dev kubectl to v1.21.4
  Makefile
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1615 Ensure Github Actions run on main branch after rename
  .github/workflows/cover.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1616 Update docs to reference main branch
  README.md
  docs/book/src/developers/development.md
  docs/book/src/developers/releasing.md
  docs/book/src/topics/aad-integration.md
  docs/book/src/topics/cloud-provider-config.md
  docs/book/src/topics/gpu.md
  docs/book/src/topics/ipv6.md
  docs/book/src/topics/machinepools.md
  docs/book/src/topics/windows.md
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#1617 Remove dangling references to old branch
  .github/workflows/cover.yaml
  scripts/ci-apidiff.sh
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1629 docs: clarify deploying workload clusters with tilt
  docs/book/src/developers/development.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#1624 Automate release via Github Action
  .github/workflows/cover.yaml
  .github/workflows/release.yaml
  Makefile
  docs/book/src/developers/releasing.md
  hack/install-go.sh
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1628 docs: mention Troubleshooting in the issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#1631 Fix immutable error message for AzureEnvironment
  api/v1alpha4/azurecluster_webhook.go
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1626 Print VNET range when subnet CIDR range is invalid
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
Labels: kind/feature, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1621 Replaced Windows with Windows + WSL2
  docs/book/src/developers/development.md
Labels: cncf-cla: yes, size/S, tide/merge-method-squash, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1630 Cleanup Makefile and remove obsolete targets
  Makefile
Labels: cncf-cla: yes, size/S, release-note-none, approved, lgtm

#1623 Set default outbound lb for v1alpha3 clusters
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/conversion_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#1637 Add branch to release notes command in Makefile
  Makefile
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1633 update the tilt doc with screenshots
  docs/book/src/developers/development.md
  docs/book/theme/flavour-deploy-from-ui.png
  docs/book/theme/tilt-up.png
  templates/flavors/README.md
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, kind/documentation, ok-to-test, lgtm, sig/cluster-lifecycle

#1641 Update MINIMUM_KIND_VERSION to v0.10.0
  hack/ensure-kind.sh
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1541 Add proposal for Async Azure Resource Creation and Deletion
  docs/Makefile
  docs/proposals/20210716-async-azure-resource-creation-deletion.md
  docs/proposals/images/async-delete.plantuml
  docs/proposals/images/async-delete.png
  docs/proposals/images/async-reconcile.plantuml
  docs/proposals/images/async-reconcile.png
  docs/proposals/images/azure-cluster-reconcile.plantuml
  docs/proposals/images/azure-cluster-reconcile.png
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1620 Update dependencies including cluster-api to v0.4.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1613 return empty string for outbound lb name if there is no outbound lb
  azure/scope/cluster.go
  azure/scope/cluster_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1636 Add skip cleanup for private cluster e2e spec
  scripts/ci-e2e.sh
  test/e2e/azure_privatecluster.go
  test/e2e/azure_test.go
Labels: cncf-cla: yes, tide/merge-method-squash, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1643 update azure-sdk-for-go to v55.8.0
  go.mod
  go.sum
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1588 Update e2e tests to use k8s v1.22.1
  docs/book/src/developers/development.md
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/gpu.md
  docs/book/src/topics/machinepools.md
  hack/create-dev-cluster.sh
  templates/flavors/README.md
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/prow-custom-vnet/patches/custom-vnet.yaml
  test/e2e/config/azure-dev.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#1589 fix: don't create outbound LB if using NatGateway
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_default_test.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/natgateways_test.go
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
Labels: kind/bug, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1635 update templates to use 8GB of etcd db data
  templates/cluster-template-aad.yaml
  templates/cluster-template-azure-bastion.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-ipv6.yaml
  templates/cluster-template-machinepool-multiple-subnets.yaml
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-nat-gateway.yaml
  templates/cluster-template-nvidia-gpu.yaml
  templates/cluster-template-private.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#1625 Add missing watch filter label
  controllers/azurecluster_controller.go
  controllers/azureidentity_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/azuremanagedcluster_controller.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  main.go
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1642 Fix AzureClusterIdentity conversion and add missing webhook
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha4/azureclusteridentity_webhook.go
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_azureclusteridentities.yaml
  config/crd/patches/webhook_in_azureclusteridentities.yaml
  main.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1646 update Azure compute API to 2021-04-01
  api/v1alpha4/azuremachine_validation.go
  api/v1alpha4/azuremachine_validation_test.go
  api/v1alpha4/azuremachinetemplate_webhook_test.go
  azure/converters/identity.go
  azure/converters/identity_test.go
  azure/converters/image.go
  azure/converters/spotinstances.go
  azure/converters/vm.go
  azure/converters/vmss.go
  azure/converters/vmss_test.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/availabilitysets/client.go
  azure/services/availabilitysets/mock_availabilitysets/client_mock.go
  azure/services/disks/client.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/resourceskus/cache.go
  azure/services/resourceskus/cache_test.go
  azure/services/resourceskus/client.go
  azure/services/resourceskus/mock_resourceskus/resourceskus_mock.go
  azure/services/resourceskus/sku.go
  azure/services/roleassignments/roleassignments_test.go
  azure/services/scalesets/client.go
  azure/services/scalesets/mock_scalesets/client_mock.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/client.go
  azure/services/scalesetvms/mock_scalesetvms/client_mock.go
  azure/services/scalesetvms/scalesetvms_test.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/mock_virtualmachines/client_mock.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/vmextensions/client.go
  azure/services/vmextensions/mock_vmextensions/client_mock.go
  azure/services/vmextensions/vmextensions.go
  azure/services/vmextensions/vmextensions_test.go
  azure/services/vmssextensions/client.go
  azure/services/vmssextensions/mock_vmssextensions/client_mock.go
  azure/services/vmssextensions/vmssextensions_test.go
  controllers/azurecluster_reconciler_test.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_privatecluster.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1632 Streamline error matching in cluster validation tests
  api/v1alpha4/azurecluster_validation_test.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1645 fix: remove log_dump_pods variable declaration
  hack/log/log-dump.sh
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1651 Revert "Cleanup Makefile and remove obsolete targets"
  Makefile
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1639 Fix redundant import and rename instances of meta package v1 to metav1
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha4/azurecluster_default_test.go
  api/v1alpha4/azuremachinetemplate_webhook_test.go
  test/e2e/kubernetes/node/node.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1650 Use same k8s version for linux and windows tests
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1619 add webhook health and readiness checks
  main.go
Labels: kind/feature, cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle
