Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-07, with the labels that each got.

#1188 ✨ Add support to reconcile subnet's Nat Gateway
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/defaults.go
  azure/interfaces.go
  azure/mocks/service_mock.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/managedcontrolplane.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/natgateways/client.go
  azure/services/natgateways/mock_natgateways/client_mock.go
  azure/services/natgateways/mock_natgateways/doc.go
  azure/services/natgateways/mock_natgateways/natgateways_mock.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/natgateways_test.go
  azure/services/routetables/mock_routetables/routetables_mock.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/services/subnets/subnets.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  docs/book/src/topics/node-outbound-lb.md
  templates/cluster-template-nat-gateway.yaml
  templates/flavors/nat-gateway/kustomization.yaml
  templates/flavors/nat-gateway/patches/nat-gateway.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, lifecycle/active, ok-to-test, release-note, sig/cluster-lifecycle, size/XXL

#1466 Make control plane outbound lb configurable
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_default_test.go
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/azurecluster_webhook.go
  api/v1alpha4/azurecluster_webhook_test.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/scope/cluster.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/topics/control-plane-outbound-lb.md
  templates/cluster-template-private.yaml
  templates/flavors/private/patches/private-lb.yaml
  templates/test/ci/cluster-template-prow-private.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1445 Make azure credentials optional in manager deployment
  config/default/credentials.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1486 Update external cloud provider templates to v1.0
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/cloud-controller-manager.yaml
  templates/flavors/external-cloud-provider/cloud-node-manager.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#1489 Make tilt watch relevant folders
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1490 fix nil panic in AzureMachinePoolMachine scope when no node is found for the providerID
  azure/scope/machinepoolmachine.go
  azure/scope/machinepoolmachine_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/L

#1491 set natgateway ip name in defaults
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_default_test.go
  azure/scope/cluster.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1492 SinglePlacementGroup=false for Azure VMSS (MachinePool)
  azure/converters/vmss_test.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/S

#1502 Don't delete AzureIdentities from other Clusters
  controllers/azureidentity_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/S

#1504 Set identity related env vars in create dev cluster
  hack/create-dev-cluster.sh
  hack/create-identity-secret.sh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1506 Remove owner ref from AzureClusterIdentity
  controllers/azurecluster_controller.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  templates/azure-cluster-identity/azure-cluster-identity.yaml
  templates/cluster-template-aad.yaml
  templates/cluster-template-aks.yaml
  templates/cluster-template-azure-bastion.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-ipv6.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-nat-gateway.yaml
  templates/cluster-template-nvidia-gpu.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/M

#1473 Update README for version support and add v1alpha4
  README.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1512 update upstream k8s CI image store reference
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/patches/control-plane-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1516 have consistent validation/defaulting for machine and machinetemplate
  api/v1alpha4/azuremachine_default.go
  api/v1alpha4/azuremachine_default_test.go
  api/v1alpha4/azuremachine_validation.go
  api/v1alpha4/azuremachine_webhook.go
  api/v1alpha4/azuremachinetemplate_webhook.go
  api/v1alpha4/azuremachinetemplate_webhook_test.go
  config/webhook/manifests.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1515 update upstream k8s CI image store reference
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/prow-ci-version/patches/ci-artifacts-script.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1465 Enable node drain timeout CAPI test
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-node-drain/cluster-with-kcp.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1527 Only update id after nat gateway reconciliation
  azure/scope/cluster.go
  azure/services/natgateways/mock_natgateways/natgateways_mock.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/natgateways_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/M

#1439 Export traces to App Insights via OpenTelemetry
  .gitignore
  Tiltfile
  docs/book/src/developers/development.md
  hack/observability/jaeger/fetch-jaeger-resources.sh
  hack/observability/jaeger/kustomization.yaml
  hack/observability/jaeger/readme.md
  hack/observability/jaeger/resources/all-in-one.yaml
  hack/observability/jaeger/resources/crds.yaml
  hack/observability/jaeger/resources/kustomization.yaml
  hack/observability/jaeger/resources/operator.yaml
  hack/observability/jaeger/resources/role.yaml
  hack/observability/jaeger/resources/role_binding.yaml
  hack/observability/jaeger/resources/service_account.yaml
  hack/observability/kustomization.yaml
  hack/observability/opentelemetry/assets/portal_instrumentation_key.png
  hack/observability/opentelemetry/assets/transaction_details.png
  hack/observability/opentelemetry/assets/transaction_search.png
  hack/observability/opentelemetry/chart/.helmignore
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/LICENSE
  hack/observability/opentelemetry/chart/README.md
  hack/observability/opentelemetry/chart/templates/NOTES.txt
  hack/observability/opentelemetry/chart/templates/_config.tpl
  hack/observability/opentelemetry/chart/templates/_helpers.tpl
  hack/observability/opentelemetry/chart/templates/_pod.tpl
  hack/observability/opentelemetry/chart/templates/configmap-agent.yaml
  hack/observability/opentelemetry/chart/templates/configmap.yaml
  hack/observability/opentelemetry/chart/templates/daemonset.yaml
  hack/observability/opentelemetry/chart/templates/deployment.yaml
  hack/observability/opentelemetry/chart/templates/hpa.yaml
  hack/observability/opentelemetry/chart/templates/podmonitor.yaml
  hack/observability/opentelemetry/chart/templates/service.yaml
  hack/observability/opentelemetry/chart/templates/serviceaccount.yaml
  hack/observability/opentelemetry/chart/templates/servicemonitor.yaml
  hack/observability/opentelemetry/chart/values.schema.json
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/controller-manager-patch.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
  hack/observability/opentelemetry/readme.md
  hack/observability/opentelemetry/values.yaml
  main.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1523 Set Service Principal in azurejson secret when AzureCluster has IdentityRef but not using Managed Identity
  Tiltfile
  azure/scope/clients.go
  azure/scope/cluster.go
  azure/scope/identity.go
  controllers/azurecluster_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/helpers.go
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  templates/flavors/README.md
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/L

#1530 Fix broken link in proposal document
  docs/proposals/20201214-bootstrap-failure-detection.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1524 Update k8s version in e2e tests to v1.21.2
  docs/book/src/developers/development.md
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/gpu.md
  docs/book/src/topics/machinepools.md
  hack/create-dev-cluster.sh
  templates/flavors/README.md
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/M

#1531 Improve docs around identity and add certificates to SP options
  docs/book/src/SUMMARY.md
  docs/book/src/topics/getting-started.md
  docs/book/src/topics/identities-use-cases.md
  docs/book/src/topics/identity.md
  docs/book/src/topics/vm-identity.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/L

#1540 Make webhook registration accept v1 admission
  api/v1alpha4/azurecluster_webhook.go
  api/v1alpha4/azuremachine_webhook.go
  api/v1alpha4/azuremachinetemplate_webhook.go
  config/webhook/manifests.yaml
  exp/api/v1alpha4/azuremachinepool_webhook.go
  exp/api/v1alpha4/azuremachinepoolmachine_webhook.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#1539 add SetIdentityDefaults to azuremachinepool_webhook.go
  exp/api/v1alpha4/azuremachinepool_webhook.go
  exp/api/v1alpha4/azuremachinepool_webhook_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#1509 add daemonset implementation of timesync validation
  go.mod
  test/e2e/aks.go
  test/e2e/azure_test.go
  test/e2e/azure_timesync.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/workloads/nsenter/daemonset.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1547 🐛 wrong mapper used for MP -> AMMP
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, kind/flake, lgtm, release-note, sig/cluster-lifecycle, size/M

#1535 Add e2e spec name as cluster name suffix
  test/e2e/azure_privatecluster.go
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1411 Add support to use different subnets in different node pools
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/azuremachine_types.go
  api/v1alpha4/types.go
  azure/interfaces.go
  azure/mocks/service_mock.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/managedcontrolplane.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/natgateways/mock_natgateways/natgateways_mock.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/natgateways_test.go
  azure/services/routetables/mock_routetables/routetables_mock.go
  azure/services/routetables/routetables_test.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azuremachine_reconciler.go
  controllers/helpers.go
  docs/book/src/topics/custom-vnet.md
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremachinepool_types.go
  exp/controllers/azuremachinepool_reconciler.go
  templates/cluster-template-machinepool-multiple-subnets.yaml
  templates/flavors/machinepool-multiple-subnets/kustomization.yaml
  templates/flavors/machinepool-multiple-subnets/machine-pool-deployment.yaml
  templates/flavors/machinepool-multiple-subnets/patches/azurecluster-subnets.yaml
  templates/flavors/machinepool-multiple-subnets/patches/machine-pool-subnet.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XXL, tide/merge-method-squash

#1478 Add support for ultra disk for data disks
  azure/services/resourceskus/sku.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  docs/book/src/topics/data-disks.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XL

#1542 azurejson machinepool controller drops user assigned identity
  controllers/azurejson_machinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1550 Remove AzureClusterIdentity Owner Ref on upgrade from v1alpha3 to v1alpha4
  api/v1alpha3/azureclusteridentity_conversion.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/S, tide/merge-method-squash

#1549 Add note about additional user assigned identities in docs
  docs/book/src/topics/vm-identity.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/S

#1507 ensure e2e specs fail if Azure resources are leaked
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  test/e2e/azure_privatecluster.go
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/conformance_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/L

#1520 Added support for system node pools in managedClusters
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/agentpools/client.go
  azure/services/agentpools/mock_agentpools/agentpools_mock.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  config/webhook/manifests.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/azuremanagedmachinepool_types.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1alpha4/azuremanagedmachinepool_types.go
  exp/api/v1alpha4/azuremanagedmachinepool_webhook.go
  exp/api/v1alpha4/azuremanagedmachinepool_webhook_test.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
  exp/controllers/helpers.go
  exp/controllers/helpers_test.go
  main.go
  templates/cluster-template-aks-multi-tenancy.yaml
  templates/cluster-template-aks.yaml
  templates/flavors/aks-multi-tenancy/cluster-template.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  test/e2e/aks.go
  util/webhook/mutator.go
  util/webhook/validator.go
Labels: approved, area/managedclusters, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XXL

#1562 fix artifact collection during e2e tests by adding artifacts folder
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/conformance_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1544 🐛managedcluster/agentpool in non-terminal state should return error
  api/v1alpha4/types.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1561 Modified all the hardcoded GCS URIs to dl.k8s.io
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/patches/control-plane-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/L, tide/merge-method-squash

#1508 Default Ubuntu to 20.04 for new k8s versions
  azure/defaults.go
  azure/defaults_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1567 fix: update go for github actions coverage test
  .github/workflows/cover.yaml
  hack/install-go.sh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/M
