Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-11, with the labels that each got.

#1811 Re-add defaulting for AzureMachineTemplate ssh key
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#1819 Update README to add v1.0 version support
  README.md
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1797 Update clusterctl-settings next version
  clusterctl-settings.json
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1822 clean up kind with local registry and remove kind ingress
  scripts/kind-with-registry.sh
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1824 cluster upgrade default fix for v1alpha3 -> v1alpha4
  api/v1alpha4/azurecluster_webhook.go
  api/v1alpha4/azurecluster_webhook_test.go
  api/v1alpha4/azuremachinetemplate_webhook.go
  api/v1alpha4/azuremachinetemplate_webhook_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1821 Remove indirect dependencies from go.mod
  go.mod
  go.sum
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1825 Change branch from master to main in few files
  .github/ISSUE_TEMPLATE/proposal.md
  docs/book/src/topics/windows.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1823 fix dead link in jobs.md
  docs/book/src/developers/jobs.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1697 make virtual machine reconcile async
  api/v1beta1/azuremachine_types.go
  azure/converters/futures_test.go
  azure/converters/identity.go
  azure/converters/identity_test.go
  azure/converters/image.go
  azure/converters/image_test.go
  azure/errors.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool_test.go
  azure/services/async/async.go
  azure/services/async/async_test.go
  azure/services/async/interfaces.go
  azure/services/async/mock_async/async_mock.go
  azure/services/disks/disks_test.go
  azure/services/groups/client.go
  azure/services/groups/groups.go
  azure/services/groups/groups_test.go
  azure/services/groups/mock_groups/client_mock.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/mock_virtualmachines/client_mock.go
  azure/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  azure/services/virtualmachines/spec.go
  azure/services/virtualmachines/spec_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_controller_test.go
  controllers/azuremachine_reconciler.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1807 Add externally managed infrastructure docs
  docs/book/src/SUMMARY.md
  docs/book/src/topics/externally-managed-azure-infrastructure.md
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#1835 ci: remove /kind other option from PR template
  .github/pull_request_template.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1839 update the nmi image version to the latest release
  config/default/aad-pod-identity-deployment.yaml
Labels: kind/feature, cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1830 chore: add mixed protocol feature gates
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/patches/apiserver.yaml
  templates/test/ci/prow-external-cloud-provider/kustomization.yaml
Labels: cncf-cla: yes, size/S, kind/cleanup, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1841 Update opentelemetry-go to v1.1.0
  go.mod
  go.sum
Labels: cncf-cla: yes, size/S, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1838 Make virtual network peerings reconcile/delete async
  api/v1beta1/conditions_consts.go
  azure/scope/cluster.go
  azure/services/vnetpeerings/client.go
  azure/services/vnetpeerings/mock_vnetpeerings/client_mock.go
  azure/services/vnetpeerings/mock_vnetpeerings/vnetpeerings_mock.go
  azure/services/vnetpeerings/spec.go
  azure/services/vnetpeerings/vnetpeerings.go
  azure/services/vnetpeerings/vnetpeerings_test.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, ok-to-test, lgtm, sig/cluster-lifecycle

#1834 test: always get a working AKS version
  test/e2e/aks.go
  test/e2e/config/azure-dev.yaml
  test/e2e/e2e_suite_test.go
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1846 Add PR number and pull sha in e2e resource tags
  hack/ensure-tags.sh
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1842 Make CAPZ tooling work on arm64
  Makefile
  hack/ensure-kind.sh
  hack/ensure-kubectl.sh
  hack/ensure-kustomize.sh
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1845 Bump golangci-lint to 1.43.0
  Makefile
  controllers/helpers_test.go
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1800 fix managed cluster diff so aks added fields are omitted
  Makefile
  Tiltfile
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedcontrolplane_default.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  exp/controllers/azuremanagedmachinepool_reconciler_test.go
  exp/controllers/helpers.go
  scripts/ci-e2e.sh
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/prow-aks-multi-tenancy/kustomization.yaml
  templates/test/ci/prow-aks-multi-tenancy/patch_location.yaml
  test/e2e/azure_timesync.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1847 Cherry pick of #1830: chore: add mixed protocol feature gates
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/patches/apiserver.yaml
  templates/test/ci/prow-external-cloud-provider/kustomization.yaml
Labels: cncf-cla: yes, size/S, kind/cleanup, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1853 chore: update project file
  PROJECT
Labels: cncf-cla: yes, size/S, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1851 Cherry pick of #1830: chore: add mixed protocol feature gates
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/patches/apiserver.yaml
  templates/test/ci/prow-external-cloud-provider/kustomization.yaml
Labels: cncf-cla: yes, size/S, kind/cleanup, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1850 Use region specific API calls with VMSS
  azure/defaults_test.go
  azure/regional_baseuri.go
  azure/regional_baseuri_test.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/prow-aks-multi-tenancy/kustomization.yaml
  templates/test/ci/prow-aks-multi-tenancy/patch_location.yaml
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1854 chore: remove cpanato from reviewers list
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1863 Add ssh key for windows nodes to enable logging
  scripts/ci-conformance.sh
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1848 Replace and remove deprecated linters
  .golangci.yml
  azure/services/managedclusters/managedclusters.go
  exp/controllers/helpers.go
  exp/controllers/helpers_test.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1855 Add several code linters
  .golangci.yml
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha4/azuremachine_types.go
  api/v1beta1/azuremachine_types.go
  azure/defaults_test.go
  azure/services/scalesets/scalesets.go
  controllers/azuremachine_controller_test.go
  controllers/suite_test.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/suite_test.go
  main.go
  test/e2e/log.go
  util/webhook/validator.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1810 v1alpha4 -> v1beta1 clusterctl upgrade test
  .gitignore
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-prow.yaml
  test/e2e/data/shared/v1alpha4/metadata.yaml
  test/e2e/data/shared/v1alpha4_provider/metadata.yaml
Labels: cncf-cla: yes, area/provider/azure, release-note-none, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1767 Add workload cluster upgrades spec
  test/e2e/aks.go
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/e2e_suite_test.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1879 e2e: Only check for valid image if version is a semver version
  test/e2e/e2e_suite_test.go
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1815 add support for autoscaling in azuremanagedmachinepools
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/agentpools/agentpools.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle, area/managedclusters

#1564 Availability zones support for managed clusters
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle, area/managedclusters

#1856 Add shysank to maintainers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1882 Fix AAD pod identity integration for sovereign clouds
  azure/scope/identity.go
  azure/scope/identity_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1884 Update kubectl hack/tools version to v1.22.4
  Makefile
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1888 Fix simple typo
  azure/services/vnetpeerings/vnetpeerings.go
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1892 update code cov action to v2
  .github/workflows/cover.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1894 Update dev guide to include missing env variables
  docs/book/src/developers/development.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, kind/documentation, ok-to-test, lgtm, sig/cluster-lifecycle

#1891 Replace all occurrences of ToNot(HaveOccurred())
  azure/regional_baseuri_test.go
  azure/scope/clients_test.go
  azure/scope/cluster_test.go
  azure/scope/machinepool_test.go
  azure/scope/machinepoolmachine_test.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/scalesetvms_test.go
  controllers/azurecluster_controller_test.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_privatecluster.go
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/conformance_test.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1895 Update tiltignore to enable auto-update yaml template in Tilt UI
  .tiltignore
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1890 Derive API server LB DNS name from user-defined private DNS zone name
  azure/defaults.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle
