Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-05, with the labels that each got.

#1331 Update allowedNamespaces type in AzureClusterIdentity
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azureclusteridentity_conversion.go
  api/v1alpha4/azureclusteridentity_types.go
  api/v1alpha4/azureclusteridentity_types_test.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/scope/identity.go
  azure/scope/identity_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  controllers/azurecluster_controller.go
  docs/book/src/topics/multitenancy.md
  templates/cluster-template-multi-tenancy.yaml
  templates/flavors/multi-tenancy/azure-cluster-identity.yaml
  templates/test/ci/cluster-template-prow-multi-tenancy.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1264 ci: run conformance with presubmit artifacts hosted on Azure
  hack/parse-prow-creds.sh
  hack/util.sh
  scripts/ci-build-kubernetes.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/kustomization.yaml
  templates/test/dev/custom-builds/patches/custom-builds.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
  test/e2e/data/kubetest/conformance-fast.yaml
  test/e2e/data/kubetest/conformance.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1358 🐛 Make cloud config secret key backward compatible
  controllers/helpers.go
  controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1350 Enable tests against existing workload cluster
  docs/development.md
  test/e2e/azure_lb.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/conformance_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1363 Fix conversion function name to remove warning
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/zz_generated.conversion.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1366 Ensure kubelet restarts
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-windows.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment-windows.yaml
  templates/flavors/windows/machine-deployment-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, release-note, sig/cluster-lifecycle, size/S

#1330 External Azure cloud provider clusters with custom CCM and CNM images
  docs/book/src/developers/development.md
  hack/create-dev-cluster.sh
  scripts/ci-build-azure-ccm.sh
  scripts/ci-entrypoint.sh
  templates/cluster-template-aad.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-ipv6.yaml
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-multi-tenancy.yaml
  templates/cluster-template-nvidia-gpu.yaml
  templates/cluster-template-private.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/flavors/aad/machine-deployment.yaml
  templates/flavors/aad/patches/kubeadm-controlplane.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/flavors/ipv6/machine-deployment.yaml
  templates/flavors/ipv6/patches/kubeadm-controlplane.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment-windows.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/flavors/nvidia-gpu/machine-deployment.yaml
  templates/flavors/windows/machine-deployment-windows.yaml
  templates/flavors/windows/machine-deployment.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-multi-tenancy.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1364 docs: add docs on using custom K8s on a capz cluster
  docs/book/src/developers/development.md
  docs/book/src/developers/kubernetes-developers.md
  hack/util.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1368 do not conversion-gen v1alpha3.OSDisk due to warning message non-determinism
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/types.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/M

#1356 Remove duplicated getting-started and development docs
  docs/book/src/SUMMARY.md
  docs/book/src/developers/development.md
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/M

#1371 Clean up the CNI CRS which is done via generators
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/prow-machine-pool-windows/kustomization.yaml
  templates/test/ci/prow-windows-addons/kustomization.yaml
  templates/test/ci/prow-windows/kustomization.yaml
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, kind/cleanup, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1351 Enable Windows e2e logging
  scripts/ci-e2e.sh
  test/e2e/azure_logcollector.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1378 [backport] Update CCM and CNM templates to v0.7.4
  templates/addons/cloud-controller-manager.yaml
  templates/addons/cloud-node-manager.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1323 Update OOT cloud-provider version and enable LB test
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/cloud-controller-manager.yaml
  templates/flavors/external-cloud-provider/cloud-node-manager.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#1379 Update AzureFile and AzureDisk templates to v1
  templates/addons/azurefile-role.yaml
  templates/addons/storageclass-azure-disk.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1374 Add documentation for Flannel
  docs/book/src/SUMMARY.md
  docs/book/src/topics/flannel.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#1380 Re-add handling of CNI variables in e2e for CAPI suite
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1383 Collect boot logs even when bootstrap fails
  test/e2e/azure_logcollector.go
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1387 Trailing comma breaks tilt
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1119 Windows upstream e2e
  Makefile
  docs/book/src/developers/development.md
  scripts/ci-conformance.sh
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/prow-machine-pool-windows/kustomization.yaml
  templates/test/ci/prow-machine-pool-windows/patches/windows-tmp-folder.yaml
  templates/test/ci/prow-windows/kustomization.yaml
  templates/test/ci/prow-windows/patches/windows-tmp-folder.yaml
  test/e2e/conformance_test.go
  test/e2e/data/kubetest/repo-list.yaml
  test/e2e/data/kubetest/upstream-windows.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/kubernetes/node/node.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1392 Update cert_manager tilt extension to fix startup bug
  hack/boilerplate/boilerplate.py
  tilt_modules/cert_manager/README.md
  tilt_modules/cert_manager/Tiltfile
  tilt_modules/cert_manager/test/Tiltfile
  tilt_modules/cert_manager/test/test.sh
  tilt_modules/extensions.json
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1373 Expose cloud provider rate limit config
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_types.go
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/interfaces.go
  azure/mocks/service_mock.go
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/availabilitysets/mock_availabilitysets/availabilitysets_mock.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/disks/mock_disks/disks_mock.go
  azure/services/groups/mock_groups/groups_mock.go
  azure/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  azure/services/privatedns/mock_privatedns/privatedns_mock.go
  azure/services/publicips/mock_publicips/publicips_mock.go
  azure/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  azure/services/routetables/mock_routetables/routetables_mock.go
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/services/tags/mock_tags/tags_mock.go
  azure/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  azure/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  azure/services/vmextensions/mock_vmextensions/vmextensions_mock.go
  azure/services/vmssextensions/mock_vmssextensions/vmssextensions_mock.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/helpers.go
  controllers/helpers_test.go
  docs/book/src/topics/cloud-provider-config.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1390 move allowed namespaces check to fail early
  controllers/azurecluster_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1304 Add logs to e2e test
  test/e2e/azure_gpu.go
  test/e2e/azure_net_pol.go
  test/e2e/azure_privatecluster.go
  test/e2e/common.go
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1393 Adds additional tags to aks cluster managed by capz
  azure/services/managedclusters/managedclusters.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS
