Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-10, with the labels that each got.

#1744 Assign all azs to public ip for backwards compatibility
  azure/interfaces.go
  azure/mock_azure/azure_mock.go
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/availabilitysets/mock_availabilitysets/availabilitysets_mock.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/disks/mock_disks/disks_mock.go
  azure/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  azure/services/natgateways/mock_natgateways/natgateways_mock.go
  azure/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  azure/services/privatedns/mock_privatedns/privatedns_mock.go
  azure/services/publicips/mock_publicips/publicips_mock.go
  azure/services/publicips/publicips.go
  azure/services/publicips/publicips_test.go
  azure/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  azure/services/routetables/mock_routetables/routetables_mock.go
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/scalesetvms/mock_scalesetvms/scalesetvms_mock.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/services/tags/mock_tags/tags_mock.go
  azure/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  azure/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  azure/services/vmextensions/mock_vmextensions/vmextensions_mock.go
  azure/services/vmssextensions/mock_vmssextensions/vmssextensions_mock.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1730 Remove kube-rbac-proxy
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/kustomization.yaml
  hack/observability/opentelemetry/controller-manager-patch.yaml
  hack/observability/prometheus/resources/capz_metrics_service.yaml
  hack/observability/prometheus/resources/kustomization.yaml
  hack/observability/prometheus/resources/prometheus.yaml
  main.go
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle, kind/deprecation

#1748 Don't explicity set DualStack for windows
  templates/addons/windows/kube-proxy-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note, approved, lgtm, kind/failing-test, sig/windows, sig/cluster-lifecycle

#1640 Support APIServerAccessProfile in AzureManagedControlPlane
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1752 Updated otel to v1.0.0 and metrics to v0.23.0
  go.mod
  go.sum
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/templates/deployment.yaml
  hack/observability/opentelemetry/chart/templates/service.yaml
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1757 Fix release notes path in release workflow
  .github/workflows/release.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle
