Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-06, with the labels that each got.

#1400 Fix broken getting started link in docs
  docs/development.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1397 🐛 fix deletion, speed up creation for aks clusters
  Tiltfile
  azure/errors.go
  azure/services/managedclusters/client.go
  azure/services/virtualnetworks/virtualnetworks.go
  exp/controllers/azuremanagedcluster_controller.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
  exp/controllers/helpers.go
  exp/controllers/helpers_test.go
  tilt-provider.json
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1398 Make OSDisk. DiskSizeGB optional
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha4/azuremachine_validation.go
  api/v1alpha4/azuremachine_validation_test.go
  api/v1alpha4/azuremachinetemplate_webhook_test.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/services/disks/disks_test.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/topics/os-disk.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/api-change, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/M

#1404 fix MSI not available error when running unit tests locally
  azure/scope/clients.go
  azure/scope/clients_test.go
  controllers/azurejson_machine_controller_test.go
  controllers/azurejson_machinepool_controller_test.go
  controllers/azurejson_machinetemplate_controller_test.go
  controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1405 Forward port cloud provider secret fix
  controllers/helpers.go
  controllers/helpers_test.go
  docs/book/src/topics/cloud-provider-config.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/S

#1409 Immutable validation added for Azuremachine update
  api/v1alpha4/azuremachine_validation.go
  api/v1alpha4/azuremachine_webhook.go
  api/v1alpha4/azuremachine_webhook_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1401 Save subnet details back to scope
  azure/interfaces.go
  azure/mocks/service_mock.go
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/routetables/mock_routetables/routetables_mock.go
  azure/services/routetables/routetables.go
  azure/services/routetables/routetables_test.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1410 ci: ability to overwrite CLUSTER_TEMPLATE and CLUSTER_NAME in ci-entrypoint.sh
  scripts/ci-entrypoint.sh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1413 Make LB IdleTimeoutInMinutes configurable
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_default_test.go
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  docs/book/src/topics/node-outbound-lb.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1408 Update Windows VM naming
  azure/scope/machine.go
  azure/scope/machine_test.go
  test/e2e/azure_logcollector.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1422 Upgrade kustomize to 4.0.4
  Makefile
  hack/gen-flavors.sh
  templates/cluster-template-machinepool-windows.yaml
  templates/flavors/ephemeral/kustomization.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/prow-machine-pool-windows/kustomization.yaml
  templates/test/ci/prow-nvidia-gpu/kustomization.yaml
  templates/test/ci/prow-windows/kustomization.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/M

#1424 test: ability to select cluster template with MachinePool for custom K8s build
  README.md
  docs/book/src/developers/development.md
  docs/development.md
  scripts/ci-entrypoint.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1214 Set the UserAgent to "cluster-api-provider-azure-manager"
  main.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1421 Update CAPI build to 20210608
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1415 Expose cloud provider backoff config
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/helpers.go
  controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1426 Update CAPI components to v0.4.0-beta.0
  Makefile
  Tiltfile
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1430 Fix tiltfile CAPI release link and update default k8s version in tilt
  Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1429 [release-0.4] update cluster-api version to v0.3.19
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
  util/system/namespace_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1432 Make cert manager install in makefile more resilient
  Makefile
  hack/install-cert-manager.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M, tide/merge-method-squash

#1437 remove westus3 from test regions
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1442 fix deletion for azureManagedControlPlane while using existing RG
  exp/controllers/azuremangedcontrolplane_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1412 Update opentelemetry library
  controllers/azurecluster_controller.go
  controllers/azureidentity_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  docs/book/src/developers/development.md
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/azuremanagedcluster_controller.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  go.mod
  go.sum
  main.go
  pkg/coalescing/reconciler.go
  pkg/ot/opentelemetry.go
  util/tele/tele.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/L

#1446 ensure cluster is populated during a failed conformance test
  test/e2e/conformance_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1449 Lower CI verbose to 2
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1451 Fix AzureMachinePoolMachine controller test MSI error when run locally
  exp/controllers/azuremachinepoolmachine_controller_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1452 Add whitespace linter
  .golangci.yml
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/azuremachine_default_test.go
  api/v1alpha4/azuremachine_webhook_test.go
  api/v1alpha4/azuremachinetemplate_webhook.go
  api/v1alpha4/azuremachinetemplate_webhook_test.go
  azure/converters/image.go
  azure/converters/vmss.go
  azure/scope/identity.go
  azure/scope/identity_test.go
  azure/scope/machine_test.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/resourceskus/cache_test.go
  azure/services/roleassignments/roleassignments.go
  azure/services/securitygroups/securitygroups.go
  azure/services/subnets/subnets.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  azure/services/vmextensions/vmextensions_test.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  controllers/azureidentity_controller.go
  controllers/azuremachine_controller_test.go
  exp/controllers/azuremanagedmachinepool_reconciler_test.go
  exp/controllers/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1450 Improve error messaging around bootstrap extension provisioning
  azure/errors.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#1457 Update CAPI release to v0.4.0-beta.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1431 Update Azure SDK network API version
  azure/converters/loadbalancers.go
  azure/converters/rules.go
  azure/services/agentpools/agentpools_test.go
  azure/services/bastionhosts/azurebastion.go
  azure/services/bastionhosts/bastionhosts_test.go
  azure/services/bastionhosts/client.go
  azure/services/bastionhosts/mocks_bastionhosts/client_mock.go
  azure/services/inboundnatrules/client.go
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/inboundnatrules/inboundnatrules_test.go
  azure/services/inboundnatrules/mock_inboundnatrules/client_mock.go
  azure/services/loadbalancers/client.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/mock_loadbalancers/client_mock.go
  azure/services/networkinterfaces/client.go
  azure/services/networkinterfaces/mock_networkinterfaces/client_mock.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/publicips/client.go
  azure/services/publicips/mock_publicips/client_mock.go
  azure/services/publicips/publicips.go
  azure/services/publicips/publicips_test.go
  azure/services/routetables/client.go
  azure/services/routetables/mock_routetables/client_mock.go
  azure/services/routetables/routetables.go
  azure/services/routetables/routetables_test.go
  azure/services/securitygroups/client.go
  azure/services/securitygroups/mock_securitygroups/client_mock.go
  azure/services/securitygroups/securitygroups.go
  azure/services/securitygroups/securitygroups_test.go
  azure/services/subnets/client.go
  azure/services/subnets/mock_subnets/client_mock.go
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/virtualnetworks/client.go
  azure/services/virtualnetworks/mock_virtualnetworks/client_mock.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  go.mod
  go.sum
  test/e2e/azure_accelnet.go
  test/e2e/azure_privatecluster.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1453 fix: dead links; add ci link check for docs
  .github/workflows/lint-docs.yaml
  .markdownlinkcheck.json
  README.md
  docs/book/src/developers/development.md
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/troubleshooting.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1435 cordon and drain azuremachinepoolmachines prior to delete
  azure/scope/machinepoolmachine.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremachinepool_types.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/controllers/azuremachinepoolmachine_controller.go
  test/e2e/azure_lb.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_net_pol.go
  test/e2e/azure_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/kubernetes/deployment/deployment.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1459 update the AzureMachinePool docs with deployment strategy details
  docs/book/src/topics/machinepools.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/M

#1425 Add script to run shellcheck on bash scripts in the repository
  Makefile
  hack/create-dev-cluster.sh
  hack/ensure-acr-login.sh
  hack/ensure-kind.sh
  hack/install-cert-manager.sh
  hack/kustomize-sub.sh
  hack/log/log-dump.sh
  hack/log/redact.sh
  hack/parse-prow-creds.sh
  hack/print-workspace-status.sh
  hack/verify-shellcheck.sh
  hack/version.sh
  scripts/ci-apidiff.sh
  scripts/ci-build-azure-ccm.sh
  scripts/ci-build-kubernetes.sh
  scripts/ci-build.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  scripts/ci-test-coverage.sh
  scripts/ci-test.sh
  scripts/kind-with-registry.sh
  tilt_modules/cert_manager/test/test.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/L

#1423 Refactor infrastructure-azure templates required by CAPI tests to match CAPD
  .gitignore
  Makefile
  test/e2e/azure_logcollector.go
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-adoption.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/bases/crs.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/bases/md.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/bases/mp.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-adoption/step1/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-adoption/step2/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-adoption/step2/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-remediation/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-remediation/mhc.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-scale-in/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-scale-in/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-machine-pool/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-md-remediation/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-md-remediation/md.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-md-remediation/mhc.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-node-drain/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-node-drain/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-node-drain/md.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-upgrades/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template/kustomization.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XXL

#1464 Update CAPI to v0.4.0-rc.0
  Makefile
  Tiltfile
  exp/controllers/helpers_test.go
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1467 Update hack/tools versions
  Makefile
  api/v1alpha3/zz_generated.conversion.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/zz_generated.conversion.go
  templates/cluster-template-ipv6.yaml
  templates/cluster-template-private.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-private.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1476 Fix broken link in docs
  docs/book/src/topics/gpu.md
  docs/book/src/topics/identity.md
  docs/book/src/topics/machinepools.md
  docs/book/src/topics/managedcluster.md
  templates/flavors/README.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, kind/documentation, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#1469 Added support for specifying a `plan` for VMs and VMSSes when using a SIG image
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/topics/custom-images.md
  exp/api/v1alpha3/azuremachinepool_conversion.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1480 Update CAPI to v0.4.0
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1477 Add deprecation notice to using credentials from environment variables
  controllers/azurecluster_controller.go
  docs/book/src/topics/getting-started.md
  docs/book/src/topics/identities-use-cases.md
  exp/controllers/azuremanagedcontrolplane_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/M
