Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-12, with the labels that each got.

#1897 Stop using capi kubernetes-drain
  azure/scope/machinepoolmachine.go
  go.sum
Labels: cncf-cla: yes, kind/cleanup, approved, ok-to-test, lgtm

#1844 Make disks delete async
  api/v1beta1/conditions_consts.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/disks/client.go
  azure/services/disks/disks.go
  azure/services/disks/disks_test.go
  azure/services/disks/mock_disks/client_mock.go
  azure/services/disks/mock_disks/disks_mock.go
  azure/services/disks/mock_disks/doc.go
  azure/services/disks/spec.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1898 remove usage of realpath in scripts
  Makefile
  hack/create-identity-secret.sh
  hack/install-cert-manager.sh
  hack/log/log-dump.sh
  scripts/ci-apidiff.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  scripts/kind-with-registry.sh
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1877 Use kpromo to promote images for releases
  Makefile
  docs/book/src/developers/releasing.md
  hack/get-project-maintainers.sh
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1904 Update kpromo to v3.3.0-beta.3
  Makefile
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1874 Refactor async service to use an async reconciler interface and handle getting existing resources
  azure/services/async/async.go
  azure/services/async/async_test.go
  azure/services/async/interfaces.go
  azure/services/async/mock_async/async_mock.go
  azure/services/disks/client.go
  azure/services/disks/disks.go
  azure/services/disks/disks_test.go
  azure/services/disks/mock_disks/client_mock.go
  azure/services/disks/mock_disks/doc.go
  azure/services/groups/client.go
  azure/services/groups/groups.go
  azure/services/groups/groups_test.go
  azure/services/groups/mock_groups/client_mock.go
  azure/services/roleassignments/roleassignments.go
  azure/services/roleassignments/roleassignments_test.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/mock_virtualmachines/client_mock.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/vnetpeerings/client.go
  azure/services/vnetpeerings/mock_vnetpeerings/client_mock.go
  azure/services/vnetpeerings/mock_vnetpeerings/doc.go
  azure/services/vnetpeerings/vnetpeerings.go
  azure/services/vnetpeerings/vnetpeerings_test.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, ok-to-test, lgtm, sig/cluster-lifecycle

#1911 CAPI: update to release v1.0.2
  Makefile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: kind/feature, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1906 chore: do not replace pre-created azure-json secret without the cluster name tag key
  controllers/helpers.go
  controllers/helpers_test.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#1910 add MaxPods configuration for AKS node pools
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/prow-aks-multi-tenancy/kustomization.yaml
  templates/test/ci/prow-aks-multi-tenancy/patches/maxpods-aks-agentpool0.yaml
  templates/test/ci/prow-aks-multi-tenancy/patches/maxpods-aks-agentpool1.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1912 Update opentelemetry-go to v1.2.0
  go.mod
  go.sum
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/templates/_config.tpl
  hack/observability/opentelemetry/chart/templates/_helpers.tpl
  hack/observability/opentelemetry/chart/templates/_pod.tpl
  hack/observability/opentelemetry/chart/templates/clusterrole.yaml
  hack/observability/opentelemetry/chart/templates/clusterrolebinding.yaml
  hack/observability/opentelemetry/chart/templates/daemonset.yaml
  hack/observability/opentelemetry/chart/templates/deployment.yaml
  hack/observability/opentelemetry/chart/templates/hpa.yaml
  hack/observability/opentelemetry/chart/templates/service.yaml
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
  hack/observability/opentelemetry/values.yaml
  pkg/ot/metrics.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1915 fix: MaxPods is an optional AzureManagedMachinePool configuration
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/prow-aks-multi-tenancy/kustomization.yaml
  templates/test/ci/prow-aks-multi-tenancy/patches/maxpods-aks-agentpool1.yaml
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1903 Add metrics server as addon to k8s CI
  Makefile
  templates/addons/metrics-server/kustomization.yaml
  templates/addons/metrics-server/metrics-server-resource-set.yaml
  templates/addons/metrics-server/metrics-server.yaml
  templates/addons/metrics-server/patches/control-plane-toleration.yaml
  templates/addons/metrics-server/patches/temp-use-insecure-https.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/patches/metrics-server-enabled-cluster.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1791 chore(private_dns): tag dns zone and delete only if owned
  azure/services/privatedns/client.go
  azure/services/privatedns/mock_privatedns/client_mock.go
  azure/services/privatedns/privatedns.go
  azure/services/privatedns/privatedns_test.go
  docs/book/src/topics/custom-dns.md
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1881 Support running serial/slow Windows jobs
  Makefile
  templates/cluster-template-windows-containerd.yaml
  templates/flavors/windows-containerd/machine-deployment-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow-ci-version/patches/controller-manager-featuregates.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/conformance_test.go
  test/e2e/data/kubetest/upstream-windows-serial-slow.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1920 use api-machinery-typed Error for MaxPods validation
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
Labels: kind/feature, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1861 Make availability set reconcile/delete async
  azure/scope/machine.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/availabilitysets/client.go
  azure/services/availabilitysets/mock_availabilitysets/availabilitysets_mock.go
  azure/services/availabilitysets/mock_availabilitysets/client_mock.go
  azure/services/availabilitysets/spec.go
  azure/services/availabilitysets/spec_test.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1865 Make NAT Gateway reconcile/delete async
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/types.go
  azure/defaults.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/managedcontrolplane.go
  azure/services/disks/client.go
  azure/services/natgateways/client.go
  azure/services/natgateways/mock_natgateways/client_mock.go
  azure/services/natgateways/mock_natgateways/doc.go
  azure/services/natgateways/mock_natgateways/natgateways_mock.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/natgateways_test.go
  azure/services/natgateways/spec.go
  azure/services/subnets/subnets_test.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/azurecluster_reconciler.go
  docs/book/src/topics/node-outbound-lb.md
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, ok-to-test, lgtm, sig/cluster-lifecycle

#1923 update external cloud-provider-azure versions
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/cloud-controller-manager.yaml
  templates/flavors/external-cloud-provider/cloud-node-manager.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1924 Add availability set ready condition
  azure/scope/machine.go
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1922 Update NVIDIA GPU operator componentry
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/flavors/nvidia-gpu/patches/cluster.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  test/e2e/azure_gpu.go
  test/e2e/helpers.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1928 Add release 1.1 to the metadata file
  metadata.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1926 Fix yq install in get-project-maintainers script
  hack/get-project-maintainers.sh
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1896 separate AKS control-plane and agentpool versions
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/managedclusters/managedclusters.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1934 Print reconcile transient errors in logs
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle
