Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-04, with the labels that each got.

#1205 Fix AKS cluster provisioning errors
  azure/services/managedclusters/managedclusters.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook_test.go
  exp/controllers/azuremanagedmachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1254 Use nvidia gpu operator for nvidia-gpu flavor
  docs/book/src/topics/gpu.md
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/clusterpolicy-crd.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/flavors/nvidia-gpu/gpu-operator-resources-set.yaml
  templates/flavors/nvidia-gpu/kustomization.yaml
  templates/flavors/nvidia-gpu/machine-deployment.yaml
  templates/flavors/nvidia-gpu/patches/cluster.yaml
  templates/flavors/nvidia-gpu/patches/kubeadm-controlplane.yaml
  templates/test/cluster-template-prow-nvidia-gpu.yaml
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1275 Add AzureMachineTemplate immutable validations
  api/v1alpha4/azuremachinetemplate_webhook.go
  api/v1alpha4/azuremachinetemplate_webhook_test.go
  config/webhook/manifests.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1291 Fix OOT cloud provider test template CNI
  templates/test/cluster-template-prow-external-cloud-provider.yaml
  templates/test/patches/cluster-cni.yaml
  templates/test/prow-external-cloud-provider/cni-resource-set.yaml
  templates/test/prow-external-cloud-provider/kustomization.yaml
  templates/test/prow-external-cloud-provider/patches/cluster-cni.yaml
  templates/test/prow-ipv6/cni-resource-set-ipv6.yaml
  templates/test/prow-ipv6/kustomization.yaml
  templates/test/prow-ipv6/patches/cluster-cni.yaml
  templates/test/prow-machine-pool-windows/kustomization.yaml
  templates/test/prow-machine-pool/kustomization.yaml
  templates/test/prow-multi-tenancy/kustomization.yaml
  templates/test/prow-multi-tenancy/patches/cluster-cni.yaml
  templates/test/prow-nvidia-gpu/kustomization.yaml
  templates/test/prow-private/kustomization.yaml
  templates/test/prow-private/patches/cluster-cni.yaml
  templates/test/prow-windows/kustomization.yaml
  templates/test/prow/kustomization.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1295 Update cloudbuild to Go 1.16
  cloudbuild.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1293 Fix VM provider ID to match node ID
  azure/converters/identity.go
  azure/converters/identity_test.go
  azure/defaults.go
  azure/scope/machinepool.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/M

#1294 Wait for resources and don't use envsubst in tilt
  Tiltfile
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#1229 Make node outbound LB configurable
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_default_test.go
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/defaults.go
  azure/scope/cluster.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/topics/node-outbound-lb.md
  templates/cluster-template-private.yaml
  templates/flavors/private/patches/private-lb.yaml
  templates/test/cluster-template-prow-private.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1289 feat: add custom private dns zone name in networkSpec
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/azurecluster_webhook.go
  api/v1alpha4/types.go
  azure/interfaces.go
  azure/mocks/service_mock.go
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/routetables/mock_routetables/routetables_mock.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/topics/custom-dns.md
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1297 [backport] Fix VM provider ID to match node ID
  cloud/converters/identity.go
  cloud/converters/identity_test.go
  cloud/defaults.go
  cloud/scope/machinepool.go
  cloud/services/scalesets/scalesets.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/virtualmachines/virtualmachines.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#1029 Don't useExperimentalRetryJoin
  docs/book/src/topics/machinepools.md
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-ipv6.yaml
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-multi-tenancy.yaml
  templates/cluster-template-nvidia-gpu.yaml
  templates/cluster-template-private.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/flavors/ipv6/machine-deployment.yaml
  templates/flavors/ipv6/patches/kubeadm-controlplane.yaml
  templates/flavors/machinepool/machine-pool-deployment.yaml
  templates/flavors/nvidia-gpu/machine-deployment.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-external-cloud-provider.yaml
  templates/test/cluster-template-prow-ipv6.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-windows.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow-multi-tenancy.yaml
  templates/test/cluster-template-prow-nvidia-gpu.yaml
  templates/test/cluster-template-prow-private.yaml
  templates/test/cluster-template-prow-windows.yaml
  templates/test/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-adoption.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-remediation.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/M

#1298 Add shysank to cluster-api-azure-reviewers
  OWNERS_ALIASES
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1302 Explictly turn off Dualstack for win overlay
  templates/addons/windows/kube-proxy-windows.yaml
  templates/test/cluster-template-prow-windows-addons.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1301 test: ability to run conformance on release branches
  docs/development.md
  test/e2e/conformance_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1303 Update azure sdk for go to v53.1.0
  azure/converters/dns_test.go
  azure/converters/identity.go
  azure/converters/identity_test.go
  azure/converters/spotinstances.go
  azure/services/privatedns/privatedns.go
  azure/services/scalesets/client.go
  azure/services/vmextensions/vmextensions_test.go
  azure/services/vmssextensions/vmssextensions_test.go
  go.mod
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#1299 Add support for custom egress rules
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_default_test.go
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/converters/rules.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/services/securitygroups/securitygroups.go
  azure/services/securitygroups/securitygroups_test.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/azurecluster_reconciler.go
  docs/book/src/topics/custom-vnet.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1306 ci: move ci test configuration to templates/test/ci directory
  hack/gen-flavors.sh
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-multi-tenancy.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-windows-addons.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/cluster-cni.yaml
  templates/test/ci/patches/control-plane-ci-version.yaml
  templates/test/ci/patches/controller-manager.yaml
  templates/test/ci/patches/mhc.yaml
  templates/test/ci/patches/tags.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-external-cloud-provider/cni-resource-set.yaml
  templates/test/ci/prow-external-cloud-provider/kustomization.yaml
  templates/test/ci/prow-ipv6/cni-resource-set-ipv6.yaml
  templates/test/ci/prow-ipv6/kustomization.yaml
  templates/test/ci/prow-machine-pool-ci-version/kustomization.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/ci/prow-machine-pool-windows/kustomization.yaml
  templates/test/ci/prow-machine-pool/cni-resource-set.yaml
  templates/test/ci/prow-machine-pool/kustomization.yaml
  templates/test/ci/prow-multi-tenancy/cni-resource-set.yaml
  templates/test/ci/prow-multi-tenancy/kustomization.yaml
  templates/test/ci/prow-nvidia-gpu/cni-resource-set.yaml
  templates/test/ci/prow-nvidia-gpu/kustomization.yaml
  templates/test/ci/prow-nvidia-gpu/patches/node-storage-type.yaml
  templates/test/ci/prow-private/cni-resource-set.yaml
  templates/test/ci/prow-private/kustomization.yaml
  templates/test/ci/prow-private/patches/custom-vnet.yaml
  templates/test/ci/prow-windows-addons/kustomization.yaml
  templates/test/ci/prow-windows/kustomization.yaml
  templates/test/ci/prow/cni-resource-set-windows.yaml
  templates/test/ci/prow/cni-resource-set.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/ci/prow/mhc.yaml
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#1309 ensure no latest Azure SDK API versions are allowed
  Makefile
  hack/lint-latest.sh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1308 [backport] Change CI bucket for conformance tests to the non-bazel build
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/prow-ci-version/patches/ci-artifacts-script.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1316 📖 Move all docs to the book
  CONTRIBUTING.md
  docs/README.md
  docs/book/src/SUMMARY.md
  docs/book/src/developers/development.md
  docs/book/src/developers/kubernetes-developers.md
  docs/book/src/developers/releasing.md
  docs/book/src/topics/cloud-provider-config.md
  docs/book/src/topics/external-cloud-provider.md
  docs/book/src/topics/getting-started.md
  docs/book/src/topics/troubleshooting.md
  docs/release-notes-template.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1315 Increase wait-deployment timeout
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1318 fix an index out of range bug in cluster conversion
  api/v1alpha3/azurecluster_conversion.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/S

#1246 test: cluster template for building from custom images
  docs/book/src/developers/kubernetes-developers.md
  hack/gen-flavors.sh
  templates/test/ci/README.md
  templates/test/dev/README.md
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/kustomization.yaml
  templates/test/dev/custom-builds/patches/custom-builds.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XL

#1324 Re-add getting started doc
  docs/getting-started.md
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1320 enable metrics scraping via prometheus
  config/rbac/auth_proxy_service.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1326 Increase deloyment timeout in e2e to accommodate Windows deployments
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/flake, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1327 fix: remove calico installation step in Makefile
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1336 fix: add missing `fi` in ci-conformance.sh
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1321 Make OSDisk Storage Type optional
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azuremachine_validation.go
  api/v1alpha4/azuremachine_validation_test.go
  api/v1alpha4/azuremachine_webhook.go
  api/v1alpha4/azuremachine_webhook_test.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/topics/data-disks.md
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/os-disk.md
  exp/api/v1alpha3/azuremachinepool_conversion.go
  templates/cluster-template-aad.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-ipv6.yaml
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-multi-tenancy.yaml
  templates/cluster-template-nvidia-gpu.yaml
  templates/cluster-template-private.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/ephemeral/patches/ephemeral.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-multi-tenancy.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1296 Update Windows ssh configuration
  Tiltfile
  docs/development.md
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-windows.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment-windows.yaml
  templates/flavors/windows/machine-deployment-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/L

#1340 Add validation for vnet and subnet cidr blocks
  api/v1alpha4/azurecluster_validation.go
  api/v1alpha4/azurecluster_validation_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1343 fix imagePullPolicy of nmi image
  config/default/aad-pod-identity-deployment.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1346 [backport] Increase timeout to accommodate windows deployments
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/flake, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1342 fix: node resource group name is option/defaulted
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1345 [backport-release-0.4] fix imagePullPolicy of nmi image
  config/aadpodidentity/aad-pod-identity-deployment.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1339 cleanup: error handling on machine delete
  controllers/azuremachine_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1344 Update GPU test job image
  test/e2e/azure_gpu.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1335 Fix issue for Windows Flannel deployments when packet size is over 1400 MTU
  docs/book/src/topics/windows.md
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-windows.yaml
  templates/flavors/base-windows/patches/kubeadm-control-plane.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment.yaml
  templates/flavors/windows/machine-deployment.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, release-note, sig/cluster-lifecycle, size/L

#1348 add FileOrCreate to kubelet config file for nmi DaemonSet
  config/default/aad-pod-identity-deployment.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS
