Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-09, with the labels that each got.

#1666 Adding jobs.md to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1658 Merge all Tilt settings into 'tilt-settings.json'
  Tiltfile
Labels: kind/feature, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1655 Update cluster-api dependency to v0.4.2
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#1649 add unit tests for machine scope methods
  azure/scope/machine_test.go
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1668 Add labels for Tilt resources
  Tiltfile
Labels: kind/feature, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1675 Tiltfile decodes Azure SSH key from base 64 encoding
  Tiltfile
Labels: kind/feature, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1681 fix RANDOM var being omitted on Linux
  Tiltfile
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1678 Explicitly set EnableRBAC to true in AzureManagedControlPlaneSpec
  azure/services/managedclusters/managedclusters.go
Labels: kind/feature, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1610 Add long running operation types, conditions, and helpers
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_types.go
  api/v1alpha4/azuremachine_types.go
  api/v1alpha4/conditions_consts.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/converters/futures.go
  azure/converters/futures_test.go
  azure/defaults.go
  azure/errors.go
  azure/interfaces.go
  azure/mock_azure/azure_mock.go
  azure/mock_azure/doc.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepoolmachine.go
  azure/scope/managedcontrolplane.go
  azure/services/async/async.go
  azure/services/async/async_test.go
  azure/services/async/interfaces.go
  azure/services/async/mock_async/async_mock.go
  azure/services/async/mock_async/doc.go
  azure/services/scalesets/client.go
  azure/services/scalesets/mock_scalesets/client_mock.go
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/client.go
  azure/services/scalesetvms/mock_scalesetvms/scalesetvms_mock.go
  azure/services/scalesetvms/scalesetvms.go
  azure/services/scalesetvms/scalesetvms_test.go
  azure/services/virtualmachines/virtualmachines.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  controllers/azurecluster_controller.go
  controllers/azurecluster_reconciler_test.go
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremachinepool_types.go
  exp/api/v1alpha4/azuremachinepoolmachine_types.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
  test/e2e/aks.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/retry.go
  util/futures/getter.go
  util/futures/getter_test.go
  util/futures/setter.go
  util/futures/setter_test.go
  util/reconciler/defaults.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1679 Allow user to specify SKU for AKS
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1690 Remove test regions where GPU SKU isn't available
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1676 Avoid duplicate NIC for AzureMachine if AllocatePublicIP is set to true.
  azure/scope/machine.go
  azure/scope/machine_test.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, approved, release-note-action-required, ok-to-test, lgtm, sig/cluster-lifecycle

#1667 Make group delete async
  api/v1alpha4/conditions_consts.go
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/groups/client.go
  azure/services/groups/groups.go
  azure/services/groups/groups_test.go
  azure/services/groups/mock_groups/client_mock.go
  azure/services/groups/mock_groups/groups_mock.go
  azure/services/groups/spec.go
  controllers/azurecluster_controller.go
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1695 Fix an AKS e2e test expectation
  test/e2e/aks.go
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1693 Test if GPU resources are available before scheduling e2e job
  test/e2e/azure_gpu.go
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1699 remove unnecessary extra comma in tilt-settings.json causing JSON parse errors
  docs/book/src/developers/development.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, kind/documentation, ok-to-test, lgtm, sig/cluster-lifecycle

#1652 make NAT Gateway the default outbound SNAT template config
  templates/cluster-template-aad.yaml
  templates/cluster-template-azure-bastion.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-machinepool-multiple-subnets.yaml
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-nat-gateway.yaml
  templates/cluster-template-nvidia-gpu.yaml
  templates/cluster-template-private.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/machinepool-multiple-subnets/patches/azurecluster-subnets.yaml
  templates/flavors/nat-gateway/kustomization.yaml
  templates/flavors/nat-gateway/patches/nat-gateway.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1677 Wire `TerminateNotificationTimeout` to enable termination events on VMSSes
  azure/scope/machinepool.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1703 Bump release notes version and minor improvements
  .gitignore
  Makefile
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1719 Remove accelerated networking test
  test/e2e/azure_accelnet.go
  test/e2e/azure_test.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1705 Test if GPU resources are available before scheduling e2e job
  test/e2e/azure_gpu.go
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1691 Enable coalescing reconciler for more controllers
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  controllers/suite_test.go
  exp/controllers/azuremanagedcluster_controller.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/suite_test.go
  main.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#1733 Fix: running tests against existing clusters
  docs/book/src/developers/development.md
  test/e2e/azure_test.go
Labels: cncf-cla: yes, size/S, kind/cleanup, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1737 E2E tests for timesync has issue with closure
  test/e2e/azure_timesync.go
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1728 Update CAPI to v0.4.3
  Makefile
  Tiltfile
  go.mod
  go.sum
  internal/test/logentries/pause_events.go
  internal/test/matchers/gomega/matchers_test.go
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1734 Wiring up CAPZ bootstrapping extension for Windows
  azure/defaults.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/vmextensions/mock_vmextensions/vmextensions_mock.go
  azure/services/vmextensions/vmextensions.go
  azure/services/vmextensions/vmextensions_test.go
  azure/services/vmssextensions/mock_vmssextensions/vmssextensions_mock.go
  azure/services/vmssextensions/vmssextensions.go
  azure/services/vmssextensions/vmssextensions_test.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1741 create AKS with all node pools at creation time
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle
