Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-01, with the labels that each got.

#1036 Windows support via kubeadm
  Makefile
  Tiltfile
  cloud/defaults.go
  cloud/defaults_test.go
  cloud/scope/machine.go
  cloud/scope/machine_test.go
  cloud/scope/machinepool.go
  cloud/scope/machinepool_test.go
  cloud/services/scalesets/scalesets.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  docs/book/src/SUMMARY.md
  docs/book/src/topics/windows.md
  go.sum
  templates/addons/flannel-resource-set.yaml
  templates/addons/windows/flannel.yaml
  templates/addons/windows/kube-proxy-windows.yaml
  templates/addons/windows/kustomization.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-windows.yaml
  templates/flavors/base-windows/kustomization.yaml
  templates/flavors/base-windows/patches/cluster.yaml
  templates/flavors/base-windows/patches/kubeadm-control-plane.yaml
  templates/flavors/machinepool-windows/kustomization.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment-windows.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment.yaml
  templates/flavors/windows/kustomization.yaml
  templates/flavors/windows/machine-deployment-windows.yaml
  templates/flavors/windows/machine-deployment.yaml
  templates/test/cluster-template-prow-machine-pool-windows.yaml
  templates/test/cluster-template-prow-windows-addons.yaml
  templates/test/cluster-template-prow-windows.yaml
  templates/test/prow-machine-pool-windows/kustomization.yaml
  templates/test/prow-windows-addons/kustomization.yaml
  templates/test/prow-windows-addons/windows-e2e-namedpipes-fix.yaml
  templates/test/prow-windows/kustomization.yaml
  templates/test/prow/cni-resource-set-windows.yaml
  test/e2e/azure_lb.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/node/node.go
  test/e2e/kubernetes/windows/windows.go
  util/generators/generators.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1089 update multitenancy proposal to reflect our learnings
  docs/proposals/20200720-single-controller-multitenancy.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/design, lgtm, release-note, sig/cluster-lifecycle, size/L

#1101 tools: update tools
  Makefile
  api/v1alpha2/zz_generated.conversion.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1106 Add gocyclo to the golangci linters
  .golangci.yml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1111 Add multitenancy to summary.md
  docs/book/src/SUMMARY.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1122 📖 Book: fix typo in path to GPU topic
  docs/book/src/SUMMARY.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1123 disable external load balancer test
  go.mod
  go.sum
  test/e2e/azure_lb.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1099 Availability sets for control plane nodes
  cloud/defaults.go
  cloud/interfaces.go
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/scope/managedcontrolplane.go
  cloud/services/availabilitysets/availabilitysets.go
  cloud/services/availabilitysets/availabilitysets_test.go
  cloud/services/availabilitysets/client.go
  cloud/services/availabilitysets/mock_availabilitysets/availabilitysets_mock.go
  cloud/services/availabilitysets/mock_availabilitysets/client_mock.go
  cloud/services/availabilitysets/mock_availabilitysets/doc.go
  cloud/services/resourceskus/sku.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualmachines/virtualmachines_test.go
  cloud/types.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XXL

#1098 Add validations for immutable AzureCluster Updates
  api/v1alpha3/azurecluster_webhook.go
  api/v1alpha3/azurecluster_webhook_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/M

#1120 check resource group exist before delete
  cloud/services/groups/groups.go
  cloud/services/groups/groups_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/S

#1109 📖 Update roadmap
  docs/book/src/roadmap.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1128 use smaller windows httpd image for e2e tests
  test/e2e/kubernetes/windows/windows.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note, sig/cluster-lifecycle, size/S

#1121 output kube-system logs from workload clusters
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-ipv6.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-windows.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow-multi-tenancy.yaml
  templates/test/cluster-template-prow-nvidia-gpu.yaml
  templates/test/cluster-template-prow-private.yaml
  templates/test/cluster-template-prow-windows.yaml
  templates/test/cluster-template-prow.yaml
  templates/test/patches/controller-manager.yaml
  templates/test/prow-ipv6/kustomization.yaml
  templates/test/prow-machine-pool-ci-version/kustomization.yaml
  templates/test/prow-machine-pool-windows/kustomization.yaml
  templates/test/prow-machine-pool/kustomization.yaml
  templates/test/prow-multi-tenancy/kustomization.yaml
  templates/test/prow-nvidia-gpu/kustomization.yaml
  templates/test/prow-private/kustomization.yaml
  templates/test/prow-windows/kustomization.yaml
  templates/test/prow/kustomization.yaml
  test/e2e/azure_lb.go
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1117 Add doc page about identities use cases
  docs/book/src/SUMMARY.md
  docs/book/src/topics/identities-use-cases.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/M

#1131 temporarily disable ILB test for VMSS
  test/e2e/azure_lb.go
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/flake, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1110 Add errorlint to the golangci linters
  .golangci.yml
  cloud/services/managedclusters/managedclusters.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1126 Upgrade k8s version in docs and tests to 1.19.7
  Tiltfile
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/gpu.md
  docs/book/src/topics/machinepools.md
  docs/development.md
  hack/create-dev-cluster.sh
  templates/flavors/README.md
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M

#1132 reenable direct connect to elb
  go.mod
  go.sum
  test/e2e/azure_lb.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/flake, lgtm, release-note, sig/cluster-lifecycle, size/S

#1067 async create and update for machine pools
  api/v1alpha3/tags.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/errors.go
  cloud/interfaces.go
  cloud/mocks/service_mock.go
  cloud/scope/clients.go
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/services/availabilitysets/mock_availabilitysets/availabilitysets_mock.go
  cloud/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  cloud/services/disks/mock_disks/disks_mock.go
  cloud/services/groups/mock_groups/groups_mock.go
  cloud/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  cloud/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  cloud/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  cloud/services/privatedns/mock_privatedns/privatedns_mock.go
  cloud/services/publicips/mock_publicips/publicips_mock.go
  cloud/services/resourceskus/cache.go
  cloud/services/resourceskus/sku.go
  cloud/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  cloud/services/routetables/mock_routetables/routetables_mock.go
  cloud/services/scalesets/client.go
  cloud/services/scalesets/mock_scalesets/client_mock.go
  cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  cloud/services/scalesets/scalesets.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  cloud/services/subnets/mock_subnets/subnets_mock.go
  cloud/services/tags/mock_tags/tags_mock.go
  cloud/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  cloud/services/virtualmachines/virtualmachines.go
  cloud/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  controllers/azurecluster_controller.go
  controllers/azurecluster_reconciler.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  exp/api/v1alpha3/azuremachinepool_types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremachinepool_reconciler.go
  go.mod
  internal/test/matchers/gomock/matchers.go
  util/cache/ttllru/mocks/doc.go
  util/cache/ttllru/mocks/ttllru_mock.go
  util/cache/ttllru/ttllru.go
  util/cache/ttllru/ttllru_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1107 Add Linux VM and VMSS extensions
  cloud/defaults.go
  cloud/scope/machine.go
  cloud/scope/machinepool.go
  cloud/services/scalesets/scalesets.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/vmextensions/client.go
  cloud/services/vmextensions/mock_vmextensions/client_mock.go
  cloud/services/vmextensions/mock_vmextensions/doc.go
  cloud/services/vmextensions/mock_vmextensions/vmextensions_mock.go
  cloud/services/vmextensions/vmextensions.go
  cloud/services/vmextensions/vmextensions_test.go
  cloud/services/vmssextensions/client.go
  cloud/services/vmssextensions/mock_vmssextensions/client_mock.go
  cloud/services/vmssextensions/mock_vmssextensions/doc.go
  cloud/services/vmssextensions/mock_vmssextensions/vmssextensions_mock.go
  cloud/services/vmssextensions/vmssextensions.go
  cloud/services/vmssextensions/vmssextensions_test.go
  cloud/types.go
  controllers/azuremachine_reconciler.go
  exp/controllers/azuremachinepool_reconciler.go
  go.sum
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1138 Use non root numeric user for capz containers
  Dockerfile
  config/manager/manager_auth_proxy_patch.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1140 bump capi to 0.3.13
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#1141 🐛 Merge load balancer properties with existing properties to avoid overwriting cloud provider rules
  cloud/services/loadbalancers/client.go
  cloud/services/loadbalancers/loadbalancers.go
  cloud/services/loadbalancers/loadbalancers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1081 Refactor controllers to decouple service instantiation
  controllers/azurecluster_controller.go
  controllers/azurecluster_controller_test.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  controllers/suite_test.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_test.go
  exp/controllers/azuremachinepool_reconciler.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  exp/controllers/suite_test.go
  main.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1142 Update mdbook to 0.4.5 to fix CVE-2020-26297
  docs/book/install-and-build.sh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1137 Availability sets for worker nodes
  cloud/defaults.go
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/scope/managedcontrolplane.go
  cloud/services/availabilitysets/availabilitysets.go
  cloud/services/availabilitysets/availabilitysets_test.go
  cloud/services/availabilitysets/mock_availabilitysets/availabilitysets_mock.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  controllers/azuremachine_reconciler.go
  docs/book/src/topics/failure-domains.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1143 add gosimple linter and clean up linter violations
  .golangci.yml
  api/v1alpha3/azurecluster_validation.go
  api/v1alpha3/azuremachine_validation.go
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/tags/tags.go
  cloud/services/virtualmachines/virtualmachines.go
  controllers/azurejson_machine_controller.go
  internal/test/env/env.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1146 📖 Add note about security fixes in OS images in book
  docs/book/src/topics/custom-images.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1136 Add Azure activity logs to e2e artifacts
  test/e2e/azure_privatecluster.go
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/M
