Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-02, with the labels that each got.

#1157 Fix AzureMachinePool/AzureMachine spot instances max price failing to serialize when using the client
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/converters/spotinstances.go
  cloud/services/scalesets/scalesets_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-action-required, sig/cluster-lifecycle, size/M

#1149 📖 Refresh managed cluster docs
  docs/book/src/topics/managedcluster.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note, sig/cluster-lifecycle, size/S

#1161 use internal kubectl for tilt-up
  Makefile
  Tiltfile
  scripts/kind-with-registry.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/S

#1160 E2E: Handle SSH failures during machine log collection
  test/e2e/azure_logcollector.go
  test/e2e/retry.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1156 Add a missing code to skip NSG deletion if the vnet is unmanaged
  azure/services/securitygroups/securitygroups.go
  azure/services/securitygroups/securitygroups_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#1164 Added omitempty annotation
  exp/api/v1alpha3/azuremachinepool_types.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1166 Add a missing code to skip NSG deletion if the vnet is unmanaged
  cloud/services/securitygroups/securitygroups.go
  cloud/services/securitygroups/securitygroups_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/S

#1167 Use apimachinery 'resource.Quantity' type for the AzureMachinePool.SpotVMOptions.MaxPrice property
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/converters/spotinstances.go
  cloud/services/scalesets/scalesets_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-action-required, sig/cluster-lifecycle, size/M

#1165 use cluster-api latest release v0.3.14
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#1168 [back-port release-0.4] use cluster-api latest release v0.3.14
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/S

#1169 OWNERS: move awesomenix and justaugustus to emeritus
  OWNERS
  OWNERS_ALIASES
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1172 Backport of PR #1164 to release 0.4
  exp/api/v1alpha3/azuremachinepool_types.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1170 Switch LB Probe to TCP
  azure/services/loadbalancers/loadbalancers.go
  azure/services/loadbalancers/loadbalancers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/S

#1163 Add managed disk option for data disks
  api/v1alpha3/azuremachine_validation.go
  api/v1alpha3/azuremachine_validation_test.go
  api/v1alpha3/azuremachine_webhook.go
  api/v1alpha3/azuremachine_webhook_test.go
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/topics/data-disks.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XL

#1178 Fix handling of AzureMachine terminal errors
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/resourceskus/cache.go
  azure/services/resourceskus/cache_test.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  controllers/azurecluster_reconciler_test.go
  controllers/azuremachine_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/L

#1175 Set OS type Linux for managed node pool when submitting Azure API request
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1186 do not include windows password in hash
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1183 Accept cluster names that start with a number
  api/v1alpha3/azurecluster_validation.go
  api/v1alpha3/azurecluster_validation_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/XS

#1158 Add documentation and templates for Azure AD integration
  docs/book/src/SUMMARY.md
  docs/book/src/topics/aad-integration.md
  templates/cluster-template-aad.yaml
  templates/flavors/aad/kustomization.yaml
  templates/flavors/aad/machine-deployment.yaml
  templates/flavors/aad/patches/kubeadm-controlplane.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/L

#1194 fix extra single quote in e2e image purge and add second repo job
  hack/ensure-acr-cleanup-schedule.sh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1180 Reconcile FailureDomains in AzureMachinePool
  azure/scope/machinepool.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/types.go
  docs/book/src/topics/failure-domains.md
  util/slice/slice.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/L

#1187 Bump mockgen to v1.5.0
  Makefile
  azure/mocks/service_mock.go
  azure/services/agentpools/mock_agentpools/agentpools_mock.go
  azure/services/availabilitysets/mock_availabilitysets/availabilitysets_mock.go
  azure/services/availabilitysets/mock_availabilitysets/client_mock.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/bastionhosts/mocks_bastionhosts/client_mock.go
  azure/services/disks/mock_disks/client_mock.go
  azure/services/disks/mock_disks/disks_mock.go
  azure/services/groups/mock_groups/client_mock.go
  azure/services/groups/mock_groups/groups_mock.go
  azure/services/inboundnatrules/mock_inboundnatrules/client_mock.go
  azure/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  azure/services/loadbalancers/mock_loadbalancers/client_mock.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  azure/services/networkinterfaces/mock_networkinterfaces/client_mock.go
  azure/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  azure/services/privatedns/mock_privatedns/client_mock.go
  azure/services/privatedns/mock_privatedns/privatedns_mock.go
  azure/services/publicips/mock_publicips/client_mock.go
  azure/services/publicips/mock_publicips/publicips_mock.go
  azure/services/resourceskus/mock_resourceskus/resourceskus_mock.go
  azure/services/roleassignments/mock_roleassignments/client_mock.go
  azure/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  azure/services/routetables/mock_routetables/client_mock.go
  azure/services/routetables/mock_routetables/routetables_mock.go
  azure/services/scalesets/mock_scalesets/client_mock.go
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/securitygroups/mock_securitygroups/client_mock.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/subnets/mock_subnets/client_mock.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/services/tags/mock_tags/client_mock.go
  azure/services/tags/mock_tags/tags_mock.go
  azure/services/virtualmachines/mock_virtualmachines/client_mock.go
  azure/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  azure/services/virtualnetworks/mock_virtualnetworks/client_mock.go
  azure/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  azure/services/vmextensions/mock_vmextensions/client_mock.go
  azure/services/vmextensions/mock_vmextensions/vmextensions_mock.go
  azure/services/vmssextensions/mock_vmssextensions/client_mock.go
  azure/services/vmssextensions/mock_vmssextensions/vmssextensions_mock.go
  internal/test/mock_log/log_mock.go
  util/cache/ttllru/mocks/ttllru_mock.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XXL

#1196 📖 Add missing step in AAD doc
  docs/book/src/topics/aad-integration.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1201 fix typos on failure domains docs page
  docs/book/src/topics/failure-domains.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/documentation, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1203 Add retries to fix issues in test env
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/XS
