Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2021-03, with the labels that each got.

#1204 fix set network for kind
  Makefile
  Tiltfile
  config/manager/manager.yaml
  hack/ensure-kind.sh
  scripts/kind-with-registry.sh
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1197 do not include customData in AzureMachinePool hash calculation
  azure/services/scalesets/scalesets.go
  config/manager/manager.yaml
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/S

#1209 dont use hard-coded value for manager namespace
  api/v1alpha3/types.go
  api/v1alpha4/types.go
  azure/scope/identity.go
  controllers/azureidentity_controller.go
  util/system/namespace.go
  util/system/namespace_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/L

#1217 🐛 Ensure VM and VMSS extensions are applied once
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/vmextensions/client.go
  azure/services/vmextensions/mock_vmextensions/client_mock.go
  azure/services/vmextensions/vmextensions.go
  azure/services/vmextensions/vmextensions_test.go
  azure/services/vmssextensions/client.go
  azure/services/vmssextensions/mock_vmssextensions/client_mock.go
  azure/services/vmssextensions/vmssextensions.go
  azure/services/vmssextensions/vmssextensions_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1218 Capz should not add tags to managed resource group
  azure/services/groups/groups.go
  azure/services/groups/groups_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/S

#1219 Update template for capi remediation e2e tests for v1alpha4
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/cluster-template-md-remediation.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1226 [backport-release-0.4] do not include customData in AzureMachinePool hash calculation
  cloud/services/scalesets/scalesets.go
  config/manager/manager.yaml
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/S

#1210 ⚠️ Use custom service accounts instead of default for controllers
  config/default/aad-pod-identity-deployment.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#1220 [backport-release-0.4] dont use hard-coded value for manager namespace
  api/v1alpha3/types.go
  cloud/scope/identity.go
  controllers/azureidentity_controller.go
  util/system/namespace.go
  util/system/namespace_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/L

#1224 [backport-release-0.4] Do not add tags to managed resource group if err occurs
  cloud/services/groups/groups.go
  cloud/services/groups/groups_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/S

#1223 [backport-release-0.4] Ensure VM and VMSS extensions are applied once
  cloud/services/scalesets/mock_scalesets/scalesets_mock.go
  cloud/services/scalesets/scalesets.go
  cloud/services/scalesets/scalesets_test.go
  cloud/services/vmextensions/client.go
  cloud/services/vmextensions/mock_vmextensions/client_mock.go
  cloud/services/vmextensions/vmextensions.go
  cloud/services/vmextensions/vmextensions_test.go
  cloud/services/vmssextensions/client.go
  cloud/services/vmssextensions/mock_vmssextensions/client_mock.go
  cloud/services/vmssextensions/vmssextensions.go
  cloud/services/vmssextensions/vmssextensions_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1225 ⚠️ Update versions of dependencies (go to 1.16 and controller runtime to v0.8.3)
  Dockerfile
  Makefile
  Tiltfile
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  azure/scope/cluster_test.go
  azure/services/scalesets/scalesets_test.go
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/exp.infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/webhook/manifests.yaml
  controllers/helpers_test.go
  docs/development.md
  exp/api/v1alpha3/zz_generated.conversion.go
  go.mod
  go.sum
  hack/ensure-go.sh
  internal/test/record/logger.go
  pkg/cloudtest/cloudtest.go
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, release-note, sig/cluster-lifecycle, size/XXL

#1230 [backport-release-0.4] Set OsType Linux in ManagedClusterAgentPoolProfileProperties
  cloud/services/agentpools/agentpools.go
  cloud/services/agentpools/agentpools_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note, sig/cluster-lifecycle, size/XS

#1228 replace errors.Wrapf to use errors.Wrap when there is no variable to be added
  azure/defaults.go
  azure/scope/machinepool.go
  azure/services/agentpools/agentpools.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/roleassignments/roleassignments.go
  azure/services/scalesets/client.go
  azure/services/scalesets/scalesets.go
  azure/services/tags/tags.go
  azure/services/virtualmachines/virtualmachines.go
  controllers/azurecluster_controller.go
  controllers/azurecluster_reconciler.go
  controllers/azureidentity_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremachine_reconciler.go
  controllers/helpers.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_reconciler.go
  exp/controllers/azuremanagedcluster_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremangedcontrolplane_controller.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
  exp/controllers/helpers.go
  test/e2e/azure_logcollector.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1234 Update Cert Manager Tilt Module to v1.1.0
  Tiltfile
  tilt_modules/cert_manager/README.md
  tilt_modules/cert_manager/Tiltfile
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#1236 fix incorrect clusterctl apiVersion in metadata.yaml
  metadata.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1239 ci: add build provenance tags to E2E-created clusters
  scripts/ci-e2e.sh
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-external-cloud-provider.yaml
  templates/test/cluster-template-prow-ipv6.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-windows.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow-multi-tenancy.yaml
  templates/test/cluster-template-prow-nvidia-gpu.yaml
  templates/test/cluster-template-prow-private.yaml
  templates/test/cluster-template-prow-windows.yaml
  templates/test/cluster-template-prow.yaml
  templates/test/patches/tags.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/S

#1245 Remove southcentralus from e2e region selection and add others with quota
  scripts/ci-e2e.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1231 Update klog dependency to v2
  Makefile
  Tiltfile
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/bastionhosts/bastionhosts_test.go
  azure/services/disks/disks_test.go
  azure/services/groups/groups_test.go
  azure/services/inboundnatrules/inboundnatrules_test.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/managedclusters/managedclusters.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/privatedns/privatedns_test.go
  azure/services/publicips/publicips_test.go
  azure/services/roleassignments/roleassignments_test.go
  azure/services/routetables/routetables_test.go
  azure/services/scalesets/scalesets_test.go
  azure/services/securitygroups/securitygroups_test.go
  azure/services/subnets/subnets_test.go
  azure/services/tags/tags_test.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  azure/services/vmextensions/vmextensions_test.go
  azure/services/vmssextensions/vmssextensions_test.go
  controllers/azurejson_machine_controller_test.go
  controllers/azurejson_machinepool_controller_test.go
  controllers/azurejson_machinetemplate_controller_test.go
  controllers/azuremachine_controller_test.go
  go.mod
  internal/test/env/env.go
  main.go
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#1247 ISSUE-1241: Bump Ginkgo to v1.15.2
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1242 test: validate VMSS accelerated networking during E2E
  test/e2e/azure_accelnet.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#1244 AzureEnvironment as part of the AzureClusterSpec instead of an environment variable
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_default.go
  api/v1alpha4/azurecluster_default_test.go
  api/v1alpha4/azurecluster_types.go
  api/v1alpha4/azurecluster_webhook.go
  api/v1alpha4/azurecluster_webhook_test.go
  azure/scope/clients.go
  azure/scope/clients_test.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/scope/managedcontrolplane.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/default/cloud_environment.yaml
  config/default/kustomization.yaml
  config/default/manager_cloud_env_patch.yaml
  docs/book/src/topics/aad-integration.md
  docs/development.md
  docs/getting-started.md
  hack/create-dev-cluster.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  templates/flavors/README.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/api-change, kind/feature, lgtm, release-note-action-required, sig/cluster-lifecycle, size/L

#1248 Add BUILD_PROVENANCE to conformance tests
  scripts/ci-conformance.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1250 Fix unbound variable issues in test scripts
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1177 re-enable ILB test for VMSS
  test/e2e/azure_lb.go
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1260 Increase E2E wait-service timeout
  test/e2e/azure_lb.go
  test/e2e/config/azure-dev.yaml
  test/e2e/helpers.go
  test/e2e/log.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1261 ensure cluster is populated during a failed e2e test
  test/e2e/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1251 Set identity settings in cloud config file for worker nodes as well
  controllers/azurejson_machinepool_controller.go
  controllers/helpers.go
  controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#1256 Change CI bucket for conformance tests to the non-bazel build
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/prow-ci-version/patches/ci-artifacts-script.yaml
  templates/test/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/M

#1265 ci: add `$(KUBECTL)` as a dependency of `make kind-create`
  Makefile
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1262 bump golangci to v0.38.0
  .golangci.yml
  Makefile
  azure/services/bastionhosts/bastionhosts.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#1191 add azure machine pool machine proposal
  docs/proposals/20210222-azure-machinepool-machine.md
Labels: approved, area/provider/azure, cncf-cla: yes, kind/design, lgtm, release-note, sig/cluster-lifecycle, size/L

#1233 Cleanup deprecated variables from v1alpha4
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_validation_test.go
  api/v1alpha4/azuremachine_types.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/scope/machine.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  docs/book/src/topics/failure-domains.md
  templates/cluster-template-aad.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-external-cloud-provider.yaml
  templates/cluster-template-ipv6.yaml
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-multi-tenancy.yaml
  templates/cluster-template-nvidia-gpu.yaml
  templates/cluster-template-private.yaml
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/flavors/aad/machine-deployment.yaml
  templates/flavors/base/cluster-template.yaml
  templates/flavors/default/machine-deployment.yaml
  templates/flavors/ipv6/machine-deployment.yaml
  templates/flavors/nvidia-gpu/machine-deployment.yaml
  templates/flavors/windows/machine-deployment-windows.yaml
  templates/flavors/windows/machine-deployment.yaml
  templates/test/cluster-template-prow-ci-version.yaml
  templates/test/cluster-template-prow-external-cloud-provider.yaml
  templates/test/cluster-template-prow-ipv6.yaml
  templates/test/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/cluster-template-prow-machine-pool-windows.yaml
  templates/test/cluster-template-prow-machine-pool.yaml
  templates/test/cluster-template-prow-multi-tenancy.yaml
  templates/test/cluster-template-prow-nvidia-gpu.yaml
  templates/test/cluster-template-prow-private.yaml
  templates/test/cluster-template-prow-windows.yaml
  templates/test/cluster-template-prow.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note, sig/cluster-lifecycle, size/L

#1232 Add Linux VM extension bootstrap script and conditions
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azuremachine_types.go
  api/v1alpha4/conditions_consts.go
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/converters/vm.go
  azure/converters/vmss.go
  azure/defaults.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/vmextensions/client.go
  azure/services/vmextensions/mock_vmextensions/client_mock.go
  azure/services/vmextensions/mock_vmextensions/vmextensions_mock.go
  azure/services/vmextensions/vmextensions.go
  azure/services/vmextensions/vmextensions_test.go
  azure/services/vmssextensions/client.go
  azure/services/vmssextensions/mock_vmssextensions/client_mock.go
  azure/services/vmssextensions/mock_vmssextensions/vmssextensions_mock.go
  azure/services/vmssextensions/vmssextensions.go
  azure/services/vmssextensions/vmssextensions_test.go
  azure/types.go
  controllers/azuremachine_controller.go
  docs/troubleshooting.md
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremachinepool_types.go
  exp/api/v1alpha4/types.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_controller.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/XL

#1273 [backport] Increase E2E wait-service timeout
  test/e2e/config/azure-dev.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1271 [backport] Set identity settings in cloud config file for worker nodes as well
  controllers/azurejson_machinepool_controller.go
  controllers/helpers.go
  controllers/helpers_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, sig/cluster-lifecycle, size/S

#1270 Udpate CAPI version to include e2e framework changes
  Makefile
  Tiltfile
  api/v1alpha3/conversion_test.go
  exp/api/v1alpha3/conversion_test.go
  exp/controllers/azuremangedcontrolplane_reconciler.go
  go.mod
  go.sum
  templates/test/cluster-template-prow-windows-addons.yaml
  templates/test/prow-windows-addons/kustomization.yaml
  templates/test/prow-windows-addons/windows-e2e-namedpipes-fix.yaml
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/e2e_suite_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, release-note, sig/cluster-lifecycle, size/L

#1278 update kcp templates used by capi e2e
  test/e2e/data/infrastructure-azure/cluster-template-kcp-adoption.yaml
  test/e2e/data/infrastructure-azure/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/cluster-template-md-remediation.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1277 ci: add ensure-tags.sh and remove upstream test from ci-entrypoint.sh
  docs/development.md
  hack/ensure-tags.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/L

#1281 Remove unused SecurityGroupRole type
  api/v1alpha4/types.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cluster-lifecycle, size/S

#1285 Add timestamp log to e2e waiting for deployment helper
  test/e2e/helpers.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/cluster-lifecycle, size/XS

#1282 fix flakey get namespace unit test
  util/system/namespace_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/flake, lgtm, release-note-none, sig/cluster-lifecycle, size/XS
