Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2022-01, with the labels that each got.

#1933 Fix extra string in log statement in e2e test suite
  test/e2e/azure_test.go
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1931 Return terminal error when the machine SKU is not found in cache
  azure/scope/machine.go
  azure/services/resourceskus/cache.go
  azure/services/resourceskus/cache_test.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  controllers/azuremachine_controller.go
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1948 Add ManualServicePrincipal to validation string
  api/v1beta1/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, kind/api-change, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1938 Fetch latest Nvidia GPU operator chart with a script
  hack/fetch-nvidia-resources.sh
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/clusterpolicy-crd.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, release-note-none, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1936 Use hack/tools kubectl in Tiltfile
  Tiltfile
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1953 Move the GC tests to serial to temporarily for Windows upstream e2e tests
  test/e2e/data/kubetest/upstream-windows-serial-slow.yaml
  test/e2e/data/kubetest/upstream-windows.yaml
Labels: cncf-cla: yes, size/XS, kind/flake, area/provider/azure, release-note-none, approved, lgtm, sig/windows, sig/cluster-lifecycle

#1945 Set max pods for the first time creation of ManagedControlplane (AKS) cluster
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle, area/managedclusters

#1956 Update controller tools to v0.8.0 and conversion gen to v1.23.1
  Makefile
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha3/zz_generated.deepcopy.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1alpha4/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  hack/boilerplate/boilerplate.py
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#1940 Add conditions to AzureManagedControlPlanes and AzureManagedMachinePools
  api/v1beta1/conditions_consts.go
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle, area/managedclusters

#1955 Enable using custom Windows containerd in CI
  docs/book/src/developers/development.md
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/kubeadm-bootstrap-windows.yaml
  test/e2e/config/azure-dev.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/windows, sig/cluster-lifecycle

#1686 Make route tables reconcile/delete async
  azure/interfaces.go
  azure/scope/cluster.go
  azure/services/async/async.go
  azure/services/async/interfaces.go
  azure/services/async/mock_async/async_mock.go
  azure/services/availabilitysets/client.go
  azure/services/availabilitysets/mock_availabilitysets/client_mock.go
  azure/services/availabilitysets/spec.go
  azure/services/disks/client.go
  azure/services/disks/disks.go
  azure/services/disks/spec.go
  azure/services/groups/client.go
  azure/services/groups/mock_groups/client_mock.go
  azure/services/groups/spec.go
  azure/services/natgateways/client.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/spec.go
  azure/services/routetables/client.go
  azure/services/routetables/mock_routetables/client_mock.go
  azure/services/routetables/mock_routetables/doc.go
  azure/services/routetables/mock_routetables/routetables_mock.go
  azure/services/routetables/routetables.go
  azure/services/routetables/routetables_test.go
  azure/services/routetables/spec.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/mock_virtualmachines/client_mock.go
  azure/services/virtualmachines/spec.go
  azure/services/vnetpeerings/client.go
  azure/services/vnetpeerings/spec.go
  azure/services/vnetpeerings/vnetpeerings.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, kind/cleanup, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1932 Improve Windows logging and general stability for upstream e2e tests
  templates/addons/windows/containerd-logging/containerd-logger-resource-set.yaml
  templates/addons/windows/containerd-logging/containerd-logger.yaml
  templates/cluster-template-windows-containerd.yaml
  templates/flavors/windows-containerd/machine-deployment-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/windows-containerd-enabled-cluster.yaml
  templates/test/ci/prow-ci-version-windows-containerd-2022/patches/windows-image-update.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow-ci-version/patches/kubeadm-bootstrap-windows.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version-windows.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/kubeadm-bootstrap-windows.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/azure_logcollector.go
  test/e2e/data/kubetest/upstream-windows-serial-slow.yaml
  test/e2e/data/kubetest/upstream-windows.yaml
Labels: cncf-cla: yes, kind/flake, area/provider/azure, size/L, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1962 use `docker login` as a workaround for capzci ACR
  hack/ensure-acr-login.sh
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1870 Make inbound NAT rules reconcile/delete async
  azure/interfaces.go
  azure/mock_azure/azure_mock.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/managedcontrolplane.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/inboundnatrules/client.go
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/inboundnatrules/inboundnatrules_test.go
  azure/services/inboundnatrules/mock_inboundnatrules/client_mock.go
  azure/services/inboundnatrules/mock_inboundnatrules/inboundnatrules_mock.go
  azure/services/inboundnatrules/spec.go
  azure/services/inboundnatrules/spec_test.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/natgateways/mock_natgateways/natgateways_mock.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, ok-to-test, lgtm, sig/cluster-lifecycle

#1916 add OsDiskType configuration for AKS node pools
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  templates/cluster-template-aks-multi-tenancy.yaml
  templates/cluster-template-aks.yaml
  templates/flavors/aks-multi-tenancy/cluster-template.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/prow-aks-multi-tenancy/kustomization.yaml
  templates/test/ci/prow-aks-multi-tenancy/patches/aks-agentpool0.yaml
  templates/test/ci/prow-aks-multi-tenancy/patches/aks-agentpool1.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle, area/managedclusters

#1978 Set Control Plane Endpoint Optionally
  api/v1beta1/azurecluster_types.go
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azurecluster_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/azurecluster_controller.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1984 bump kubebuilder-tools to 1.20.2
  scripts/fetch_ext_bins.sh
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1996 Disable latest stable k8s version in e2e
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1886 Make load balancer reconcile/delete async
  azure/scope/cluster.go
  azure/services/loadbalancers/client.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/mock_loadbalancers/client_mock.go
  azure/services/loadbalancers/mock_loadbalancers/doc.go
  azure/services/loadbalancers/mock_loadbalancers/loadbalancers_mock.go
  azure/services/loadbalancers/spec.go
  azure/services/loadbalancers/spec_test.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, ok-to-test, lgtm, sig/cluster-lifecycle

#1992 book: Warn about AKS-specific Kubernetes version requirements
  README.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1939 Make network interface reconcile/delete async
  api/v1beta1/conditions_consts.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/networkinterfaces/client.go
  azure/services/networkinterfaces/mock_networkinterfaces/client_mock.go
  azure/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/networkinterfaces/spec.go
  azure/services/networkinterfaces/spec_test.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, ok-to-test, lgtm, sig/cluster-lifecycle

#1941 Make bastion hosts reconcile/delete async
  api/v1beta1/azurecluster_default.go
  azure/scope/cluster.go
  azure/services/bastionhosts/azurebastion.go
  azure/services/bastionhosts/azurebastion_spec.go
  azure/services/bastionhosts/bastionhosts.go
  azure/services/bastionhosts/bastionhosts_test.go
  azure/services/bastionhosts/client.go
  azure/services/bastionhosts/mocks_bastionhosts/bastionhosts_mock.go
  azure/services/bastionhosts/mocks_bastionhosts/client_mock.go
  azure/services/bastionhosts/mocks_bastionhosts/doc.go
  azure/types.go
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/prow-private/kustomization.yaml
  templates/test/ci/prow-private/patches/bastion.yaml
  templates/test/ci/prow-private/patches/vnet-peerings.yaml
  test/e2e/azure_privatecluster.go
  test/e2e/common.go
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1951 Update Go, CAPI, controller-runtime, k8s, controller-tools and go-logr/logr
  .golangci.yml
  Dockerfile
  Makefile
  Tiltfile
  controllers/helpers_test.go
  docs/book/src/developers/development.md
  exp/controllers/helpers_test.go
  exp/controllers/suite_test.go
  go.mod
  go.sum
  hack/ensure-go.sh
  internal/test/env/env.go
  internal/test/mock_log/doc.go
  internal/test/mock_log/log_mock.go
  internal/test/record/logger.go
  metadata.yaml
  pkg/cloudtest/cloudtest.go
  pkg/coalescing/reconciler_test.go
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
  util/tele/composite_logger.go
  util/tele/span_logger.go
Labels: cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2003 Update private cluster cleanup to use the right API version for private DNS
  test/e2e/azure_privatecluster.go
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1985 chore(golangci-lint): add unparam linter
  .golangci.yml
  api/v1beta1/azuremachine_default_test.go
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
  azure/services/scalesets/scalesets_test.go
  controllers/helpers_test.go
  exp/api/v1beta1/azuremanagedcontrolplane_default_test.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/helpers_test.go
  main.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1950 Update AAD Pod Identity to v1.8.6
  config/default/aad-pod-identity-deployment.yaml
  go.mod
  go.sum
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#1999 use latest k8s 1.22 (v1.1.5) cloud-provider-azure version for tests
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/cloud-controller-manager.yaml
  templates/flavors/external-cloud-provider/cloud-node-manager.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1986 chore(golangci-lint): add ifshort linter
  .golangci.yml
  api/v1beta1/azuremachine_default.go
  azure/scope/identity.go
  azure/services/agentpools/agentpools.go
  azure/services/availabilitysets/availabilitysets.go
  exp/api/v1beta1/azuremachinepool_default.go
  exp/api/v1beta1/azuremachinepool_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_default.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  util/tele/corr_id.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#1976 build aks agentpool spec through one method
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2011 Fix the custom vnet test template to provide the route table and nsg names
  docs/book/src/topics/custom-vnet.md
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/prow-custom-vnet/patches/custom-vnet.yaml
  test/e2e/azure_test.go
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#1793 Run the kubescape security scanner in e2e tests
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/helpers.go
  test/e2e/kubescape.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#2010 Capture NSSM log output files in e2e for windows
  test/e2e/azure_logcollector.go
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2015 Update nvidia GPU operator to v1.9.1
  hack/fetch-nvidia-resources.sh
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2006 Increase wait for service timeout in e2e
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2001 Add a subnet role for bastions and enum validation
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/tags.go
  api/v1beta1/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  templates/test/ci/prow-private/patches/bastion.yaml
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#1995 e2e: Use the intersection of images available for windows and ubuntu to determine latest patch
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/e2e_suite_test.go
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2025 use aks-managed-poolName also for vmss match
  exp/controllers/azuremanagedmachinepool_reconciler.go
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle
