Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2022-02, with the labels that each got.

#1921 Make vnets reconcile/delete async
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/async/interfaces.go
  azure/services/async/mock_async/async_mock.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/availabilitysets/client.go
  azure/services/availabilitysets/mock_availabilitysets/client_mock.go
  azure/services/networkinterfaces/client.go
  azure/services/networkinterfaces/mock_networkinterfaces/client_mock.go
  azure/services/roleassignments/roleassignments.go
  azure/services/roleassignments/roleassignments_test.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/mock_virtualmachines/client_mock.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/virtualnetworks/client.go
  azure/services/virtualnetworks/mock_virtualnetworks/client_mock.go
  azure/services/virtualnetworks/mock_virtualnetworks/doc.go
  azure/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  azure/services/virtualnetworks/spec.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  azure/types.go
Labels: cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#2024 Remove failure domains dead link in docs
  docs/book/src/topics/failure-domains.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#2033 fix: docs for aks sku tier
  docs/book/src/topics/managedcluster.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#1927 add support for node labels for managed clusters
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/agentpools/agentpools.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle, area/managedclusters

#2038 [release-1.0] update capi references to v1.0.4, v0.4.7, v0.3.25
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2014 Update CAPI to v1.1.0
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2036 [release-0.5] update capi references to v0.4.7
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2037 [release-1.1] update capi references to v1.0.4, v0.4.7, v0.3.25
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2048 don't fail E2E on security scan failures
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2035 Add jackfrancis to reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2046 Don't ignore kubeconfig directory in git
  .gitignore
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2042 add verify-conversions target
  Makefile
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha4/azureclusteridentity_conversion.go
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedcluster_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepoolmachine_conversion.go
  exp/api/v1alpha4/azuremanagedcluster_conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, release-note-none, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1943 AzureCluster types refactor to separate out shared fields
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/azurecluster_types.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azurecluster_webhook_test.go
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/scope/machine_test.go
  azure/scope/managedcontrolplane.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/scalesetvms_test.go
  azure/services/subnets/subnets_test.go
  controllers/azurejson_machine_controller_test.go
  controllers/azurejson_machinepool_controller_test.go
  controllers/azurejson_machinetemplate_controller_test.go
  controllers/azuremachine_controller_test.go
  controllers/helpers_test.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, release-note-none, approved, size/XXL, lgtm, sig/cluster-lifecycle

#2018 remove machinepool-specific test templates
  docs/book/src/topics/vm-identity.md
  templates/cluster-template-machinepool-multiple-subnets.yaml
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/flavors/machinepool-multiple-subnets/kustomization.yaml
  templates/flavors/machinepool-multiple-subnets/machine-pool-deployment.yaml
  templates/flavors/machinepool-multiple-subnets/patches/azurecluster-subnets.yaml
  templates/flavors/machinepool-multiple-subnets/patches/machine-pool-subnet.yaml
  templates/flavors/machinepool-system-assigned-identity/kustomization.yaml
  templates/flavors/machinepool-system-assigned-identity/machine-pool-deployment.yaml
  templates/flavors/machinepool-system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/machinepool-user-assigned-identity/kustomization.yaml
  templates/flavors/machinepool-user-assigned-identity/machine-pool-deployment.yaml
  templates/flavors/machinepool-user-assigned-identity/patches/user-assigned-identity.yaml
Labels: cncf-cla: yes, size/XL, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2034 Add jsturtevant to reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2043 collect logs when ci-entrypoint.sh is used to run e2e tests
  hack/log/log-dump-daemonset-windows.yaml
  hack/log/log-dump.sh
  scripts/ci-entrypoint.sh
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#2049 Update opentelemetry-go to v1.3.0
  go.mod
  go.sum
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/README.md
  hack/observability/opentelemetry/chart/templates/_config.tpl
  hack/observability/opentelemetry/chart/templates/_pod.tpl
  hack/observability/opentelemetry/chart/templates/pdb.yaml
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
  hack/observability/opentelemetry/values.yaml
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2053 docs: debugging information added
  docs/book/src/developers/development.md
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#2032 add apidiff and verify tilt make target
  Makefile
  Tiltfile
  hack/verify-starlark.sh
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1988 chore(golangci-lint): add predeclared linter
  .golangci.yml
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azuremachine_validation.go
  controllers/helpers.go
  internal/test/test.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2055 Update CAPI upgrade test v1alpha4 version to v0.4.7
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2056 Clean up resource conversion code
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/azureclusteridentity_conversion.go
  api/v1alpha4/azuremachine_conversion.go
  api/v1alpha4/azuremachinetemplate_conversion.go
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedcluster_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepoolmachine_conversion.go
  exp/api/v1alpha4/azuremanagedcluster_conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1963 Add version info to manager and userAgent in Tilt
  Makefile
  Tiltfile
  hack/version.sh
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2021 Generate calico manifests from source
  Makefile
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico-ipv6/patches/azure-mtu.yaml
  templates/addons/calico-ipv6/patches/calico-node.yaml
  templates/addons/calico.yaml
  templates/addons/calico/kustomization.yaml
  templates/addons/calico/patches/azure-mtu.yaml
  templates/addons/calico/patches/calico-node.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#1914 Make subnets reconcile/delete async
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/subnets/client.go
  azure/services/subnets/mock_subnets/client_mock.go
  azure/services/subnets/mock_subnets/doc.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/services/subnets/spec.go
  azure/services/subnets/spec_test.go
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
  azure/types.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, ok-to-test, lgtm, sig/cluster-lifecycle

#2064 Drop disable flag from calico spec so calico pod goes ready
  templates/addons/calico.yaml
  templates/addons/calico/kustomization.yaml
  templates/addons/calico/patches/remove-aws-reference.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2044 chore(golangci-lint): add thelper linter
  .golangci.yml
  exp/controllers/helpers_test.go
Labels: cncf-cla: yes, size/S, kind/cleanup, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2074 correct variable in SetupWithManager function in ammp controller
  exp/controllers/azuremanagedmachinepool_controller.go
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2070 chore(golangci-lint): add gocritic linter
  .golangci.yml
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/types.go
  api/v1alpha4/types.go
  api/v1beta1/azurecluster_webhook_test.go
  api/v1beta1/types.go
  azure/converters/loadbalancers.go
  azure/defaults.go
  azure/scope/cluster.go
  azure/scope/identity.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy.go
  azure/services/bastionhosts/client.go
  azure/services/inboundnatrules/client.go
  azure/services/loadbalancers/client.go
  azure/services/natgateways/client.go
  azure/services/networkinterfaces/client.go
  azure/services/resourceskus/sku.go
  azure/services/routetables/client.go
  azure/services/scalesets/scalesets_test.go
  azure/services/subnets/client.go
  azure/services/virtualmachines/client.go
  azure/services/virtualnetworks/client.go
  azure/services/vnetpeerings/client.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  exp/controllers/helpers.go
  util/tele/composite_logger.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2023 Properly respect externally managed annotation
  controllers/azurecluster_controller.go
  controllers/azureidentity_controller.go
  go.mod
  go.sum
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2066 :bug: Skip InboundNatRule reconciliation if no LB is configured
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/inboundnatrules/inboundnatrules_test.go
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2077 fix(rbac): add namespace list permission
  config/rbac/role.yaml
  controllers/azurecluster_controller.go
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2050 Handle terminal errors in AzureCluster controller
  controllers/azurecluster_controller.go
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2060 refactor api/*/tags.go to move annotation name constants to azure/const.go
  api/v1beta1/tags.go
  azure/const.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/managedcontrolplane.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/M, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2082 Update book release instructions for 1.x releases
  docs/book/src/developers/releasing.md
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#2090 Bump CAPI init with binary version for v1alpha4 upgrade test
  test/e2e/capi_test.go
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2091 Update kustomize to v4.5.2
  Makefile
Labels: kind/feature, cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2089 [release-0.5] Update CAPI test framework to fix etcd upgrade test
  go.mod
  go.sum
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2069 [release-1.1] e2e: Use the intersection of images available for windows and ubuntu to determine latest patch
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1930 add taints to AzureManagedMachinePool
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/agentpools/agentpools.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/prow-aks-multi-tenancy/patches/aks-agentpool1.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle, area/managedclusters

#2075 improve formatted output of `make` or `make help`
  Makefile
Labels: cncf-cla: yes, size/XL, kind/cleanup, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2065 :sparkling: Set InternalDNS address on machines
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
Labels: kind/feature, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2097 remove Windows dockershim MachinePool CI config
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/prow-machine-pool-windows/kustomization.yaml
  templates/test/ci/prow-machine-pool-windows/patches/windows-tmp-folder.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, release-note-none, approved, size/XXL, lgtm, sig/cluster-lifecycle

#2101 don’t check pre-release versions against known capz images
  test/e2e/e2e_suite_test.go
Labels: kind/bug, cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2085 AzureMachinePoolMachine: track concurrent deletes
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy.go
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#2098 Add control-plane role taints and tolerations
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/log/log-dump-daemonset.yaml
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico-ipv6/patches/control-plane-tolerations.yaml
  templates/addons/calico.yaml
  templates/addons/calico/kustomization.yaml
  templates/addons/calico/patches/control-plane-tolerations.yaml
  templates/addons/metrics-server/metrics-server.yaml
  templates/addons/metrics-server/patches/control-plane-toleration.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2105 [release-1.1] Support node-role.kubernetes.io/control-plane tolerations and taints
  hack/log/log-dump-daemonset.yaml
  templates/addons/calico-ipv6.yaml
  templates/addons/calico.yaml
  templates/addons/metrics-server/metrics-server.yaml
  templates/addons/metrics-server/patches/control-plane-toleration.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
  test/e2e/data/shared/v1beta1/metadata.yaml
Labels: cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#2008 Replaced `go get` with `go install` to install binaries
  scripts/go_install.sh
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2108 use AKS 1.22 for e2e exp
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/XS, kind/flake, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2099 don’t validate timesync during capz E2E
  go.mod
  test/e2e/azure_test.go
  test/e2e/azure_timesync.go
  test/e2e/workloads/nsenter/daemonset.yaml
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2061 fix(templates): add identity ref patch to kustomize
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/flavors/system-assigned-identity/kustomization.yaml
  templates/flavors/user-assigned-identity/kustomization.yaml
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2110 Update make targets to grep control plane role
  Makefile
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2020 Support passing custom headers to AKS Managed Cluster and Node Pool create/update requests
  azure/defaults.go
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/agentpools/client.go
  azure/services/agentpools/mock_agentpools/agentpools_mock.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/mock_managedclusters/client_mock.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  config/webhook/manifests.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1beta1/azuremanagedcluster_webhook.go
  exp/api/v1beta1/azuremanagedcluster_webhook_test.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  main.go
  util/maps/maps.go
  util/maps/maps_test.go
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle, area/managedclusters

#2072 Add AzureClusterTemplate type
  PROJECT
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azureclustertemplate_conversion.go
  api/v1beta1/azureclustertemplate_default.go
  api/v1beta1/azureclustertemplate_default_test.go
  api/v1beta1/azureclustertemplate_types.go
  api/v1beta1/azureclustertemplate_validation.go
  api/v1beta1/azureclustertemplate_validation_test.go
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/azureclustertemplate_webhook_test.go
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  api/v1beta1/types_template.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/scope/machine_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_azureclustertemplates.yaml
  config/crd/patches/webhook_in_azureclustertemplates.yaml
  config/webhook/manifests.yaml
  main.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#2113 Change version skew listing to a link to CAPI docs
  README.md
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, kind/documentation, ok-to-test, lgtm, sig/cluster-lifecycle

#2111 Don't default RoleAssignmentName on machine templates
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2109 Update opentelemetry-go to v1.4.0
  go.mod
  go.sum
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/templates/_helpers.tpl
  hack/observability/opentelemetry/chart/templates/ingress.yaml
  hack/observability/opentelemetry/chart/templates/pdb.yaml
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
  pkg/ot/metrics.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2100 test cluster flavors: required, optional, experimental
  Makefile
  test/e2e/azure_test.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2117 AzureClusterTemplate bug fixes
  api/v1beta1/azureclustertemplate_default.go
  api/v1beta1/azureclustertemplate_types.go
  api/v1beta1/azureclustertemplate_validation.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
Labels: kind/bug, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2087 Dump Pod describe for CI
  hack/log/log-dump.sh
  test/e2e/e2e_suite_test.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2115 remove redundant VMSS name substring suffix
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2119 test cluster flavors: required, optional, experimental
  Makefile
  test/e2e/azure_test.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2122 Don't use error.Errorf in controllers to avoid showing stack traces in logs
  controllers/azurecluster_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
Labels: cncf-cla: yes, size/S, kind/cleanup, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2118 [release-0.5] Update AKS test version to v1.22
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2093 Only show applicable conditions for AzureClusters and AzureMachines on async services
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/bastionhosts/bastionhosts.go
  azure/services/bastionhosts/bastionhosts_test.go
  azure/services/disks/disks.go
  azure/services/disks/disks_test.go
  azure/services/groups/groups.go
  azure/services/groups/groups_test.go
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/inboundnatrules/inboundnatrules_test.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/natgateways_test.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/routetables/routetables.go
  azure/services/routetables/routetables_test.go
  azure/services/subnets/spec_test.go
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  azure/services/vnetpeerings/vnetpeerings.go
  azure/services/vnetpeerings/vnetpeerings_test.go
  controllers/azurecluster_controller.go
Labels: kind/feature, cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2131 Use git to clone the repo
  docs/book/src/developers/development.md
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#2133 Cleanup go install script
  scripts/go_install.sh
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle
