Repository kubernetes-sigs/cluster-api-provider-azure, pull requests merged in 2022-03, with the labels that each got.

#2135 Remove logs in Makefile for debugging image push job
  Makefile
Labels: kind/feature, cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2128 Update Calico manifests to v3.22.0
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico-ipv6/patches/calico-config.yaml
  templates/addons/calico.yaml
  templates/addons/calico/kustomization.yaml
  templates/addons/calico/patches/remove-aws-reference.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#2071 chore(golangci-lint): add stylecheck linter
  .golangci.yml
  exp/api/v1beta1/azuremachinepool_test.go
  exp/api/v1beta1/azuremachinepool_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_default.go
  exp/api/v1beta1/azuremanagedcontrolplane_default_test.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2147 Update Calico to v3.22.1
  templates/addons/calico-ipv6.yaml
  templates/addons/calico.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note, approved, lgtm, sig/cluster-lifecycle

#2126 Add warning to docs about reference image availability
  docs/book/src/topics/custom-images.md
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#2148 upgrade to golangci-lint v1.44.2
  Makefile
  azure/services/loadbalancers/client.go
  exp/controllers/azuremanagedmachinepool_reconciler_test.go
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2095 enable/disable AKS cluster add-ons
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  templates/cluster-template-aks-multi-tenancy.yaml
  templates/flavors/aks-multi-tenancy/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
Labels: kind/feature, cncf-cla: yes, area/provider/azure, size/L, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle, area/managedclusters

#2143 AKS template cleanup
  templates/cluster-template-aks-multi-tenancy.yaml
  templates/flavors/aks-multi-tenancy/azure-cluster-identity.yaml
  templates/flavors/aks-multi-tenancy/cluster-template.yaml
  templates/flavors/aks-multi-tenancy/kustomization.yaml
  templates/flavors/aks-multi-tenancy/patches/azurecluster-identity-ref.yaml
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/cluster-template-prow-aks.yaml
  templates/test/ci/prow-aks/kustomization.yaml
  templates/test/ci/prow-aks/patches/addons.yaml
  templates/test/ci/prow-aks/patches/aks-agentpool0.yaml
  templates/test/ci/prow-aks/patches/aks-agentpool1.yaml
  templates/test/ci/prow-aks/patches/aks-agentpool2.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/XL, kind/cleanup, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2137 Use list-v2 option for generating release notes
  Makefile
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2149 Fetch calico manifests from release artifacts
  .gitignore
  Makefile
  templates/addons/calico-ipv6/calico-policy-only.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/calico/kustomization.yaml
Labels: cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#2123 add Eventually() to retryable k8s E2E operations
  test/e2e/aks.go
  test/e2e/azure_failuredomains.go
  test/e2e/azure_gpu.go
  test/e2e/azure_lb.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_privatecluster.go
  test/e2e/helpers.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/namespace/namespace.go
  test/e2e/kubernetes/networkpolicy/networkpolicy.go
  test/e2e/kubernetes/node/node.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/log.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2157 E2E: waiting for services to be deleted before proceeding
  test/e2e/azure_lb.go
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, kind/failing-test, sig/cluster-lifecycle

#2161 docs: fix kustomizelinux dead link in development.md
  docs/book/src/developers/development.md
Labels: cncf-cla: yes, size/XS, area/provider/azure, release-note-none, approved, kind/documentation, lgtm, sig/cluster-lifecycle

#2160 E2E: disable flaky machinepoolmachine drain test
  test/e2e/azure_machinepool_drain.go
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2155 feat: use force delete when deleting VMs
  azure/services/virtualmachines/client.go
Labels: kind/feature, cncf-cla: yes, size/XS, area/provider/azure, release-note, approved, lgtm, sig/cluster-lifecycle

#2156 use quiet mode in docs linter
  .github/workflows/lint-docs.yaml
Labels: cncf-cla: yes, size/S, area/provider/azure, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2172 Refresh owners file
  OWNERS
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2176 Fix outbound lb conversion for v1alpha3 clusters
  api/v1alpha3/azurecluster_conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#2154 feat: add dual-stack support
  Makefile
  docs/book/src/topics/dual-stack.md
  templates/addons/calico-dual-stack.yaml
  templates/addons/calico-dual-stack/kustomization.yaml
  templates/addons/calico-dual-stack/patches/calico-config.yaml
  templates/cluster-template-dual-stack.yaml
  templates/flavors/dual-stack/kustomization.yaml
  templates/flavors/dual-stack/machine-deployment.yaml
  templates/flavors/dual-stack/patches/controlplane-azuremachinetemplate.yaml
  templates/flavors/dual-stack/patches/dual-stack.yaml
  templates/flavors/dual-stack/patches/kubeadm-controlplane.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/prow-dual-stack/kustomization.yaml
  test/e2e/azure_lb.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/kubernetes/deployment/deployment.go
Labels: kind/feature, cncf-cla: yes, area/provider/azure, release-note, approved, size/XXL, lgtm, sig/cluster-lifecycle

#2184 remove implicit labels in OWNERS file
  OWNERS
Labels: cncf-cla: yes, size/XS, kind/cleanup, area/provider/azure, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2174 test: enable ilb e2e with IPv6
  test/e2e/azure_lb.go
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#2186 Bump to golangci-lint v1.45.0
  Makefile
Labels: kind/feature, cncf-cla: yes, size/XS, release-note, approved, lgtm

#2178 [release-1.1] fix outbound lb conversion for v1alpha3 clusters
  api/v1alpha3/azurecluster_conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#2192 docs: add dual-stack topic in SUMMARY.md
  docs/book/src/SUMMARY.md
Labels: cncf-cla: yes, size/XS, release-note-none, approved, kind/documentation, lgtm

#2191 [release-1.0] fix outbound lb conversion for v1alpha3 clusters
  api/v1alpha3/azurecluster_conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, size/M, release-note, approved, lgtm, sig/cluster-lifecycle

#2163 enableUltraSSD for managed AKS clusters
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  templates/test/ci/cluster-template-prow-aks.yaml
  templates/test/ci/prow-aks/patches/aks-agentpool0.yaml
Labels: cncf-cla: yes, area/provider/azure, size/L, release-note-none, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2080 chore(clusterscope): add unit tests for cluster scope methods
  azure/scope/cluster_test.go
Labels: kind/bug, cncf-cla: yes, area/provider/azure, release-note-none, approved, size/XXL, lgtm, sig/cluster-lifecycle

#2196 Bump to golangci-lint v1.45.2
  Makefile
Labels: kind/feature, cncf-cla: yes, size/XS, release-note, approved, lgtm

#2130 Fix compiler errors when viewing e2e tests in the IDE's
  test/e2e/aks.go
  test/e2e/azure_failuredomains.go
  test/e2e/azure_gpu.go
  test/e2e/azure_net_pol.go
  test/e2e/azure_selfhosted.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_suite_vars.go
  test/e2e/helpers.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/namespace/namespace.go
  test/e2e/kubernetes/networkpolicy/networkpolicy.go
  test/e2e/kubernetes/node/node.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/kubernetes/windows/windows.go
  test/e2e/kubescape.go
  test/e2e/log.go
  test/e2e/retry.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle

#1873 chore(role_assignment): make roleassignment reconcile async
  azure/defaults.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/services/roleassignments/client.go
  azure/services/roleassignments/mock_roleassignments/client_mock.go
  azure/services/roleassignments/mock_roleassignments/roleassignments_mock.go
  azure/services/roleassignments/roleassignments.go
  azure/services/roleassignments/roleassignments_test.go
  azure/services/roleassignments/spec.go
  azure/services/scalesets/client.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
Labels: cncf-cla: yes, size/XL, area/provider/azure, release-note, approved, ok-to-test, lgtm, sig/cluster-lifecycle

#2167 use converters for AKS SDK agentpool definition
  azure/converters/managedagentpool.go
  azure/converters/managedagentpool_test.go
  azure/services/agentpools/agentpools.go
  azure/services/managedclusters/managedclusters.go
Labels: cncf-cla: yes, kind/cleanup, area/provider/azure, size/L, release-note-none, approved, lgtm, sig/cluster-lifecycle, area/managedclusters

#2200 fix typo
  README.md
Labels: cncf-cla: yes, size/XS, release-note-none, approved, kind/documentation, ok-to-test, lgtm

#2199 style: Hide generated cluster templates in diffs
  .gitattributes
Labels: cncf-cla: yes, size/XS, kind/cleanup, release-note-none, approved, lgtm

#2203 Remove ObjectMeta.ClusterName usage
  controllers/helpers_test.go
Labels: kind/bug, cncf-cla: yes, size/XS, release-note-none, approved, ok-to-test, lgtm

#2198 Update make target when ccm test
  scripts/ci-build-azure-ccm.sh
Labels: cncf-cla: yes, size/S, release-note, approved, lgtm

#2188 AKS e2e: use latest stable k8s version
  test/e2e/aks.go
  test/e2e/config/azure-dev.yaml
Labels: cncf-cla: yes, size/M, release-note, approved, lgtm, kind/failing-test
